<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('edad', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.datetime('nacimiento_date', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.checkbox('amas', scope) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





