<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('poa', scope, {
                    column: 'name',
                    table: 'poa',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "poa_linked", fieldFrom: "id", fieldTo: "myid(poa)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('producto', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.date('fecha_inicio', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.date('fecha_fin', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('responsable', scope, {
                    column: 'name',
                    table: 'responsable',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "responsable_linked", fieldFrom: "id", fieldTo: "myid(responsable)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('presupuesto', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.checkbox('completa', scope) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('comentario', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('razon', scope, {
                    column: 'name',
                    table: 'razon',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "razon_linked", fieldFrom: "id", fieldTo: "myid(razon)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('estatus', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('originalid', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('departamento', scope, {
                    column: 'name',
                    table: 'departamento',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "departamento_linked", fieldFrom: "id", fieldTo: "myid(departamento)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('tipo_inversion', scope, {
                    column: 'name',
                    table: 'tipo_inversion',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "tipo_inversion_linked", fieldFrom: "id", fieldTo: "myid(tipo_inversion)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.checkbox('maneja_presupuesto', scope) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('order_at', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('calificacion', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('presupuesto_proyectado', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('cantidad_completa', scope, {
                        //length:15
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





