<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-2 col-md-2" style="margin-top: 8px;">
                <%- FORM.input("edt", scope, {maxlength: 5, placeholder: "No. Secuencia"}) %>
            </div>
            <div class="col-sm-4 col-md-4 drp-pt" ng-show="mods.show_me">
                <%- FORM.select("ods", scope, {
                    text: "item.edt + ' ' + item.nombre",
                    permission: "ods",
                    table: "ods",
                    icon: {class: "archive"},
                    truelabel: "Objetivo de Desarrollo Sostenible"
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-6 col-md-6'>
                <%- FORM.textarea('nombre', scope, {

                }) %>
            </div>
            <div class='col-sm-6 col-md-6'>
                <%- FORM.textarea('descripcion', scope, {
                        //maxlength: 200,
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





