<style>
    #tb-custom2 .percent, .money {
        top: 11px !important;
    }

    #tb-custom2 .has-feedback label ~ .form-control-feedback {
        top: 25px !important;
    }

    .tbodyDetails .legitRipple {
        height: 40px !important;
    }
</style>

<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat grayPanel">
        <div class="page-header-lg page-header-sm page-header">
            <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
            <ul class="breadcrumb-elements visible-elements">
                <li dragonlanguage="">
                </li>
            </ul>
            <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        </div>
        <div class="subcontent">
            <div class="row">
                <div ng-show="indicador_producto_poa_actividad.indicador_poa!='[NULL]'">
                    <button ng-if="!indicador_producto_poa_actividad.queries.id"
                            ng-show="(indicador_producto_poa_actividad.allow(['Guardar']) && indicador_producto_poa_actividad.ver_estado === indicador_producto_poa_actividad.estatus)"
                            dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
                            type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
                            ng-click="indicador_producto_poa_actividad.cancel_pei_ano();">
                        <b><i class="icon-cross2"></i></b>
                        <language>MESSAGE.ic('mono.cancel')</language>
                    </button>
                    <button ng-if="!indicador_producto_poa_actividad.queries.id"
                            ng-show="indicador_producto_poa_actividad.allow(['Cancelar']) && indicador_producto_poa_actividad.ver_estado === indicador_producto_poa_actividad.estatus"
                            dragonlanguage="" title="MESSAGE.ic('mono.save')"
                            type="button" role="button"
                            class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                            ng-click="indicador_producto_poa_actividad.save_pei_ano();">
                        <b><i class="icon-floppy-disk"></i></b>
                        <language>MESSAGE.ic('mono.save')</language>
                    </button>
                </div>
                <div class="col-md-12" style="margin-top: 15px">
                    <div class="panel panel-<%= COLOR.secundary %>"
                         ng-show="!indicador_producto_poa_actividad.queries.id">
                        <div class="panel-body">
                            <div class="row set-label">
                                <span>
                                    <h6 style="margin-bottom: 18px;border-bottom-width: 0px;border-bottom-style: solid;padding-bottom: 0px;margin-top: -15px;border-right-width: 0px;border-right-style: solid;border-top-width: 0px;border-top-style: solid;margin-right: 0px;">Filtrar por</h6>
                                </span>
                                <div class="col-sm-6 col-md-6"
                                     ng-if="indicador_producto_poa_actividad.session.tipo_institucion == 1">
                                    <%- FORM.select("producto", scope, {
                                        allownew: false,
                                        allowedit: false,
                                        allowview: false,
                                        allowlist: false,
                                        refresh: false,
                                        text: "item.no_producto+' '+item.Nombre + ' ('+ item.cantidad +')'",
                                        table: "vw_indicador_poa",
                                        traduce: false,
                                        icon: {class: "archive"},
                                        condition: "item.poa == indicador_producto_poa_actividad.conditionPoa.poa_id && item.estatus == 3"
                                    }) %>
                                </div>
                                <div class="col-sm-6 col-md-6"
                                     ng-if="indicador_producto_poa_actividad.session.tipo_institucion == 2">
                                    <%- FORM.select("producto", scope, {
                                        allownew: false,
                                        allowedit: false,
                                        allowview: false,
                                        allowlist: false,
                                        refresh: false,
                                        text: "item.no_producto+' '+item.Nombre + ' ('+ item.cantidad +')'",
                                        table: "vw_indicador_poa",
                                        traduce: false,
                                        icon: {class: "archive"},
                                        condition: "item.poa == indicador_producto_poa_actividad.conditionPoa.poa_id && item.estatus == 3"
                                    }) %>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <%- FORM.select("actividad", scope, {
                                        allownew: false,
                                        allowedit: false,
                                        allowview: false,
                                        allowlist: false,
                                        refresh: false,
                                        text: "item.actividad + ' ('+ item.county +')'",
                                        label: "Nombre de Actividad",
                                        table: "vw_actividades_poa",
                                        traduce: false,
                                        icon: {class: "archive"},
                                        condition: "item.poa == indicador_producto_poa_actividad.conditionPoa.poa_id"
                                    }) %>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-<%= COLOR.secundary %>">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 col-md-6" ng-show="indicador_producto_poa_actividad.queries.id">
                                    <%- FORM.inputview("indicador_poa_object.Nombre", scope, {}) %>
                                </div>
                                <div class="col-sm-6 col-md-6" ng-show="indicador_producto_poa_actividad.queries.id">
                                    <%- FORM.inputview("indicador_poa_object.actividades_poa_nombre", scope, {}) %>
                                </div>
                                <div class="col-sm-6 col-md-6" ng-show="indicador_producto_poa_actividad.queries.id"
                                     ng-if="indicador_producto_poa_actividad.session.tipo_institucion == 1">
                                    <%- FORM.inputview("indicador_poa_object.producto", scope, {}) %>
                                </div>
                                <div class="col-sm-6 col-md-6" ng-show="indicador_producto_poa_actividad.queries.id"
                                     ng-if="indicador_producto_poa_actividad.session.tipo_institucion == 2">
                                    <%- FORM.inputview("indicador_poa_object.producto", scope, {}) %>
                                </div>
                                <div class="col-sm-6 col-md-6" ng-show="indicador_producto_poa_actividad.queries.id">
                                    <%- FORM.inputview("indicador_poa_object.departamento_nombre", scope, {}) %>
                                </div>

                                <div class="row" ng-show="!indicador_producto_poa_actividad.queries.id">
                                    <div class="col-sm-6 col-md-6">
                                        <%- FORM.select("indicador_poa", scope, {
                                            allownew: false,
                                            allowedit: false,
                                            allowview: false,
                                            allowlist: false,
                                            refresh: false,
                                            text: "item.Nombre +' ('+ (item.departamento_nombre|| 'Sin departamento')+')'",
                                            table: "vw_indicador_actividad",
                                            icon: {class: "archive"},
                                            traduce: false,
                                            condition: "(item.poa == indicador_producto_poa_actividad.conditionPoa.poa_id && item.estatus == 3) && (indicador_producto_poa_actividad.producto == (item.indicador_poa+'') || indicador_producto_poa_actividad.producto==='[NULL]') && ((indicador_producto_poa_actividad.actividad == (item.actividades_poa+'') || indicador_producto_poa_actividad.actividad==='[NULL]'))"
                                        }) %>
                                    </div>
                                    <div class="col-sm-6 col-md-6"
                                         ng-if="indicador_producto_poa_actividad.form.selected('indicador_poa')">
                                        <label class="control-label is-visible animate ng-binding">Departamento</label>
                                        <input style="margin-bottom: 20px;overflow-x: hidden;overflow-wrap: break-word;height: 31.5px;text-align: left;"
                                               id="metodo_calculo" disabled="" class="form-control ng-binding"
                                               value="{{indicador_producto_poa_actividad.form.selected('indicador_poa').departamento_nombre}}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <label class="control-label is-visible animate ng-binding">Descripción de la
                                        meta</label>
                                    <textarea style="margin-bottom: 20px;"
                                              id="descripcion" disabled="false" class="form-control" maxlength="4000"
                                              ng-model="indicador_producto_poa_actividad.descripcion"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <label class="control-label is-visible animate ng-binding">Fuente</label>
                                    <textarea style="margin-bottom: 20px;"
                                              id="fuente" disabled="false" class="form-control" maxlength="255"
                                              ng-model="indicador_producto_poa_actividad.fuente"></textarea>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <label class="control-label is-visible animate ng-binding">Método de Cálculo</label>
                                    <textarea style="margin-bottom: 20px;"
                                              id="metodo_calculo" disabled="false" class="form-control" maxlength="255"
                                              ng-model="indicador_producto_poa_actividad.metodo_calculo"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <%- FORM.inputview("tipo_meta_nombre", scope, {}) %>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <%- FORM.inputview("direccion_meta_nombre", scope, {}) %>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <%- FORM.inputview("ano_linea_base", scope, {}) %>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <%- FORM.inputview("linea_base", scope, {}) %>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <%- FORM.inputview("periodicidad", scope, {}) %>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8 col-md-8">
                                    <label class="control-label is-visible animate ng-binding">Medio de
                                        Verificación</label>
                                    <textarea style="margin-bottom: 20px;"
                                              id="medio_verificacion" disabled="false" class="form-control"
                                              maxlength="4000"
                                              ng-model="indicador_producto_poa_actividad.medio_verificacion"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-<%= COLOR.secundary %>">
                        <div class="panel-heading" style="border-bottom-color: #dedede">
                            <h6 class="panel-title" dragonlanguage>
                                <span>Evaluación y Carga de Evidencias / Indicador Actividad</span>
                                <span class="pull-right" style="color: red" ng-show="<%= scope %>.rol_bloqueado">Usted tiene deshabilitada la opción para evaluar o subir evidencias.</span>
                            </h6>
                        </div>
                        <div class="panel-body">
                            <div class="row over-table"
                                 style="height: {{140*indicador_producto_poa_actividad.list_indicador_producto_poa_actividad.length}}px">
                                <table class="table table-bordered  dragon-table" id="tb-custom2">
                                    <thead class="">
                                    <tr class="bg-{{indicador_producto_poa_actividad.colors}} dragon-columns">
                                        <th style="text-align: center; vertical-align: middle;width: 5%" height="0">
                                            Periodo
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;width: 5%" height="0">
                                            Meta
                                        </th>
                                        <th style="text-align: center;width: 15%; vertical-align: middle" height="0">
                                            Meta Alcanzada
                                        </th>
                                        <!--                                        <th style="text-align: center; vertical-align: middle;width: 5%" height="0">-->
                                        <!--                                            Diferencia-->
                                        <!--                                        </th>-->
                                        <th ng-show="!indicador_producto_poa_actividad.queries.id"
                                            style="text-align: center;width: 60%; vertical-align: middle" height="0">
                                            Observaciones
                                        </th>
                                        <th ng-show="!indicador_producto_poa_actividad.queries.id"
                                            style="text-align: center; vertical-align: middle;width: 15%">Acciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody id="tb" class="tbodyDetails">

                                    <tr ng-repeat="(key,value) in indicador_producto_poa_actividad.list_indicador_producto_poa_actividad"
                                        repeat-end="indicador_producto_poa_actividad.applyMasks()" style="height: 130px"
                                        class="dragon-rows">
                                        <td style="text-align: center; vertical-align: middle;" class="meta">
                                            {{value.periodo}}
                                        </td>
                                        <td style="text-align: right; vertical-align: middle;" class="meta">
                                            {{indicador_producto_poa_actividad.formatear(value.valor)}}
                                        </td>
                                        <td style="text-align: right; vertical-align: middle;">

                                            <div class="subcontainer{{value.id}} acomodar" title="{{value.message}}">

                                            </div>
                                            <div style="    margin-top: -50px;"
                                                 ng-show="value.allow.allow===1">
                                                <a

                                                        style="height: 38px;width: 17px;background-color: transparent;cursor: pointer;"
                                                        class="savepartialy"
                                                        ng-click="indicador_producto_poa_actividad.save_pei_ano(value.id);">
                                                    <i class="icon-floppy-disk text-secundary-200"
                                                       style=" color: #ccc !important;">

                                                    </i>
                                                </a>
                                                <a

                                                        style="height: 38px;width: 17px;background-color: transparent;cursor: pointer;font-size: 22px; color: #ccc !important;"
                                                        class="savepartialy"
                                                        ng-click="indicador_producto_poa_actividad.save_pei_ano(value.id,true);">
                                                    <i class="icon-rotate-ccw3 text-secundary-300"
                                                       style="font-size: 17px;margin-top: 5px;color: #ccc !important;margin-left: 10px;">

                                                    </i>
                                                </a>
                                            </div>
                                            <a data-history="indicador_producto_poa_actividad"
                                               data-type="indicador_producto_poa_actividad"
                                               data-id="{{value.id}}" data-toggle="tooltip" data-formula="${row.cambio}"
                                               data-label="Historial de cambios para el indicador {{indicador_producto_poa_actividad.indicador_poa_object.Nombre}}, Periodo {{value.periodo}}"
                                               title="Historial"
                                               style="cursor: pointer;font-size: 22px; color: #ccc !important;float: left;margin-top: 45px"
                                               class="savepartialy">
                                                <i class="icon-sort-time-asc" style="font-size: 19px;"></i>
                                            </a>
                                        </td>
                                        <!--                                        <td style="text-align: right;vertical-align: middle;" class="variacion">-->
                                        <!--                                            {{indicador_producto_poa_actividad.restar(value.id,value.valor==null?0:value.valor)}}-->
                                        <!--                                        </td>-->
                                        <td ng-show="!indicador_producto_poa_actividad.queries.id"
                                            style="vertical-align: middle;{{value.allow.condition?'border: red outset':''}}">
                                            <div>
                                            <textarea ng-show="value.count_comment > 0" ng-readonly="true"
                                                      style="overflow: hidden; overflow-wrap: break-word; min-height: 80px; text-align: left;"
                                                      class="form-control no-border-readonly">{{value.comment}}</textarea>
                                            </div>
                                            <div style="float: right;margin-left: 14px;">
                                                <button
                                                        type="button"
                                                        class="btn bg-warning btn-xs mr-0"
                                                        style="margin-top: 6px;"
                                                        ng-if="(value.allow.condition==1 || value.allow.allow===1) && !<%= scope %>.rol_bloqueado"
                                                        ng-click="indicador_producto_poa_actividad.notificar(value.periodo)">
                                                    <b><i class="icon-warning"></i></b>
                                                </button>
                                            </div>
                                            <div style="margin-top: 13px;">
                                                <a ng-show="value.count_comment > 0"
                                                   style="float: right;"
                                                   class="seeTextComplete metacomment{{$index}}"
                                                   ng-click="indicador_producto_poa_actividad.openmodalField(0,value.periodo,value.indicador_poa);">
                                                    Ver todo ({{value.count_comment}})
                                                </a>
                                                <a style="float: left" class="seeTextComplete"
                                                   ng-show="value.allow.allow===1"
                                                   ng-click="indicador_producto_poa_actividad.openmodalField(1,value.periodo,value.indicador_poa);">
                                                    Agregar comentario
                                                </a>
                                            </div>

                                        </td>

                                        <td ng-show="!indicador_producto_poa_actividad.queries.id"
                                            style="text-align: center; width: 0px;vertical-align: middle;" height="0">

                                            <div class="permitido  modificar modificarActividad" style="display: none"
                                                 dragoncontrol="file"
                                                 ng-if="value.allow.allow===1"
                                                 cols="12" name="IndicadorPOA{{value.id}}" scope="<%= scope %>"
                                                 id="IndicadorPOA{{value.id}}" cache="false">
                                                {
                                                maxfiles: 50,
                                                columns: 4,
                                                folder:"indicador_producto_poa_actividad/META{{value.id}}",
                                                alone:true,
                                                }
                                            </div>

                                            <div class=" modificar modificarActividad" style="display: none"
                                                 dragoncontrol="file"

                                                 ng-if="value.allow.allow!==1"
                                                 cols="12" name="IndicadorPOA{{value.id}}" scope="<%= scope %>"
                                                 id="IndicadorPOA{{value.id}}" cache="false">
                                                {
                                                maxfiles: 50,
                                                columns: 4,
                                                folder:"indicador_producto_poa_actividad/META{{value.id}}",
                                                alone:true,
                                                }
                                            </div>

                                        </td>
                                    </tr>

                                    </tbody>
                                    <tfoot id="totals" ng-show="false">
                                        <tr class="dragon-columns" style="font-weight: bold">
                                            <td colspan="1" style="vertical-align: middle">Total</td>
                                            <td style="text-align: right;">
                                                {{indicador_producto_poa_actividad.meta_total_desc}}
                                            </td>
                                            <td style="text-align: right;">
                                                {{indicador_producto_poa_actividad.meta_total_alca}}
                                            </td>
                                            <td style="text-align: right;display: none" id="variacion">
                                                <i class="{{indicador_producto_poa_actividad.iconfinal}}"></i>
                                                {{indicador_producto_poa_actividad.getTotalVariacion()}}
                                            </td>
                                            <td colspan="1" style="vertical-align: middle">Cumplimiento
                                                <span title="{{(<%= scope %>.cumplidor||{}).ponderacion.titulo}}" style="padding: 10px;border-radius: 20px;color:white;font-weight: bold;background-color: {{(<%= scope %>.cumplidor||{}).ponderacion.color}}">
                                                    {{(<%= scope %>.cumplidor||{}).cumplimiento||0}}%
                                                </span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!indicador_producto_poa.queries.id"
             ng-show="!indicador_producto_poa_actividad.queries.id && indicador_producto_poa_actividad.indicador_poa!='[NULL]'"
             class="modal-footer"
             style="padding-top: 15px;">
                <span class="label label-white text-<%= TAG.table %>-300 label-rounded label-icon">
                <i class="position-right"></i>
                </span>
            <!---->
            <div ng-show="indicador_producto_poa_actividad.indicador_poa!='[NULL]'">
                <button ng-show="indicador_producto_poa_actividad.allow(['Guardar']) && indicador_producto_poa_actividad.ver_estado === indicador_producto_poa_actividad.estatus"
                        dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
                        type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
                        ng-click="indicador_producto_poa_actividad.cancel_pei_ano();">
                    <b><i class="icon-cross2"></i></b>
                    <language>MESSAGE.ic('mono.cancel')</language>
                </button>
                <button ng-show="indicador_producto_poa_actividad.allow(['Cancelar']) && indicador_producto_poa_actividad.ver_estado === indicador_producto_poa_actividad.estatus"
                        dragonlanguage="" title="MESSAGE.ic('mono.save')"
                        type="button" role="button"
                        class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                        ng-click="indicador_producto_poa_actividad.save_pei_ano();">
                    <b><i class="icon-floppy-disk"></i></b>
                    <language>MESSAGE.ic('mono.save')</language>
                </button>
            </div>
        </div>
    </div>
</div><!--end-->
