<style>
    #tb-custom2 .percent, .money {
        top: 11px !important;
    }

    #tb-custom2 .has-feedback label ~ .form-control-feedback {
        top: 20px;
    }

    .tbodyDetails .legitRipple {
        height: 40px !important;
    }
</style>

<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat grayPanel">
        <div class="page-header-lg page-header-sm page-header page-header-default border-bottom-lg border-bottom-<%= COLOR.secundary %>">
            <!--Breadcrumb and Table Options-->
            <div class="breadcrumb-line">

                <%- include('../../7-plugins/templates/header/rastro',{scope:scope}); %>
                <ul ng-if="<%= scope %>.headertitle" class="breadcrumb visible-lg visible-md" dragonlanguage="">
                    <li ng-repeat="(key, menu) in <%= scope %>.MENU.parents track by key">
                        <a data-function="menu" href="javascript:void(0)">
                            <i class="{{menu.icon}} position-left"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left" ng-show="menu.childs.length>0">
                            <li ng-repeat="(subkey, submenu) in menu.childs track by subkey"
                                class="{{<%= scope %>.sameHref(submenu,'bg-<%= COLOR.extra %>-300')||''}}">
                                <a href="{{<%= scope %>.sameHref(submenu,'javascript:void(0)')||submenu.href}}"
                                   class="">
                                    <i class="{{submenu.icon}}"></i>{{submenu.text}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="active" ng-if="indicador_generico_poa.entidadParams">
                        <a data-function="menu" href="javascript:void(0)">
                            {{<%= scope %>.headertitle}}
                        </a>
                    </li>
                    <!--                    <li ng-show="!indicador_generico_poa.entidadParams">-->
                    <!--                        <a data-function="menu" href="javascript:void(0)">-->
                    <!--                            <span class="btn"> Otros Indicadores</span>-->
                    <!--                        </a>-->
                    <!--                        <ul class="dropdown-menu dropdown-menu-left">-->
                    <!--                            <li ng-repeat="(key, menu) in indicador_generico_poa.tipos" class=""-->
                    <!--                                ng-if="menu.table_!=indicador_generico_poa.entidad" title="{{menu.name}}">-->
                    <!--                                <a ng-click="indicador_generico_poa.changeIndicador(menu.table_)"-->
                    <!--                                   class="">-->
                    <!--                                    <i class="icons-list"></i>{{menu.name}}-->
                    <!--                                </a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->
                </ul>


            </div>
            <!--Breadcrumb and Table Options-->
        </div>
        <div class="subcontent">
            <div class="row" ng-show="!indicador_generico_poa.queries.id">
                <div ng-show="indicador_generico_poa.indicador_generico!='[NULL]'">
                    <button ng-show="indicador_generico_poa.allow(['Guardar']) && indicador_generico_poa.ver_estado === indicador_generico_poa.estatus"
                            dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
                            type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
                            ng-click="indicador_generico_poa.cancel_pei_ano();">
                        <b><i class="icon-cross2"></i></b>
                        <language>MESSAGE.ic('mono.cancel')</language>
                    </button>
                    <button ng-show="indicador_generico_poa.allow(['Cancelar']) && indicador_generico_poa.ver_estado === indicador_generico_poa.estatus"
                            dragonlanguage="" title="MESSAGE.ic('mono.save')"
                            type="button" role="button"
                            class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                            ng-click="indicador_generico_poa.save_pei_ano();">
                        <b><i class="icon-floppy-disk"></i></b>
                        <language>MESSAGE.ic('mono.save')</language>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-<%= COLOR.secundary %>">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-6 col-md-6" ng-show="indicador_generico_poa.queries.id">
                                    <%- FORM.inputview("indicador_generico_object.nombre_indicador", scope, {}) %>
                                </div>
                                <div class="col-sm-6 col-md-6" ng-show="!indicador_generico_poa.queries.id">
                                    <%- FORM.select("year", scope, {
                                        allownew: false,
                                        allowedit: false,
                                        allowview: false,
                                        allowlist: false,
                                        takelast: true,
                                        refresh: true,
                                        text: "item.ano",
                                        value: "ano",
                                        table: "vw_indicador_generico",
                                        icon: {class: "archive"},
                                        condition: "item.table_==indicador_generico_poa.entidadobj.id && item.compania==indicador_generico_poa.session.compania_id",
                                        query: {
                                            limit: 0,
                                            page: 1,
                                            columns: ["compania", "table_", "ano"],
                                            where: [{field: "ano", operator: " is ", value: "$ not null "}],
                                            orderby: "ano",
                                            order: "asc",
                                            distinct: true
                                        }
                                    }) %>
                                </div>
                                <div class="col-sm-6 col-md-6" ng-show="!indicador_generico_poa.queries.id"
                                     ng-if="indicador_generico_poa.entidadParams &&  indicador_generico_poa.entidad==='vw_procesos'">
                                    <script>
                                        delete CRUD_indicador_generico.table.single;
                                    </script>
                                    <%- FORM.select("indicador_generico", scope, {
                                        allownew: false,
                                        allowedit: false,
                                        allowview: false,
                                        allowlist: false,
                                        refresh: false,
                                        text: "item.nombre +' ('+ (item.departamento_nombre|| 'Sin departamento')+')'",
                                        table: "indicador_generico",
                                        icon: {class: "archive"},
                                        query: {
                                            limit: 0,
                                            // page: 1,
                                            // where: [],
                                            // orderby: 'id',
                                            // order: 'asc',
                                            // distinct: false,
                                            join: [
                                                {
                                                    join: "left",
                                                    table: "departamento",
                                                    base: "departamento",
                                                    field: "id",
                                                    columns: ["id", "nombre"]
                                                },
                                                {
                                                    table: "procesos",
                                                    base: "registro",
                                                    field: "id",
                                                    columns: ["id", "nombre", "mapa_proceso"]
                                                },
                                                {
                                                    table: "mapa_proceso",
                                                    base: "procesos.mapa_proceso",
                                                    field: "id",
                                                    columns: ["id", "nombre", "estatus"]
                                                }
                                            ],
                                        },
                                        condition: "item.ano==indicador_generico_poa.year && item.mapa_proceso_estatus!=4 && item.table_==indicador_generico_poa.entidadobj.id && item.compania==indicador_generico_poa.session.compania_id"
                                    }) %>
                                </div>
                                <div class="col-sm-6 col-md-6" ng-show="!indicador_generico_poa.queries.id"
                                     ng-if="indicador_generico_poa.entidadParams &&  indicador_generico_poa.entidad==='vw_proyecto_item'">
                                    <script>
                                        delete CRUD_indicador_generico.table.single;
                                    </script>
                                    <%- FORM.select("indicador_generico", scope, {
                                        allownew: false,
                                        allowedit: false,
                                        allowview: false,
                                        allowlist: false,
                                        refresh: false,
                                        text: "item.nombre +' ('+ (item.departamento_nombre|| 'Sin departamento')+')'",
                                        table: "indicador_generico",
                                        icon: {class: "archive"},
                                        query: {
                                            limit: 0,
                                            // page: 1,
                                            // where: [],
                                            // orderby: 'id',
                                            // order: 'asc',
                                            // distinct: false,
                                            join: [
                                                {
                                                    join: "left",
                                                    table: "departamento",
                                                    base: "departamento",
                                                    field: "id",
                                                    columns: ["id", "nombre"]
                                                },
                                                {
                                                    table: "proyecto_item",
                                                    base: "registro",
                                                    field: "id",
                                                    columns: ["id", "nombre", "estatus"]
                                                },
                                            ],
                                        },
                                        condition: "item.ano==indicador_generico_poa.year && item.proyecto_item_estatus==2 && item.table_==indicador_generico_poa.entidadobj.id && item.compania==indicador_generico_poa.session.compania_id"
                                    }) %>
                                </div>
                                <div class="col-sm-6 col-md-6" ng-show="!indicador_generico_poa.queries.id"
                                     ng-if="indicador_generico_poa.entidadParams &&  (indicador_generico_poa.entidad!=='vw_procesos' && indicador_generico_poa.entidad!=='vw_proyecto_item')">
                                    <%- FORM.select("indicador_generico", scope, {
                                        allownew: false,
                                        allowedit: false,
                                        allowview: false,
                                        allowlist: false,
                                        refresh: false,
                                        text: "item.nombre +' ('+ (item.departamento_nombre|| 'Sin departamento')+')'",
                                        table: "indicador_generico",
                                        icon: {class: "archive"},
                                        condition: "item.ano==indicador_generico_poa.year && item.table_==indicador_generico_poa.entidadobj.id && item.compania==indicador_generico_poa.session.compania_id",
                                        join: [
                                            {
                                                join: "left",
                                                table: "departamento",
                                                base: "departamento",
                                                field: "id",
                                                columns: ["id", "nombre"]
                                            }
                                        ]
                                    }) %>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <label class="control-label is-visible animate ng-binding">Fuente</label>
                                    <textarea style="padding-top: 0px !important; height: 25px; margin-bottom: 20px;"
                                              id="fuente" disabled="false" class="form-control" maxlength="255"
                                              ng-model="indicador_generico_poa.fuente"></textarea>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <label class="control-label is-visible animate ng-binding">Método de Cálculo</label>
                                    <textarea style="padding-top: 0px !important; height: 25px; margin-bottom: 20px;"
                                              id="metodo_calculo" disabled="false" class="form-control" maxlength="255"
                                              ng-model="indicador_generico_poa.metodo_calculo"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <%- FORM.inputview("tipo_meta_nombre", scope, {}) %>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <%- FORM.inputview("direccion_meta_nombre", scope, {}) %>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <%- FORM.inputview("ano_linea_base", scope, {}) %>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <%- FORM.inputview("linea_base", scope, {}) %>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <label class="control-label is-visible animate ng-binding">Medio de
                                        Verificación</label>
                                    <textarea style="padding-top: 0px !important; height: 25px; margin-bottom: 20px;"
                                              id="medio_verificacion" disabled="false" class="form-control"
                                              maxlength="4000"
                                              ng-model="indicador_generico_poa.medio_verificacion"></textarea>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <%- FORM.inputview("ano", scope, {}) %>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <%- FORM.inputview("periodicidad", scope, {}) %>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="col-sm-12 col-md-12">
                                    <label class="control-label is-visible animate ng-binding">Descripción del
                                        indicador</label>
                                    <textarea style="padding-top: 0px !important; height: 25px; margin-bottom: 20px;"
                                              id="descripcion" disabled="false" class="form-control" maxlength="4000"
                                              ng-model="indicador_generico_poa.descripcion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="indicador_generico_poa.loading===true">
                <div class="col-md-12">
                    <div class="panel panel-<%= COLOR.secundary %>">
                        <div class="panel-body">
                            <h1>Cargando Datos del Indicador, porfavor espere</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="!indicador_generico_poa.loading">
                <div class="col-md-12">
                    <div class="panel panel-<%= COLOR.secundary %>">
                        <div class="panel-body">
                            <div class="row over-table"
                                 style="height: {{100*indicador_generico_poa.list_indicador_generico_poa.length}}px">
                                <table class="table table-bordered dragon-table" id="tb-custom2"
                                >
                                    <thead class="">
                                    <tr class="bg-{{indicador_generico_poa.colors}} dragon-columns">
                                        <th style="text-align: center; vertical-align: middle" height="0">Periodo</th>
                                        <th style="text-align: center; vertical-align: middle" height="0">Meta</th>
                                        <th style="text-align: center;width: 20%; vertical-align: middle" height="0">
                                            Meta Alcanzada
                                        </th>
                                        <!--                                        <th style="text-align: center; vertical-align: middle" height="0">Diferencia-->
                                        <!--                                        </th>-->
                                        <th ng-show="!indicador_generico_poa.queries.id"
                                            style="text-align: center;width: 30%; vertical-align: middle" height="0">
                                            Observaciones
                                        </th>
                                        <th ng-show="!indicador_generico_poa.queries.id"
                                            style="text-align: center; vertical-align: middle">Acciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody id="tb" class="tbodyDetails">

                                    <tr ng-repeat="(key,value) in indicador_generico_poa.list_indicador_generico_poa"
                                        repeat-end="indicador_generico_poa.applyMasks()" style="height: 90px"
                                        class="dragon-rows">
                                        <td style="text-align: center; vertical-align: middle;" class="meta">
                                            {{value.periodo}}
                                        </td>
                                        <td style="text-align: right; vertical-align: middle;" class="meta">
                                            {{indicador_generico_poa.formatear(value.valor)}}
                                        </td>
                                        <td style="text-align: right; vertical-align: middle;">
                                            <div class="subcontainer{{value.id}} acomodar" title="{{value.message}}">

                                            </div>
                                            <div style="    margin-top: -50px;"
                                                 ng-show="value.allow.allow===1">
                                                <a
                                                        title="Guardar"
                                                        style="height: 38px;width: 17px;background-color: transparent;cursor: pointer;"
                                                        class="savepartialy"
                                                        ng-click="indicador_generico_poa.save_pei_ano(value.id);">
                                                    <i class="icon-floppy-disk text-secundary-200"
                                                       style=" color: #ccc !important;">

                                                    </i>
                                                </a>
                                                <a
                                                        title="Limpiar"
                                                        style="height: 38px;width: 17px;background-color: transparent;cursor: pointer;font-size: 22px; color: #ccc !important;"
                                                        class="savepartialy"
                                                        ng-click="indicador_generico_poa.save_pei_ano(value.id,true);">
                                                    <i class="icon-rotate-ccw3 text-secundary-300"
                                                       style="font-size: 17px;margin-top: 5px;color: #ccc !important;margin-left: 10px;">

                                                    </i>
                                                </a>
                                            </div>
                                            <a data-history="indicador_generico_poa" data-type="indicador_generico_poa"
                                               data-id="{{value.id}}" data-toggle="tooltip" data-formula="${row.cambio}"
                                               data-label="Historial de cambios para el indicador {{indicador_generico_poa.indicador_generico_object.nombre}}, Periodo {{value.periodo}}"
                                               title="Historial"
                                               style="cursor: pointer;font-size: 22px; color: #ccc !important;float: left;margin-top: 32px"
                                               class="savepartialy">
                                                <i class="icon-sort-time-asc" style="font-size: 19px;"></i>
                                            </a>
                                        </td>
                                        <!--                                        <td style="text-align: right;vertical-align: middle" class="variacion">-->
                                        <!--                                            {{indicador_generico_poa.restar(value.id,value.valor==null?0:value.valor)}}-->
                                        <!--                                        </td>-->
                                        <td ng-show="!indicador_generico_poa.queries.id"
                                            style="vertical-align: middle;{{value.allow.condition?'border: red outset':''}}">
                                            <textarea
                                                    ng-show="(value.count_comment > 0)"
                                                    ng-readonly="true"
                                                    style="overflow: hidden; overflow-wrap: break-word; min-height: 80px; text-align: left;"
                                                    class="form-control no-border-readonly">{{value.comment}}</textarea>
                                            <a ng-show="value.count_comment > 0"
                                               style="float: right;"
                                               class="seeTextComplete metacomment{{$index}}"
                                               ng-click="indicador_generico_poa.openmodalField(0,value.id);">
                                                Ver todo ({{value.count_comment}})
                                            </a>
                                            <a style="float: left" class="seeTextComplete"
                                               ng-show="value.allow.allow===1"
                                               ng-click="indicador_generico_poa.openmodalField(1,value.id);">
                                                Agregar comentario


                                            </a>
                                            <br>
                                            <button title="Notificar" type="button"
                                                    class="btn bg-warning btn-xs mr-0"
                                                    style="margin-top: 10px;"
                                                    ng-if="value.allow.condition==1 || value.allow.allow===1"
                                                    ng-click="indicador_generico_poa.notificar(value.periodo)">
                                                <b><i class="icon-warning"></i></b>
                                            </button>
                                        </td>

                                        <td ng-show="!indicador_generico_poa.queries.id"
                                            style="text-align: center; width: 0px;vertical-align: middle;" height="0">


                                            <div class="permitido  modificar"
                                                 dragoncontrol="file"
                                                 ng-if="value.allow.allow===1"
                                                 label="Subir Evidencias"
                                                 cols="12" name="IndicadorPOA{{value.id}}" scope="<%= scope %>"
                                                 id="IndicadorPOA{{value.id}}" cache="false">
                                                {
                                                maxfiles: 50,
                                                columns: 4,
                                                folder:"indicador_generico_poa/META{{value.id}}",
                                                alone:true,
                                                }
                                            </div>

                                            <div class=" modificar"
                                                 dragoncontrol="file"
                                                 ng-if="value.allow.allow!==1"
                                                 label="Ver Evidencias"
                                                 cols="12" name="IndicadorPOA{{value.id}}" scope="<%= scope %>"
                                                 id="IndicadorPOA{{value.id}}" cache="false">
                                                {
                                                maxfiles: 50,
                                                columns: 4,
                                                folder:"indicador_generico_poa/META{{value.id}}",
                                                alone:true,
                                                }
                                            </div>

                                        </td>
                                    </tr>

                                    </tbody>
                                    <tfoot id="totals" ng-show="false">
                                        <tr class="dragon-columns" style="font-weight: bold">
                                            <td colspan="1" style="vertical-align: middle">Total</td>
                                            <td style="text-align: right;">
                                                {{indicador_generico_poa.meta_total_desc}}
                                            </td>
                                            <td style="text-align: right;">
                                                {{indicador_generico_poa.meta_total_alca}}
                                            </td>
                                            <td style="text-align: right;;display: none" id="variacion">
                                                <i class="{{indicador_generico_poa.iconfinal}}"></i>
                                                {{indicador_generico_poa.getTotalVariacion()}}
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" dragonlanguage="" style="padding-top: 15px;"
             ng-show="!indicador_generico_poa.queries.id">
                <span class="label label-white text-<%= TAG.table %>-300 label-rounded label-icon">
                <i class="position-right"></i>
                </span>
            <!---->
            <div ng-show="indicador_generico_poa.indicador_generico!='[NULL]'">
                <button ng-show="indicador_generico_poa.allow(['Guardar']) && indicador_generico_poa.ver_estado === indicador_generico_poa.estatus"
                        dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
                        type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
                        ng-click="indicador_generico_poa.cancel_pei_ano();">
                    <b><i class="icon-cross2"></i></b>
                    <language>MESSAGE.ic('mono.cancel')</language>
                </button>
                <button ng-show="indicador_generico_poa.allow(['Cancelar']) && indicador_generico_poa.ver_estado === indicador_generico_poa.estatus"
                        dragonlanguage="" title="MESSAGE.ic('mono.save')"
                        type="button" role="button"
                        class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                        ng-click="indicador_generico_poa.save_pei_ano();">
                    <b><i class="icon-floppy-disk"></i></b>
                    <language>MESSAGE.ic('mono.save')</language>
                </button>
            </div>

        </div>
    </div>
</div><!--end-->
<script>
    $(function () {
        $('#<%= scope %>TablePanel').floatingScrollbar();
    });
</script>
