<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:scope}); %>
        <div class="subcontent">
            <div id="evento_riesgo_generico2" ng-controller="evento_riesgo_generico2 as evento_riesgo_generico2">
                <div class="row">
                    <div class="col-sm-6 col-md-6 ">
                        <%- FORM.select("evento_indicador", 'evento_riesgo_generico2', {
                            allownew: false,
                            allowedit: false,
                            allowview: false,
                            allowlist: false,
                            label: "Seleccione el evento al cual desea crear planes de acción",
                            text: "item.nombre",
                            value: "id",
                            table: "vw_evento_indicador",
                            groupby: "evento_indicador",
                            icon: {class: "list"},
                        }) %>
                    </div>
                </div>
            </div>
            <%- include('../../7-plugins/templates/table/base',{scope:scope}); %>
        </div>
    </div>
</div><!--end-->