<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('compania', scope, {
                    column: 'name',
                    table: 'compania',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "compania_linked", fieldFrom: "id", fieldTo: "myid(compania)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('registro', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('table_', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('institucion', scope, {
                    column: 'name',
                    table: 'institucion',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "institucion_linked", fieldFrom: "id", fieldTo: "myid(institucion)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('poa', scope, {
                    column: 'name',
                    table: 'poa',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "poa_linked", fieldFrom: "id", fieldTo: "myid(poa)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre_indicador', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('condition', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('Nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('descripcion_indicador', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('fuente', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('metodo', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('linea', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('medio_verificacion', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('tipo_meta', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('direccion_meta', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('indicador_pei_id', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('ano_linea_base', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('caracteristica', scope, {
                    column: 'name',
                    table: 'caracteristica',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "caracteristica_linked", fieldFrom: "id", fieldTo: "myid(caracteristica)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('desagregacion_demografica_geografia', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('observacion', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('poa_monitoreo', scope, {
                    column: 'name',
                    table: 'poa_monitoreo',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "poa_monitoreo_linked", fieldFrom: "id", fieldTo: "myid(poa_monitoreo)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('related', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('ano', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('entidad', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('departamento', scope, {
                    column: 'name',
                    table: 'departamento',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "departamento_linked", fieldFrom: "id", fieldTo: "myid(departamento)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('edt_mod', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('edt_ods', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('ods_nombre', scope, {}) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('mod_nombre', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('edt_indicador', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('mapa_proceso', scope, {
                    column: 'name',
                    table: 'mapa_proceso',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "mapa_proceso_linked", fieldFrom: "id", fieldTo: "myid(mapa_proceso)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('mapa_proceso_nombre', scope, {}) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





