<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <%- include('../inter_index',{scope:scope}); %>
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:scope}); %>

        <div class="subcontent">
            <div class="row" id="hide-div"
                 ng-if="!dashboard && !dashboard_cofiguration && !dashboard_departamento && !notificacion">
                <div class="col-sm-3 col-md-3" style="margin-top: 11px !important">
                    <%- FORM.select("departamentoPre", scope, {
                        forme: "filtros",
                        allownull: false,
                        allownew: false,
                        allowedit: false,
                        allowlist: false,
                        allowview: false,
                        refresh: false,
                        multiple: false,
                        text: "item.departamento",
                        table: "vw_presupuesto_departamento",
                        field: "id",
                        columns: ["departamento"],
                        icon: {class: "archive"},
                        // condition: "item.poa === actividades_poa.poa_id"
                    }) %>
                </div>
                <div class="col-sm-9 col-md-9">
                    <label style="float: left; width: 100%;text-align: center;">P R E S U P U E S T O</label>
                    <br/>
                    <hr style="margin-top: 8px;margin-bottom: 5px;"/>

                    <div class="col-sm-12 col-md-3">
                        <%- FORM.money("valor", scope, { disabled: true})
                        // FORM.inputview("valor",scope, {
                        //     placeholder: 'Presupuesto',
                        //     icon: {class: "cash3"},
                        //     format: {mask: "000,000,000.00", options: {reverse: true}}
                        // })
                        %>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <%-
                        FORM.money("presupuesto_actividades", scope, {
                            disabled: true
                        })
                        // FORM.inputview("presupuesto_actividades",scope, {
                        //    placeholder: 'Presupuesto Asignado',
                        //    icon: {class: "cash3"},
                        //    format: {mask: "000,000,000.00", options: {reverse: true}}
                        // })
                        %>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <%-
                        FORM.money("presupuesto_restantePre", scope, {disabled: true})
                        // FORM.inputview("presupuesto_restantePre", scope, {
                        //     placeholder: "Presupuesto Disponible",
                        //     icon: {class: "cash3"},
                        //     format: {mask: "000,000,000.00", options: {reverse: true}}
                        // })
                        %>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <%-
                        FORM.money("presupuesto_liberado", scope, {disabled: true})
                        // FORM.inputview("presupuesto_liberado", scope, {
                        //     placeholder: "Presupuesto Liberado",
                        //     icon: {class: "cash3"},
                        //     format: {mask: "000,000,000.00", options: {reverse: true}}
                        // })
                        %>
                    </div>
                </div>
            </div>
            <div class="" style="padding: 0 20px 0 20px;">
                <br>
                <ul id="leyendas" class="list-group" style="padding: 24px 0;">
                    <li><label class="ponerRedondo" style="background-color: #5F5FAF;"></label>
                        <label class="labelRedondo"> Planificada </label></li>

                    <li><label class="ponerRedondo" style="background-color: #548235;"></label>
                        <label class="labelRedondo"> En ejecución </label></li>

                    <li><label class="ponerRedondo" style="background-color: #FF0000;"></label>
                        <label class="labelRedondo"> Vencida </label></li>

                    <li><label class="ponerRedondo" style="background-color: #CECECE;"></label>
                        <label class="labelRedondo"> Ninguna Condición </label></li>
                </ul>
                <br>
            </div>

            <%- include('../../7-plugins/templates/table/base',{scope:scope}); %>

        </div>
    </div>
</div><!--end-->
