<%- FORM.tabs(scope, [
    {
        id: "basic",
        text: "Datos Básicos y Campos",
        icon: "icon-list3"
    },
    // {
    //     id: "filtros",
    //     text: "Estadística",
    //     icon: "icon-list"
    // },
    {
        id: "respuestas",
        text: "Resultados",
        icon: "icon-html5",
        condition: "modulo_formulario.form.mode==='edit'"
    }
]) %>

<div class="panel panel-default">
    <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">

    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active" id="basic">
                <div class="row">
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.input('nombre', scope, {}) %>
                    </div>
                    <div class='col-sm-12 col-md-12'>
                        <%- FORM.input('descripcion', scope, {}) %>
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm-12 col-md-12'>
                        <table class="table-responsive table table-striped  table-togglable table-framed sindu-table dragon-table">
                            <thead class="bg-<%= COLOR.secundary %>">
                            <tr>
                                <th>#</th>
                                <th>Nombre de Campo</th>
                                <th>Tipo del Campo</th>
                                <th>Tamaño</th>
                                <th>Configuración</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(ix,item) in modulo_formulario.config.fields track by item.id">
                                <td style="width: 3%;padding: 2px;">
                                    {{ix+1}}
                                </td>
                                <td style="width: 20%;padding: 2px;" title="{{item.field}}">
                                    <input type="text" class="form-control" ng-model="item.field">
                                </td>
                                <td style="width: 10%;padding: 2px;">
                                    <select3 class="form-control" ng-model="item.tipo"
                                             s2-options="opt as opt for opt in modulo_formulario.field_types">
                                    </select3>
                                </td>
                                <td style="width: 8%;padding: 2px;">
                                    <select ng-model="item.config.col" class="form-control"
                                            ng-options="opt.value as opt.nombre for opt in modulo_formulario.tamanos">

                                    </select>
                                </td>
                                <td style="width: 44%;padding: 20px;">
                                    <!--ng-if="['sheet'].indexOf(item.tipo)!==-1"-->
                                    <div class="row">
                                        <table class="table-responsive table table-striped  table-togglable table-framed sindu-table dragon-table">
                                            <tr>
                                                <th
                                                        style="width: 10%;padding: 2px;"
                                                        ng-if="['check'].indexOf(item.tipo)===-1">
                                                    Requerido
                                                </th>
                                                <th
                                                        style="padding: 2px;"
                                                        ng-if="['alfanumérico'].indexOf(item.tipo)!==-1">
                                                    Máximo de caracteres
                                                </th>
                                                <th style="padding: 2px;" ng-if="['numérico'].indexOf(item.tipo)!==-1">
                                                    Mínimo
                                                </th>
                                                <th style="padding: 2px;" ng-if="['numérico'].indexOf(item.tipo)!==-1">
                                                    Máximo
                                                </th>
                                                <th style="padding: 2px;" ng-if="['desición'].indexOf(item.tipo)!==-1">
                                                    Opción Positiva
                                                </th>
                                                <th style="padding: 2px;" ng-if="['desición'].indexOf(item.tipo)!==-1">
                                                    Opción Negativa
                                                </th>
                                                <th style="padding: 2px;"
                                                    ng-if="['lista','lista múltiple'].indexOf(item.tipo)!==-1">Opciones
                                                    separadas por coma(,)
                                                </th>
                                            </tr>
                                            <tr>
                                                <td style="padding: 2px;" ng-if="['check'].indexOf(item.tipo)===-1">
                                                    <input type="checkbox" class="form-control"
                                                           ng-model="item.config.required">
                                                </td>
                                                <td style="padding: 2px;"
                                                    ng-if="['alfanumérico'].indexOf(item.tipo)!==-1">
                                                    <input type="number" class="form-control"
                                                           ng-model="item.config.max">
                                                </td>
                                                <td style="padding: 2px;" ng-if="['numérico'].indexOf(item.tipo)!==-1">
                                                    <input type="number" class="form-control"
                                                           ng-model="item.config.min">
                                                </td>
                                                <td style="padding: 2px;" ng-if="['numérico'].indexOf(item.tipo)!==-1">
                                                    <input type="number" class="form-control"
                                                           ng-model="item.config.max">
                                                </td>
                                                <td style="padding: 2px;" ng-if="['desición'].indexOf(item.tipo)!==-1">
                                                    <input type="text" class="form-control"
                                                           ng-model="item.config.goodoption">
                                                </td>
                                                <td style="padding: 2px;" ng-if="['desición'].indexOf(item.tipo)!==-1">
                                                    <input type="text" class="form-control"
                                                           ng-model="item.config.badoption">
                                                </td>
                                                <td style="padding: 2px;"
                                                    ng-if="['lista','lista múltiple'].indexOf(item.tipo)!==-1">
                                                    <input type="text" class="form-control"
                                                           ng-model="item.config.options">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td style="width: 10%">
                                    <button title="Eliminar campo"
                                            ng-click="<%= scope %>.deleteField(ix,modulo_formulario.config.fields);"
                                            type="button"
                                            class="btn bg-danger btn-xs">
                                        <i class="icon-trash"></i>
                                    </button>
                                    <button title="Subir" style="width: 23px;padding: 4px;margin: 0;"
                                            ng-click="<%= scope %>.movecode(ix,modulo_formulario.config.fields)"
                                            type="button" class="btn bg-info btn-xs">
                                        <i class="icon-arrow-up7"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="100%" class="text-right">
                                    <button ng-click="<%= scope %>.addField();"
                                            type="button"
                                            class="btn bg-success btn-xs">
                                        Agregar nuevo campo
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="filtros">
                <div class="row">

                </div>
            </div>
            <div class="tab-pane" id="respuestas">
                <div class="page-header-lg page-header-sm page-header page-header-default border-bottom-lg border-bottom-<%= COLOR.secundary %>">
                    <!--Breadcrumb and Table Options-->
                    <div class="breadcrumb-line">
                        <ul class="breadcrumb visible-lg visible-md" dragonlanguage="" style="z-index: 1000">
                            <li class="active">
                                <a data-function="menu" href="javascript:void(0)">
                                    <i class="{{<%= scope %>.MENU.menu.icon}} position-left"></i>
                                    Respuestas
                                </a>

                            </li>
                        </ul>

                        <ul class="breadcrumb-elements visible-elements" style="margin-right: -20px;">
                            <li class="dropdown"
                                dragonlanguage="">
                                <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <i dragonlanguage="" title="MESSAGE.i('mono.Exportas')"
                                       class=" icon-database-export "></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-click="modulo_formulario.exportPDF()"> <i
                                                    class="icon-file-pdf"></i>PDF</a></li>
                                    <li><a ng-click="modulo_formulario.exportXLS()"><i
                                                    class="icon-file-excel"></i>XLS</a></li>
                                </ul>
                            </li>
                            <li>
                                <a ng-click="modulo_formulario.refresh_resuestas()" class="legitRipple" id="refreshBtn">
                                    <i dragonlanguage="" title="MESSAGE.ic('mono.refresh')"
                                       class="icon-rotate-cw3 loadingButton"></i> 
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--Breadcrumb and Table Options-->
                </div>

                <table id="datashow"
                       class="table-responsive table table-striped  table-togglable table-framed sindu-table dragon-table">
                    <thead class="bg-<%= COLOR.secundary %>">
                    <tr>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white "
                            ng-repeat="(key,value) in modulo_formulario.respuestas_data_head">{{value}}
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            Fecha
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            IP
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            Usuario
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            Origen
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            Navegador
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key,row) in modulo_formulario.respuestas_cabeza">
                        <td rowspan="" ng-repeat="(body_key,body_row) in modulo_formulario.respuestas_data_head">
                            {{modulo_formulario.get_head_value(key,body_row)}}
                        </td>
                        <td rowspan="">{{modulo_formulario.format_date(row.fecha)}}</td>
                        <td rowspan="">{{row.ip}}</td>
                        <td rowspan="">{{modulo_formulario.return_userName(row.usuario)}}</td>
                        <td rowspan="">{{row.origen}}</td>
                        <td rowspan="">{{row.browser}}</td>
                    </tr>
                    </tbody>
                </table>
                <table id="dataexport" class="table table-bordered" style="display: none">
                    <thead class="bg-<%= COLOR.secundary %>">
                    <tr>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white "
                            ng-repeat="(key,value) in modulo_formulario.respuestas_data_head">{{value}}
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            Fecha
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            IP
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            Usuario
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            Origen
                        </th>
                        <th style="background-color: #<%= CONFIG.ui.theme.secundary %>; border-color: #<%= CONFIG.ui.theme.secundary %>; color: white ">
                            Navegador
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key,row) in modulo_formulario.respuestas_cabeza">
                        <td rowspan="" ng-repeat="(body_key,body_row) in modulo_formulario.respuestas_data_head">
                            {{modulo_formulario.get_head_value(key,body_row)}}
                        </td>
                        <td rowspan="">{{modulo_formulario.format_date(row.fecha)}}</td>
                        <td rowspan="">{{row.ip}}</td>
                        <td rowspan="">{{modulo_formulario.return_userName(row.usuario)}}</td>
                        <td rowspan="">{{row.origen}}</td>
                        <td rowspan="">{{row.browser}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="enviar">
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





