<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class="col-sm-12 col-md-4 form-group-material form-group has-feedback  has-{{<%= scope %>.validate['ano'].type || <%= scope %>.defaultColor }}  has-feedback-left">
                <label class="control-label is-visible" style="color: black">Año</label>
                <select ng-model="<%= scope %>.ano" name="ano" id="ano"
                        class="form-control">
                    <option value="[NULL]">Seleccione</option>
                    <option ng-repeat="value in <%= scope %>.lista_ano"
                            value="{{value}}">{{value}}
                    </option>
                </select>
                <span ng-show="<%= scope %>.validate['ano'].messages.length>0" class="help-block">
                    <p class="text-{{validation.type}}"
                       ng-show="validation.visible!==false || <%= scope %>.form.intent===true"
                       ng-repeat="(key,validation) in <%= scope %>.validate['ano'].messages track by key">
                           <i class="{{validation.icon}}"></i> {{validation.message}}
                    </p>
                </span>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('descripcion', scope, {
                //maxlength: 200,
                }) %>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer dragonformfooter" dragonlanguage="" id="btnformfooter">
     <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
            <i class="position-right"></i>
        </span>

    <button

            dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
            type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.pages.form.close()">
        <b><i class="icon-cross2"></i></b>
        <language>MESSAGE.ic('mono.cancel')</language>
    </button>
    <div class="btn-group dropup " ng-show="<%= scope %>.form.mode==='new'">
        <button

                dragonlanguage="" title="MESSAGE.ic('mono.save')"
                type="button" role="button" class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs"
                ng-click="<%= scope %>.pages.form.save()">
            <b><i class="icon-floppy-disk"></i></b>
            Transferir
        </button>

    </div>
</div>





