<div id="ficha_indicador" ng-controller="ficha_indicador  as ficha_indicador">
</div>
<div id="vw_comentarios_indicadores" ng-controller="vw_comentarios_indicadores  as vw_comentarios_indicadores">
</div>
<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <div class="page-header-lg page-header-sm page-header">
            <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
            <ul class="breadcrumb-elements visible-elements" style="margin-top: 5px;">
                <li dragonlanguage="" style="margin-right: -10px;">
                    <a ng-click="monitoreo_proceso.monitoreo_proceso_get();"><i class="icon-rotate-cw3"></i></a>
                </li>
                <li dragonlanguage="" style="margin-right: -10px;">
                    <a title="Exportar/Imprimir" ng-click="monitoreo_proceso.openmodalField('pdf');"><i
                                class="icon-file-download2"></i></a>
                </li>
            </ul>
            <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        </div>
        <div class="subcontent">
            <script>
                <%= scope %>.soypei = true;
                <%= scope %>.searchbutton = "<%= scope %>.monitoreo_proceso_get()";
                <%= scope %>.indicadores = "proceso";
            </script>
            <%- include('../filter_IDSinimportarmultiple',{scope:scope}); %>
            <div class="" style="display: flow-root">
                <button class="btn btn-primary" ng-click="baseController.abrirPonderaciones()" style="float: left">
                    Ver Detalles de las Ponderaciones
                </button>
                <br>
            </div>
            <script>
                <%= scope %>.disabledins = true;
                <%= scope %>.disabledepa = true;
            </script>
            <div style="overflow: scroll visible; position: static; zoom: 1;min-height: 400px" id="minusubcontent">
                <tr>
                    <td style="text-align: left"
                        colspan="{{<%= scope %>.colspaninit}}">
                        <h5 ng-show="<%= scope %>.anos.length===0">No se han encontrado datos en este reporte o no a
                            solicitado ninguna.</h5>
                    </td>
                </tr>
                <table class="table table-bordered" id="monitoreo_procesoTable" style="margin-top: 15px;">
                    <tbody ng-repeat="(key,item) in monitoreo_proceso.anos"
                           ng-show="monitoreo_proceso.cumplen(item.records)">
                    <tr>
                        <td colspan="{{monitoreo_proceso.colspaninit}}"
                            style="text-align: center;border-bottom-color: white;padding: 0">
                            <b ng-if="<%= scope %>.session.tipo_institucion == 1">MONITOREO Y SEGUIMIENTO DE PROCESO</b>
                            <b ng-if="<%= scope %>.session.tipo_institucion == 2">MONITOREO Y SEGUIMIENTO DE
                                PROYECTO/PLAN DE ACCIÓN</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_proceso.colspaninit}}"
                            style="text-align: center;border-bottom-color: white;padding: 0">
                            <b>PLAN OPERATIVO ANUAL {{item.periodo_poa}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_proceso.colspaninit}}" style="text-align: center;padding: 0">
                            <b>{{item.compania_nombre}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_proceso.colspaninit}}" style="text-align: left">
                            <b>{{item.entidad}}</b>
                        </td>
                    </tr>
                    <tr height="20" class="centralizarth"
                        style="background-color: <%= CONFIG.ui.theme.primary.indexOf("rgb") > -1 ? CONFIG.ui.theme.primary : '#' + CONFIG.ui.theme.primary %> !important; color: white; ">
                        <td style="text-align: center;vertical-align: middle" rowspan="2">Proceso</td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2">Estatus de Proceso</td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2">Indicador</td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2">Fórmula Indicador</td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2">Unidad de Medida</td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2">Medio Verificación</td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2">Direccións Meta</td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2">Año Línea Base</td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2">Valor Línea Base</td>

                        <td style="text-align: center" colspan="{{monitoreo_proceso.capi}}"
                            ng-repeat="(ka,ra ) in monitoreo_proceso.poa_anos">
                            Período {{ra}}<br>
                            (P-Proyectado | A-Alcanzado)
                        </td>
                    </tr>
                    <tr height="20" class="centralizarth"
                        style="background-color: <%= CONFIG.ui.theme.primary.indexOf("rgb") > -1 ? CONFIG.ui.theme.primary : '#' + CONFIG.ui.theme.primary %> !important; color: white; ">
                        <td style="text-align: center" ng-if="ra.value!=='D' && ra.value!=='%'" colspan="{{ra.value==='Alerta'?3:1}}"
                            ng-repeat="(ka,ra ) in monitoreo_proceso.poa_valor">
                            {{ra.value}}
                        </td>
                    </tr>
                    <tr style="vertical-align: middle" class="centralizartd filas"

                        ng-if="(monitoreo_proceso.institucion!='[NULL]'? monitoreo_proceso.institucion==(row.institucion||row.compania):true)"

                        ng-repeat="(i,row) in item.records">
                        <td rowspan="{{monitoreo_proceso.rowspanme('actividad',row.actividad,item.records)}}"
                            ng-if="monitoreo_proceso.seeme('actividad',row.actividad,i,item.records)">


                            <table style="width: 100%">
                                <tr>
                                    <td>

                                        <a style="float: left;margin-bottom: 20px; font-size: 11px"
                                           ng-click="monitoreo_proceso.openProductoComment('productos poa',row.producto_id,row.cond,row.estatus)"
                                           title="Ver o hacer comentarios">Comentarios</a>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        {{row.actividad}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td rowspan="{{monitoreo_proceso.rowspanme('actividad',row.actividad,item.records)}}"
                            style="background-color: {{monitoreo_proceso.statusColor(row.cond,row.estatus)}};color: {{monitoreo_proceso.statusColorFont(row.cond,row.estatus)}}"
                            ng-if="monitoreo_proceso.seeme('actividad',row.actividad,i,item.records)">
                            {{monitoreo_proceso.statusText(row.cond,row.estatus)}}
                        </td>
                        <td

                                rowspan="{{monitoreo_proceso.rowspanme('indicador',row.indicador,item.records)}}"
                                ng-if="monitoreo_proceso.seeme('indicador',row.indicador,i,item.records)"
                                class="{{(row.indicador||'').trim()?'':'noindicador'}}"
                                style="padding: 7px !important;vertical-align: top !important;">
                            <table style="width: 100%">
                                <tr>
                                    <td>

                                        <a style="float: left;margin-bottom: 20px; font-size: 11px"
                                           ng-click="monitoreo_proceso.openIndicadorComment('indicador poa',row.indicador_id,true)"
                                           title="Ver o hacer oservaciones">Observaciones</a>
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {{row.indicador}}
                                        <div sy title="En Revisión" class="shape_element"
                                             style="border-radius: 0;margin-top: 10px;background: {{monitoreo_proceso.indicadorColor(row)}}"></div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a title="Ver ficha de indicador"
                                           ng-click="monitoreo_proceso.openIndicador('indicador poa',row.indicador_id)"
                                           style="float: right;margin-bottom: 20px"><i class="icon-eye "></i>
                                        </a>

                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td
                                rowspan="{{monitoreo_proceso.rowspanme('indicador',row.indicador,item.records)}}"
                                ng-if="monitoreo_proceso.seeme('indicador',row.indicador,i,item.records)"
                                class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{row.formula}}
                        </td>
                        <td
                                rowspan="{{monitoreo_proceso.rowspanme('indicador',row.indicador,item.records)}}"
                                ng-if="monitoreo_proceso.seeme('indicador',row.indicador,i,item.records)"
                                class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{monitoreo_proceso.tipometa(row.unidad_medida).nombre}}
                        </td>
                        <td
                                rowspan="{{monitoreo_proceso.rowspanme('indicador',row.indicador,item.records)}}"
                                ng-if="monitoreo_proceso.seeme('indicador',row.indicador,i,item.records)"
                                class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{row.medio_verificacion}}
                        </td>
                        <td
                                rowspan="{{monitoreo_proceso.rowspanme('indicador',row.indicador,item.records)}}"
                                ng-if="monitoreo_proceso.seeme('indicador',row.indicador,i,item.records)"
                                class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{monitoreo_proceso.direccionmeta(row.indicador_data.dir)}}
                        </td>
                        <td
                                rowspan="{{monitoreo_proceso.rowspanme('indicador',row.indicador,item.records)}}"
                                ng-if="monitoreo_proceso.seeme('indicador',row.indicador,i,item.records)"
                                class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{row.ano_linea_base}}
                        </td>
                        <td
                                rowspan="{{monitoreo_proceso.rowspanme('indicador',row.indicador,item.records)}}"
                                ng-if="monitoreo_proceso.seeme('indicador',row.indicador,i,item.records)"
                                class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{row.linea_base}}
                        </td>

                        <td
                                rowspan="{{monitoreo_proceso.rowspanme('indicador',row.indicador,item.records)}}"
                                ng-if="monitoreo_proceso.seeme('indicador',row.indicador,i,item.records) && ra.value!=='D' && ra.value!=='%'"
                                colspan="{{ra.value==='Alerta'?3:1}}"
                                class="{{(row.indicador||'').trim()?'':'noindicador'}}"
                                ng-repeat="(ka,ra) in monitoreo_proceso.poa_valor"
                                ng-disabled="!monitoreo_proceso.limitPeriod(row,ra.id)"
                                ng-class="[!monitoreo_proceso.limitPeriod(row,ra.id)?'noindicador':'']"
                                style="{{ra.value==='Alerta'? (monitoreo_proceso.permissionNormal(row.indicador_id,ra.id).condition==1?'border: #ea7481 outset;':''  ):'' }}">
                            <span ng-if="ra.value==='P'">
                               {{monitoreo_proceso.ano_single(row.indicador_data.anos,ra.id,row.indicador_data.tipo_meta)}}
                            </span>
                            <span ng-if="ra.value==='A'">
                                   {{monitoreo_proceso.ano_single(row.indicador_data.anos_a,ra.id,row.indicador_data.tipo_meta)}}
                               </span>
                            <span ng-if="ra.value==='Dedo'" style="display:none">
                                   {{monitoreo_proceso.dif(row,ra)}}
                            </span>
                            <span ng-if="ra.value==='%'">
                                   {{monitoreo_proceso.percent(row,ra)}}%
                            </span>
                            <span ng-if="ra.value==='Alerta'" ng-show="monitoreo_proceso.pasado(row,ra)"
                                  ng-dblclick="<%= scope %>.alertme('warning',<%= scope %>.permissionNormal(row.indicador_id,ra.id).debug||'Es posible que se pueda modificar ya que no posee valor alcanzado.')"
                            >
                                <table style="width: 100%"
                                       ng-if="monitoreo_proceso.permissionNormal(row.indicador_id,ra.id).sinllegar!=1">
                                <tr>
                                    <td colspan="2" style="height: 50px;text-align: center">

                                         <a style="float: left;margin-bottom: 20px; font-size: 15px;"
                                            ng-click="monitoreo_proceso.verLosFile('proceso',row.indicador_id,ra.id)"
                                            title="Ver posibles evidencias">Evidencias</a>

                                        <a style="margin-bottom: 20px; font-size: 15px;{{monitoreo_proceso.permissionNormal(row.indicador_id, ra.id).allow==1?'text-decoration: underline; color: blue !important':''}}"
                                           ng-click="monitoreo_proceso.openIndicadorComment('indicador poa',row.indicador_id,true,ra.id)"
                                           title="Ver o hacer observaciones al {{item.records[0].indicador_data.monitoreo_nombre}} {{ra.id}}">Observaciones</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div title="{{monitoreo_proceso.alert_tootip(row,ra)}}" class="shape_element"
                                             style="background: {{(<%=scope%>.pequenoHistorial[row.indicador_data.indicador_id]||{}).ponderacion.color}};"> </div>
                                    </td>
                                </tr>
                                     <tr>
                                    <td style="text-align: center">
                                        <button
                                                ng-if="monitoreo_proceso.permissionNormal(row.indicador_id, ra.id).condition==1"
                                                style="margin-top: 10px;" title="Validar" type="button"
                                                class="btn bg-success btn-xs mr-0"
                                                ng-click="monitoreo_proceso.validar(row,ra.id)">
                                            <b><i class="icon-check"></i></b>
                                        </button>
                                    </td>
                                         <td>
                                        <button title="Devolver" type="button" class="btn bg-danger btn-xs mr-0"
                                                style="margin-top: 10px;margin-left: 10px"
                                                ng-if="monitoreo_proceso.permissionNormal(row.indicador_id, ra.id).condition!=1"
                                                ng-click="monitoreo_proceso.devolver(row,ra.id)">
                                            <b><i class="icon-rotate-ccw2"></i></b>
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            </span>
                        </td>

                    </tr>
                    <tr style="background-color: #cccccc">
                        <td colspan="{{monitoreo_proceso.colspaninit}}" style="text-align: center">
                            ---
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>


        </div>
    </div>
</div><!--end-->
<script>

</script>
