<div class="subcontent">
    <div class="row">
        <div dragonlanguage=""
             class="alert alpha-<%= COLOR.secundary %> border-<%= COLOR.secundary %> alert-styled-left">
            <h5>Sugerencias para exportar o imprimir PDF: a) ir a "Más ajustes", b) poner "Escala" en valor "Personalizado" = a 60% y, c) en "Opciones" marcar el recuadro de gráficos de fondo</h5>
        </div>

    </div>
    <div style="overflow: scroll visible; position: static; zoom: 1;">
        <ul class="nav nav-<%= COLOR.primary %> nav-tabs <%= COLOR.primary %> nav-justified" dragonlanguage="">
            <li class="active" id="pdfa">
                <div style="float: left;width: 100%">
                    <a href="#pdf" data-toggle="tab"
                       style="width: 50%;float: left;line-height: 40px;text-align: right;font-size: 16px;">
                        <i class="position-printer2"></i>
                        Formato de impresión
                        <i class="border-white  position-right"></i>
                    </a>
                </div>


            </li>
            <li id="xlsa">
                <div style="float: left;width: 100%">
                    <a href="#xls" data-toggle="tab"
                       style="width: 50%;float: left;line-height: 40px;text-align: right;font-size: 16px;">
                        <i class="position-file-excel"></i>
                        Formato Excel
                        <i class="border-white  position-right"></i>
                    </a>
                </div>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="pdf">
                <div class="active" id="pdf">
                    <ul class="visible-elements" style="list-style: none; text-align: left">
                        <li dragonlanguage="">
                            <button style="margin-top: 10px;width: 25em;"
                                    dragonlanguage="" title="Descargar - Formato de impresión"
                                    ng-click="vw_resultado_esperado_reporte.exportPDF();"
                                    type="button" class="btn bg-<%= COLOR.primary + '-600' %> btn-xs ">
                                <i class="icon-printer2"></i> Descargar - Formato de impresión
                            </button>
                        </li>
                    </ul>
                    <table class="table table-bordered" id="res_riesgoExport" style="margin-top: 15px;">
                            <tr>
                                <td ng-if="!<%= scope %>.ejes.length" style="text-align: left">
                                    <h5>No se han encontrado datos en este reporte.</h5>
                                </td>
                            </tr>

                            <tr>
                                <td ng-if="<%= scope %>.ejes.length" colspan="3" style="text-align: left">
                                    <h6 style="margin: 0"><strong>"{{vw_resultado_esperado_reporte.session.institucion ? vw_resultado_esperado_reporte.session.institucion : vw_resultado_esperado_reporte.session.compania}}"</strong></h6>
                                </td>
                            </tr>
                            <tr>
                                <td ng-if="<%= scope %>.ejes.length" colspan="3" style="text-align: left">
                                    <strong>Reporte de riesgos asociados a los Resultados Esperados</strong>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: left">
                                    <span style="padding: 20px"> </span>
                                </td>
                            </tr>
                            <tbody ng-repeat="(key,item) in vw_resultado_esperado_reporte.ejes">
                            <tr>
                                <td colspan="3" style="text-align: left"><b>Eje Estratégico:
                                        {{item.eje_estrategico}}</b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: left"><b>Objetivo Estratégico:
                                        {{item.objetivo_estrategico}}</b>
                                </td>
                            </tr>
                            <tr height="20" class="centralizarth"
                                style="background-color: <%= CONFIG.ui.theme.primary.indexOf("rgb") > -1 ? CONFIG.ui.theme.primary : '#' + CONFIG.ui.theme.primary %> !important; color: white; ">
                                <td style="text-align: center;vertical-align: middle">Resultado Esperado</td>
                                <td style="text-align: center;vertical-align: middle">Riesgo</td>
                                <td style="text-align: center;vertical-align: middle">Controles de Riesgo</td>
                            </tr>
                            <tr ng-repeat="(i,row) in item.records">
                                <td rowspan="{{vw_resultado_esperado_reporte.rowspanme('objetivo_estrategico',row.objetivo_estrategico,null, null, item.records)}}"
                                    ng-if="vw_resultado_esperado_reporte.seeme('objetivo_estrategico',row.objetivo_estrategico,i, null, null, item.records)"
                                    style="vertical-align: middle">
                                    {{row.resultado}}
                                </td>
                                <td rowspan="{{vw_resultado_esperado_reporte.rowspanme('nombre',row.nombre,'objetivo_estrategico', row.objetivo_estrategico, item.records)}}"
                                    ng-if="vw_resultado_esperado_reporte.seeme('nombre',row.nombre,i,'objetivo_estrategico',row.objetivo_estrategico, item.records)"
                                    style="vertical-align: middle">
                                    {{row.nombre}}
                                </td>
                                <td>
                                    {{row.riesgo_control}}
                                </td>
                            </tr>
                            <tr style="background-color: #cccccc">
                                <td colspan="3" style="text-align: center">
                                    ---
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="tab-pane" id="xls">
                <div class="active" id="xls">
                    <ul class="visible-elements" style="list-style: none; text-align: left">
                        <li dragonlanguage="">
                            <button style="margin-top: 10px;width: 25em;"
                                    dragonlanguage="" title="Descargar - Formato Excel"
                                    ng-click="vw_resultado_esperado_reporte.exportXLS();"
                                    type="button" class="btn bg-success btn-xs ">
                                <i class="icon-file-excel"></i> Descargar - Formato Excel
                            </button>
                        </li>
                    </ul>
                    <table class="table table-print" id="res_riesgoExportXLS" style="margin-top: 15px">
                        <tbody ng-repeat="(key,item) in vw_resultado_esperado_reporte.ejes" style="border-top: inherit" ng-show="item.records.length>0">

                        <tr ng-if="!key" height="20" class="centralizarth"
                            style="background-color: <%= CONFIG.ui.theme.primary.indexOf("rgb") > -1 ? CONFIG.ui.theme.primary : '#' + CONFIG.ui.theme.primary %> !important; color: white; ">

                            <td>Compañía</td>
                            <td>Eje Estratégico</td>
                            <td>Objetivo Estratégico</td>
                            <td>Resultado Esperado</td>
                            <td>Riesgo</td>
                            <td>Controles del Riesgo</td>
                        </tr>
                        <tr style="vertical-align: middle" class="centralizartd filas"
                            ng-repeat="(i,row) in item.records">

                            <td>{{row.compania_nombre}}</td>
                            <td>{{row.eje_estrategico}}</td>
                            <td>{{row.objetivo_estrategico}}</td>
                            <td>{{row.resultado}}</td>
                            <td>{{row.nombre}}</td>
                            <td>{{row.riesgo_control}}</td>
                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    vw_resultado_esperado_reporte.refreshAngular();
</script>
