<style>
    .countFile .legitRipple{
        height: 40px !important;
        width: 185px !important;
    }
</style>
<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <%- FORM.inputview("nombre",scope,{placeholder: "Nombre"})%>
            </div>
            <div class="col-sm-12 col-md-4">
                <%- FORM.select("departamento_solicitante", scope, {
                    allownull: false,
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    multiple: false,
                    disabled: true,
                    label: "Departamento Solicitante",
                    text: "item.nombre",
                    table: "departamento",
                    columns: ["nombre"],
                    icon: {class:"archive"}
                })%>
            </div>
            <div class="col-sm-12 col-md-4 add-class">
                <%- FORM.select("estatus", scope, {
                    allownull: false,
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    multiple: false,
                    truelabel: "Estatus",
                    text: "item.permitido",
                    value: "id",
                    table: "vw_auditoria_programa_plan_estatus",
                    columns: ["nombre"],
                    icon: {class:"archive"},
                    condition: "item.plan_status == mi_asignacion_especial_poa.my_true_estatus && item.entidad == 'asignacion_especial_poa_monitoreo'"
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <%-
                FORM.select("departamento_solicitado", scope, {
                    allownull: false,
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    multiple: false,
                    disabled: true,
                    label: "Departamento Solicitado",
                    text: "item.nombre",
                    table: "departamento",
                    columns: ["nombre"],
                    icon: {class:"archive"}
                })
                %>
            </div>
            <div class="col-sm-12 col-md-4">
                <%-
                FORM.select("responsable", scope, {
                    allownull: false,
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    multiple: false,
                    disabled: true,
                    label: "Responsable",
                    text: "item.nombre + ' ' + item.apellido",
                    table: "usuario",
                    columns: ["nombre"],
                    icon: {class:"archive"}
                })
                %>
            </div>
            <div class="col-sm-12 col-md-4">
                <%- FORM.daterange("range_date",scope, {
                    from: "fecha_inicio",
                    to: "fecha_fin",
                    disabled: true
                })%>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <%- FORM.inputview("descripcion",scope,{ placeholder: "Descripción" }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <%- FORM.textarea("comentario",scope,{ placeholder: "Comentario" }) %>
            </div>
            <div class="col-sm-4  col-md-3" ng-show="asignacion_especial_poa_monitoreo.estatus == '1'">
                <%- FORM.select("razon", scope, {
                    label: "Razón",
                    text: "item.nombre_razon",
                    table: "razon",
                    columns: ["nombre_razon"],
                    icon: {class:"archive"},
                    condition: "item.tipo == '3'"
                })%>
            </div>
            <div class="col-sm-12 col-md-2 center-profile-image countFile">
                <%- FORM.file("asignacionfile",scope, {
                    title: 'Subir Evidencia' ,
                    maxfiles:50 ,
                    columns:4,
                    text: 'Subir evidencia',
                    // acceptedFiles: "image/*, video/*, audio/*, .pdf, .rar, .zip, .doc, .docx, .xls, .xlsx",
                    // acceptedFiles_message: "Sólo se pueden subir archivos de tipo imagen, vídeo, audio, pdf, rar/zip, doc/docx y xls/xlsx"
                })%>
            </div>
        </div>
    </div>

</div>
<%- FORM.footer(scope) %>
<script>
    $('[name="asignacion_especial_poa_monitoreo_asignacionfile"]').css({
        width: '185px !import',
        height: 'none !import'
    });
</script>