<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <script>
        <%= scope %>.filtersession = new SESSION().current();
        <%= scope %>.disabledepa = false;
        <%= scope %>.companiasel = new SESSION().current().compania_id;


        if (new SESSION().current().interinstitucional) {
            <%= scope %>.
            soyII = true;

            if (<%= scope %>.
            filtersession.groups.filter(d => d.caracteristica == ENUM_2.Grupos.director_general).length > 0 ||
            <%= scope %>.
            filtersession.groups.filter(d => d.caracteristica == ENUM_2.Grupos.director_general).length > 0
        )
            {
                <%= scope %>.
                soyEN = true;
            }
        }
        <%= scope %>.institucion =  dashboard.filtersession.institucion_id || (<%= scope %>.companiasel + "");
        <%= scope %>.institucion += "";

        <%= scope %>.$scope.$watch('<%= scope %>.institucion', function (value) {
            dashboard.poa = dashboard.institucion_object.poa + "";
        });
    </script>
    <div class=" loadingbata panel panel-flat" style="background-color: #f8f8f8">
        <div class="page-header-lg page-header-sm page-header page-header-default border-bottom-lg border-bottom-<%= COLOR.info %>">
            <div class="breadcrumb-line">
                <ul class="breadcrumb visible-lg visible-md" style="width:550px;">
                    <li class="active select-2" style="width: 100%" ng-if="dashboard.session.tipo_institucion == '1'">
                        <a data-function="menu" href="javascript:void(0)" class="ng-binding" dragonlanguage>
                            <i class="icon-lifebuoy position-left"></i>
                            Plan Operacional Anual por Departamento
                        </a>

                    </li>
                    <li class="active select-2" style="width: 100%" ng-if="dashboard.session.tipo_institucion == '2'">
                        <a data-function="menu" href="javascript:void(0)" class="ng-binding" dragonlanguage>
                            <i class="icon-lifebuoy position-left"></i>
                            Gestión Presupuestaria por Departamento
                        </a>

                    </li>
                </ul>
                <ul class="breadcrumb-elements visible-elements">
                    <li>
                        <a>
                            Última actualización: {{dashboard.actualizacion}}
                        </a>

                    </li>
                    <li class="visible-lg visible-md">
                        <a ng-click="dashboard.getAll()"> <i title="Actualizar" class="icon-rotate-cw3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="subcontent">

            <div class="row">
                <div style="float: right;padding-bottom: 20px;" class="col-sm-12 col-md-12 hide_grafico1">
                    <button id="btnDashboard"
                            style="float: right; padding-right: 74px;padding-left: 74px;"
                            dragonlanguage="" title="Ver en modo gráfico"
                            type="button" role="button"
                            class=" btn bg-<%= COLOR.info %>-800 btn-labeled btn-xs pull-right">
                        <b><i class="icon-chart"></i></b>
                        Ver en modo Gráfico
                    </button>
                </div>
                <div style="display: none; float: right;padding-bottom: 20px;"
                     class="col-sm-12 col-md-12 hide_grafico2">
                    <button id="btnDashboard2"
                            style="float: right; padding-right: 74px;padding-left: 74px;"
                            dragonlanguage="" title="Ver en modo de matriz"
                            type="button" role="button"
                            class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                            ng-click="">
                        <b><i class="icon-chart"></i></b>
                        Ver en modo de matriz
                    </button>
                </div>
            </div>
            <div class="">
                <div class="panel panel-white">
                    <script>

                    </script>
                    <div class="panel-heading panel-dashboard">
                        <h6 class="panel-title">Filtros de búsqueda</h6>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6 col-md-6" ng-if="!<%= scope %>.soyII" style="display: none">
                            <%- FORM.select("institucion", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: true,
                                todos: true,
                                disabled: true,
                                text: "item.nombre",
                                table: "vw_instituciones",
                                icon: {class: "archive"},
                                label: "Institución",
                                query: {
                                    orderby: "tipo",
                                    order: "asc"
                                },
                                condition: "item.compania==" + scope + ".companiasel"
                            }) %>
                        </div>
                        <div class="col-sm-6 col-md-6" ng-if="<%= scope %>.soyII">
                            <%- FORM.select("institucion", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: true,
                                todos: true,
                                text: "item.nombre",
                                table: "vw_instituciones",
                                icon: {class: "archive"},
                                label: "Institución",
                                query: {
                                    orderby: "tipo",
                                    order: "asc"
                                },
                                condition: "item.compania==" + scope + ".companiasel"
                            }) %>
                        </div>
                        <div class="col-sm-6 col-md-6" ng-show="dashboard.institucion!=='[NULL]' && dashboard.usery.tipo_institucion == 1">
                            <%- FORM.select("poa", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: false,
                                truelabel: "POA",
                                text: "item.nombre + ' - ' + item.periodo_poa",
                                permission: "poa",
                                table: "vw_poa_ddl",
                                condition: "item.entidad == dashboard.institucion",
                                icon: {class: "archive"}
                            }) %>
                        </div>
                        <div class="col-sm-6 col-md-6" ng-show="dashboard.institucion!=='[NULL]' && dashboard.usery.tipo_institucion == 2">
                            <%- FORM.select("poa", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: false,
                                truelabel: "Gestión Presupuestaria",
                                text: "item.nombre + ' - ' + item.periodo_poa",
                                permission: "poa",
                                table: "vw_poa_ddl",
                                condition: "item.entidad == dashboard.institucion",
                                icon: {class: "archive"}
                            }) %>
                        </div>
                        <div class="col-sm-6 col-md-6" ng-show="dashboard.institucion!=='[NULL]'">
                            <%- FORM.select("departamento", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: false,
                                disabled: true,
                                truelabel: 'Departamento',
                                text: "item.nombre",
                                permission: "departamento",
                                table: "vw_departamentos_dashboard",
                                condition: "(item.compania == dashboard.compania_id || item.compania == 0) && (item.poa == (dashboard.poa+'') || item.poa == 0)",
                                icon: {class: "archive"}
                            }) %>
                        </div>
                        <div class="col-md-12 col-sm-12 pull-left" style="padding-right: 0;">
                            <button
                                    style="margin-right: 0"
                                    dragonlanguage="" title="Buscar"
                                    type="button" role="button"
                                    class="bg-<%= COLOR.info %> btn btn-labeled btn-xs legitRipple ng-binding pull-right"
                                    ng-click="dashboard.searchData(true)">
                                <b><i class=" icon-search4"></i></b>
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hide_grafico1">
                <%- include('dashboard',{scope:scope}); %>
            </div>
            <div style="display: none;" class="hide_grafico2">
                <%- include('dashboard2',{scope:scope}); %>
            </div>
        </div>
    </div>


</div>


<script>
    $('#btnDashboard').on('click', function () {
        $('.hide_grafico1').hide();
        $('.hide_grafico2').show();
        if (dashboard.loadCharts) {
            dashboard.loadCharts = false;
            resizeCharts();
        }
    });
    $('#btnDashboard2').on('click', function () {
        $('.hide_grafico1').show();
        $('.hide_grafico2').hide();
        if (dashboard.loadCharts) {
            dashboard.loadCharts = false;
            resizeCharts();
        }
    });
    $('.hide_grafico').show();
</script>
