<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('table_', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('entidad', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('riesgo_a_id', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('riesgo_a', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('registro', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('registro_nombre', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('descripcion', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('probabilidad', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('probabilidad_nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('probabilidad_valor', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('impacto_nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('impacto_valor', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('impacto', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('supuestos', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nivel_riesgo', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('nivel_riesgo_v', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.color('color', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('factor_riesgo', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('proceso', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('condition', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('proceso_id', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('causa_debilidad', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('consecuencia', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('compania', scope, {
                    column: 'name',
                    table: 'compania',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "compania_linked", fieldFrom: "id", fieldTo: "myid(compania)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('institucion', scope, {
                    column: 'name',
                    table: 'institucion',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "institucion_linked", fieldFrom: "id", fieldTo: "myid(institucion)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('estado', scope, {}) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('evaluacion', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('riesgo_controls', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('estado_plan_accion', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('estado_plan_accion_nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('estrategia', scope, {
                    column: 'name',
                    table: 'estrategia',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "estrategia_linked", fieldFrom: "id", fieldTo: "myid(estrategia)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('estrategia_nombre', scope, {}) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('observacion', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.checkbox('ocurrencia', scope) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('ocurrencia_nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('ocurrencia_view', scope, {}) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('mamfe_efecto', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('mamfe_causa', scope, {
                //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('mamfe_deteccion', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('mamfe_gravedad', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('mamfe_ocurrencia', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('mamfe_deteccion_current', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('mamfe_gravedad_current', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('mamfe_ocurrencia_current', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('elemento', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('mamfe_elemento', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('mamfe', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.checkbox('condicion', scope) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('departamento', scope, {
                    column: 'name',
                    table: 'departamento',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "departamento_linked", fieldFrom: "id", fieldTo: "myid(departamento)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('riesgo_historico', scope, {
                    column: 'name',
                    table: 'riesgo_historico',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "riesgo_historico_linked", fieldFrom: "id", fieldTo: "myid(riesgo_historico)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('riesgo_historico_nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('riesgo_historico_ano', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('probabilidad_current', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('impacto_current', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('historico_estatus', scope, {
                        //length:15
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





