<div class="row" style="padding-left: 9px; padding-right: 9px;">
    <div class="col-sm-12 col-md-6">
        <div class="panel">
            <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>" dragonlanguage="">
                <h6 class="panel-title"><language>Político</language></h6>
            </div>
            <div class="panel-body pesupuesto">
                <ul class="">
                    <li class="" ng-repeat="value in pesta_items.list_pesta_items" repeat-end="pesta_items.calculateEqualize()"  ng-if="value.type === 1">
                        {{value.descripcion}} <a title="Alineado a ({{value.cantidad}}) estrategia/s" ng-click="pesta_items.relateditems(value.id)">({{value.cantidad}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="panel">
            <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>" dragonlanguage="">
                <h6 class="panel-title"><language>Económico</language></h6>
            </div>
            <div class="panel-body pesupuesto">
                <ul class="">
                    <li class="" ng-repeat="value in pesta_items.list_pesta_items" repeat-end="pesta_items.calculateEqualize()" ng-if="value.type === 2">
                        {{value.descripcion}} <a title="Alineado a ({{value.cantidad}}) estrategia/s" ng-click="pesta_items.relateditems(value.id)">({{value.cantidad}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-left: 9px; padding-right: 9px;">
    <div class="col-sm-12 col-md-6">
        <div class="panel">
            <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>" dragonlanguage="">
                <h6 class="panel-title"><language>Social</language></h6>
            </div>
            <div class="panel-body pesupuesto">
                <ul class="">
                    <li class="" ng-repeat="value in pesta_items.list_pesta_items" repeat-end="pesta_items.calculateEqualize()" ng-if="value.type === 3">
                        {{value.descripcion}} <a title="Alineado a ({{value.cantidad}}) estrategia/s" ng-click="pesta_items.relateditems(value.id)">({{value.cantidad}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="panel">
            <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>" dragonlanguage="">
                <h6 class="panel-title"><language>Tecnológico</language></h6>
            </div>
            <div class="panel-body pesupuesto">
                <ul class="">
                    <li class="" ng-repeat="value in pesta_items.list_pesta_items" repeat-end="pesta_items.calculateEqualize()" ng-if="value.type === 4">
                        {{value.descripcion}} <a title="Alineado a ({{value.cantidad}}) estrategia/s" ng-click="pesta_items.relateditems(value.id)">({{value.cantidad}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-left: 9px; padding-right: 9px;">
    <div class="col-sm-12 col-md-6">
        <div class="panel">
            <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>" dragonlanguage="">
                <h6 class="panel-title"><language>Ambiental</language></h6>
            </div>
            <div class="panel-body pesupuesto">
                <ul class="">
                    <li class="" ng-repeat="value in pesta_items.list_pesta_items" repeat-end="pesta_items.calculateEqualize()" ng-if="value.type === 5">
                        {{value.descripcion}} <a title="Alineado a ({{value.cantidad}}) estrategia/s" ng-click="pesta_items.relateditems(value.id)">({{value.cantidad}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="panel">
            <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>" dragonlanguage="">
                <h6 class="panel-title"><language>Legal</language></h6>
            </div>
            <div class="panel-body pesupuesto">
                <ul class="">
                    <li class="" ng-repeat="value in pesta_items.list_pesta_items" repeat-end="pesta_items.calculateEqualize()" ng-if="value.type === 6">
                        {{value.descripcion}} <a title="Alineado a ({{value.cantidad}}) estrategia/s" ng-click="pesta_items.relateditems(value.id)">({{value.cantidad}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        setTimeout( function (){
            pesta_items.calculateEqualize()
        },200)
    })
</script>