<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row"></div>
        <div class="panel panel-default">
            <div class="panel-heading panel-dashboard" style="background-color: #ededed;">
                <h6 class="panel-title">Filtros de búsqueda</h6>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.select('poa_desde', scope, {
                            // allownull: false,
                            allownew: false,
                            allowedit: false,
                            allowview: false,
                            allowlist: false,
                            label: "POA de origen",
                            text: "item.nombre + ' ( ' + item.periodo_poa + ' )'",
                            // text: "item.nombre + ' ' + item.apellido",
                            table: "poa",
                            field: "id",
                            icon: {class:"archive"},
                            condition: "item.pei == lote_clonacion.session.pei_id && item.id != lote_clonacion.poa_destino"
                        }) %>
                    </div>
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.select('departamento', scope, {
                            // allownull: false,
                            allownew: false,
                            allowedit: false,
                            allowview: false,
                            allowlist: false,
                            truelabel: "Departamento a copiar",
                            text: "item.nombre +' - '+ item.estatus_nombre",
                            // text: "item.nombre + ' ' + item.apellido",
                            table: "vw_presupuesto_departamento_auth",
                            field: "id",
                            columns: ["departamento"],
                            icon: {class:"archive"},
                            condition: "((item.id > 0) && (item.poa == lote_clonacion.poa_desde) && (item.count_productos > 0))"
                        }) %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.select('poa_destino', scope, {
                            // allownull: false,
                            allownew: false,
                            allowedit: false,
                            allowview: false,
                            allowlist: false,
                            label: "POA destino",
                            text: "item.nombre + ' ( ' + item.periodo_poa + ' )'",
                            // text: "item.nombre + ' ' + item.apellido",
                            table: "poa",
                            field: "id",
                            icon: {class:"archive"},
                            condition: "item.pei == lote_clonacion.session.pei_id && item.id != lote_clonacion.poa_desde"
                        }) %>
                    </div>
                    <div class='col-sm-4 col-md-4'></div>
                    <div class='col-sm-2 col-md-2'></div>
                    <div class='col-sm-2 col-md-2' style="margin-top: 20px;">
                        <button
                                dragonlanguage="" title="MESSAGE.ic('mono.save')"
                                type="button" role="button"
                                class=" btn bg-<%= COLOR.info %>-800 btn-labeled btn-xs pull-right"
                                ng-click="<%= scope %>.getData(lote_clonacion.poa_desde, lote_clonacion.departamento)">
                            <b><i class="icon-search4"></i></b>
                            <language>Buscar</language>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div dragonlanguage="" id="info-box" class="alert alert-info alert-styled-left alert-bordered">
                <p>Este lote estará preparado para transferir los productos/proyectos y todas sus dependencias del departamento: "<strong style="text-transform: uppercase">{{lote_clonacion.departamento_object.nombre}}</strong>" desde el POA: "<strong style="text-transform: uppercase">{{lote_clonacion.poa_desde_object.nombre}}</strong>" al POA: "<strong style="text-transform: uppercase">{{lote_clonacion.poa_destino_object.nombre}}</strong>. Tener presente que esta opción copia los datos de un lugar a otro, dejando la posibilidad de duplicar los registros. Por favor revisar antes de ejecutar esta acción."</p>
            </div>
        </div>
        <div class="row">
            <br>
            <div class='col-sm-12 col-md-12' style="margin-bottom: 10px;" ng-show="lote_clonacion.currentRepeat && lote_clonacion.currentRepeat != 'productos'">
                <button
                        dragonlanguage="" title="Ir atrás"
                        style="background-color: #37b8c3 !important; border-color: #37b8c3 !important;"
                        type="button" role="button"
                        class=" btn bg-<%= COLOR.info %>-800 btn-labeled btn-xs pull-right"
                        ng-click="<%= scope %>.irAtras(lote_clonacion.currentRepeat)">
                    <b><i class="icon-arrow-left8"></i></b>
                    <language>Ir Atrás</language>
                </button>
            </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'productos'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th style="max-width: 10% !important">Resultado Esperado</th>
                            <th>Nombre del producto/proyecto</th>
                            <th>Fecha Inicio/Fecha Fin</th>
                            <th style="width: 20%">Departamento</th>
                            <th>Descripción del producto/proyecto</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatProductos">
                            <td>
                                <div>
                                    <select class="form-control" ng-model="row.resultado"
                                             ng-options="opt.id as opt.resultado_esperado for opt in lote_clonacion.resultado_list"
                                             style="max-width: 300px;-webkit-appearance: none;color: black !important;-moz-appearance: none;appearance: none;background-image: none;font-size: 15px;font-family: 'Outfit', Helvetica Neue, Helvetica, Arial, sans-serif"
                                             title="{{lote_clonacion.get_value_name(row.resultado, 'resultado')}}"
                                             disabled
                                    >
                                    </select>
                                </div>
                            </td>
                            <td>{{row.nombre}}</td>
                            <td>{{lote_clonacion.format_date(row.fecha_inicio) + ' - ' + lote_clonacion.format_date(row.fecha_fin)}}</td>
                            <td>
                                <div>
                                    <select class="form-control" ng-model="row.departamento"
                                            style="max-width: 300px;-webkit-appearance: none;color: black !important;-moz-appearance: none;appearance: none;background-image: none;font-size: 15px;font-family: 'Outfit', Helvetica Neue, Helvetica, Arial, sans-serif"
                                             ng-options="opt.id as opt.nombre for opt in lote_clonacion.departamentos_list"
                                             disabled
                                    >
                                    </select>
                                </div>
                            </td>
                            <td>{{row.descripcion}}</td>
                            <td class="context-control"
                                oncontextmenu="return false;">
                                <ul class="icons-list dragon-action" ng-show="row.mis_actividades || row.mis_indicadores"
                                    style="z-index: 99999; text-align: center;">
                                    <li class="ng-scope" ng-show="row.mis_actividades">
                                        <a title="Mostrar las actividades del producto"
                                           ng-click="lote_clonacion.irActividades(row)">
                                            <i class="icon-spell-check2"></i>
                                        </a>
                                    </li>
                                    <li class="ng-scope" ng-show="row.mis_indicadores">
                                        <a title="Mostrar los indicadores del producto"
                                           ng-click="lote_clonacion.irIndicadoresP(row)">
                                            <i class="icon-meter-fast"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'actividades'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th style="width: 15%">Producto/Proyecto</th>
                            <th>Nombre de la actividad</th>
                            <th>Fecha Inicio/Fecha Fin</th>
                            <th>Departamento</th>
                            <th>Descripción de la actividad</th>
                            <th>Presupuesto</th>
                            <th style="width: 20%">Responsable</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatActividades">
                            <td>
                                <div>
                                    <select class="form-control" ng-model="row.producto"
                                             ng-options="opt.id as opt.nombre for opt in lote_clonacion.producto_list"
                                             style="max-width: 300px;-webkit-appearance: none;color: black !important;-moz-appearance: none;appearance: none;background-image: none;font-size: 15px;font-family: 'Outfit', Helvetica Neue, Helvetica, Arial, sans-serif"
                                             title="{{lote_clonacion.get_value_name(row.producto, 'producto')}}"
                                             disabled
                                    >
                                    </select>
                                </div>
                            </td>
                            <td>{{row.nombre}}</td>
                            <td>{{lote_clonacion.format_date(row.fecha_inicio) + ' - ' + lote_clonacion.format_date(row.fecha_fin)}}</td>
                            <td>
                                <div>
                                    <select class="form-control" ng-model="row.departamento"
                                             ng-options="opt.id as opt.nombre for opt in lote_clonacion.departamentos_list"
                                             style="max-width: 300px;-webkit-appearance: none;color: black !important;-moz-appearance: none;appearance: none;background-image: none;font-size: 15px;font-family: 'Outfit', Helvetica Neue, Helvetica, Arial, sans-serif"
                                             title="{{lote_clonacion.get_value_name(row.departamento, 'departamento')}}"
                                             disabled
                                    >
                                    </select>
                                </div>
                            </td>
                            <td>{{row.descripcion}}</td>
                            <td>{{lote_clonacion.format_money(row.presupuesto)}}</td>
                            <td>
                                <div>
                                    <select class="form-control" ng-model="row.responsable" name="actPOA_responsable"
                                             ng-options="opt.id as opt.completo for opt in lote_clonacion.usuarios_list |filter: {departamento: row.departamento}"
                                    >
                                    </select>
                                </div>
                            </td>
                            <td class="context-control"
                                oncontextmenu="return false;">
                                <ul class="icons-list dragon-action" ng-show="row.mis_actividades_apoyo || row.mis_indicadores"
                                    style="z-index: 99999; text-align: center;">
                                    <li class="ng-scope" ng-show="row.mis_actividades_apoyo">
                                        <a title="Mostrar las actividades de apoyo de la actividad"
                                           ng-click="lote_clonacion.irActividades_apoyo(row)">
                                            <i class="icon-superscript2"></i>
                                        </a>
                                    </li>
                                    <li class="ng-scope" ng-show="row.mis_indicadores">
                                        <a title="Mostrar los indicadores de la actividad"
                                           ng-click="lote_clonacion.irIndicadoresA(row)">
                                            <i class="icon-meter-slow"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'indicadoresP'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th style="width: 15%">Producto/Proyecto</th>
                            <th>Nombre del indicador</th>
                            <th>Año línea base</th>
                            <th>Medio de verificación</th>
                            <th>Método de cálculo</th>
                            <th>Fuente</th>
                            <th>Descripcion del indicador</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatIndicadoresP">
                            <td>
                                <div>
                                    <select class="form-control" ng-model="row.producto"
                                             ng-options="opt.id as opt.nombre for opt in lote_clonacion.producto_list"
                                             style="max-width: 300px;-webkit-appearance: none;color: black !important;-moz-appearance: none;appearance: none;background-image: none;font-size: 15px;font-family: 'Outfit', Helvetica Neue, Helvetica, Arial, sans-serif"
                                             title="{{lote_clonacion.get_value_name(row.producto, 'producto')}}"
                                             disabled
                                    >
                                    </select>
                                </div>
                            </td>
                            <td>{{row.nombre}}</td>
                            <td>{{row.ano_linea_base}}</td>
                            <td>{{row.medio_verificacion}}</td>
                            <td>{{row.metodo_calculo}}</td>
                            <td>{{row.fuente}}</td>
                            <td>{{row.descripcion}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'actividades_apoyo'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th>Actividad</th>
                            <th>Nombre de la actividad de apoyo</th>
                            <th>Fecha Inicio/Fecha Fin</th>
                            <th>Departamento</th>
                            <th>Descripción de la actividad de apoyo</th>
                            <th>Presupuesto</th>
                            <th style="width: 20%">Responsable</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatActividades_apoyo">
                            <td>
                                <div>
                                    <select class="form-control" ng-model="row.actividades_poa"
                                             ng-options="opt.id as opt.nombre for opt in lote_clonacion.actividades_list"
                                             style="max-width: 300px;-webkit-appearance: none;color: black !important;-moz-appearance: none;appearance: none;background-image: none;font-size: 15px;font-family: 'Outfit', Helvetica Neue, Helvetica, Arial, sans-serif"
                                             title="{{lote_clonacion.get_value_name(row.actividades_poa, 'actividades')}}"
                                             disabled
                                    >
                                    </select>
                                </div>
                            </td>
                            <td>{{row.nombre}}</td>
                            <td>{{lote_clonacion.format_date(row.fecha_inicio) + ' - ' + lote_clonacion.format_date(row.fecha_fin)}}</td>
                            <td>
                                <select class="form-control" ng-model="row.departamento"
                                         ng-options="opt.id as opt.nombre for opt in lote_clonacion.departamentos_list"
                                         style="max-width: 300px;-webkit-appearance: none;color: black !important;-moz-appearance: none;appearance: none;background-image: none;font-size: 15px;font-family: 'Outfit', Helvetica Neue, Helvetica, Arial, sans-serif"
                                         title="{{lote_clonacion.get_value_name(row.departamento, 'departamento')}}"
                                         disabled
                                >
                                </select>
                            </td>
                            <td>{{row.descripcion}}</td>
                            <td>{{lote_clonacion.format_money(row.presupuesto)}}</td>
                            <td>
                                <div>
                                    <select class="form-control" name="apoyo_responsable" ng-model="row.responsable"
                                             ng-options="opt.id as opt.completo for opt in lote_clonacion.usuarios_list | filter:{departamento:row.departamento}"
                                    >
                                    </select>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'indicadoresA'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th>Actividad</th>
                            <th>Nombre del indicador</th>
                            <th>Año línea base</th>
                            <th>Medio de verificación</th>
                            <th>Método de cálculo</th>
                            <th>Fuente</th>
                            <th>Descripcion del indicador</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatIndicadoresA">
                            <td>{{row.actividades_poa}}</td>
                            <td>{{row.nombre}}</td>
                            <td>{{row.ano_linea_base}}</td>
                            <td>{{row.medio_verificacion}}</td>
                            <td>{{row.metodo_calculo}}</td>
                            <td>{{row.fuente}}</td>
                            <td>{{row.descripcion}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer dragonformfooter" dragonlanguage="" id="btnformfooter">
    <div class='col-sm-2 col-md-2'>
        <button
                dragonlanguage="" title="clonar"
                style="background-color: #37b8c3 !important; border-color: #37b8c3 !important;"
                type="button" role="button"
                class=" btn bg-<%= COLOR.info %>-800 btn-labeled btn-xs pull-left"
                ng-show="lote_clonacion.config.productos.length > 0"
                ng-click="<%= scope %>.emigrar_poa()">
            <b><i class="icon-database-arrow"></i></b>
            <language>clonar</language>
        </button>
    </div>
 <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
        <i class="position-right"></i>
    </span>

    <button

            dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
            type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.pages.form.close()">
        <b><i class="icon-cross2"></i></b>
        <language>MESSAGE.ic('mono.cancel')</language>
    </button>
    <button ng-show="<%= scope %>.form.mode!=='new'"
            dragonlanguage="" title="MESSAGE.ic('mono.save')"
            type="button" role="button" class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.pages.form.save()">
        <b><i class="icon-floppy-disk"></i></b>
        <language>MESSAGE.ic('mono.save')</language>
    </button>
    <div class="btn-group dropup " ng-show="<%= scope %>.form.mode==='new'">
        <button
                style="margin-right: 1px !important;"
                dragonlanguage="" title="MESSAGE.ic('mono.save')"
                type="button" role="button" class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs"
                ng-click="<%= scope %>.pages.form.save()">
            <b><i class="icon-floppy-disk"></i></b>
            <language>MESSAGE.ic('mono.save')</language>
        </button>
        <button  style="height: 34px;" type="button" class="btn bg-<%= COLOR.success %>-600 dropdown-toggle btn-xs"
                 data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left">
            <li>
                <a ng-click="<%= scope %>.pages.form.save(undefined,undefined,false)" dragonlanguage="">
                    <i class="icon-floppy-disks"></i>
                    <language>MESSAGE.ic('mono.saveAndContinue')</language>
                </a>
            </li>
        </ul>
    </div>
</div>



