<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('departamento', scope, {
                    // allownull: false,
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    label: "Departamento",
                    text: "item.nombre +' - '+ item.estatus_nombre",
                    // text: "item.nombre + ' ' + item.apellido",
                    table: "vw_presupuesto_departamento_auth",
                    field: "id",
                    columns: ["departamento"],
                    icon: {class:"archive"},
                    condition: "((item.id > 0) && (item.poa == lote_clonacion.condiction) && (item.count_productos > 0))"
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('poa_desde', scope, {
                    // allownull: false,
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    label: "POA a copiar",
                    text: "item.nombre + ' ( ' + item.periodo_poa + ' )'",
                    // text: "item.nombre + ' ' + item.apellido",
                    table: "poa",
                    field: "id",
                    icon: {class:"archive"},
                    condition: "item.pei == lote_clonacion.session.pei_id"
                }) %>
            </div>
            <div class='col-sm-2 col-md-2' style="margin-top: 20px;">
                <button
                        dragonlanguage="" title="MESSAGE.ic('mono.save')"
                        type="button" role="button"
                        class=" btn bg-<%= COLOR.info %>-800 btn-labeled btn-xs pull-left"
                        ng-click="<%= scope %>.getData(lote_clonacion.poa_desde, lote_clonacion.departamento)">
                    <b><i class="icon-search4"></i></b>
                    <language>Buscar</language>
                </button>
            </div>
            <div class='col-sm-2 col-md-2' style="margin-top: 20px;" ng-show="lote_clonacion.currentRepeat && lote_clonacion.currentRepeat != 'productos'">
                <button
                        dragonlanguage="" title="Ir atrás"
                        style="background-color: #37b8c3 !important; border-color: #37b8c3 !important;"
                        type="button" role="button"
                        class=" btn bg-<%= COLOR.info %>-800 btn-labeled btn-xs pull-right"
                        ng-click="<%= scope %>.irAtras(lote_clonacion.currentRepeat)">
                    <b><i class="icon-arrow-left8"></i></b>
                    <language>Ir Atrás</language>
                </button>
            </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'productos'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th style="max-width: 10% !important">Resultado Esperado</th>
                            <th>Nombre</th>
                            <th>Fecha Inicio/Fecha Fin</th>
                            <th style="width: 20%">Departamento</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatProductos">
                            <td>
                                <div>
                                    <select3 class="form-control" ng-model="row.resultado"
                                             s2-options="opt.id as opt.resultado_esperado for opt in lote_clonacion.resultado_list"
                                             style="max-width: 300px"
                                             title="{{lote_clonacion.get_value_name(row.resultado, 'resultado')}}"
                                             disabled
                                    >
                                    </select3>
                                </div>
                            </td>
                            <td>{{row.nombre}}</td>
                            <td>{{lote_clonacion.format_date(row.fecha_inicio) + ' - ' + lote_clonacion.format_date(row.fecha_fin)}}</td>
                            <td>
                                <div>
                                    <select3 class="form-control" ng-model="row.departamento"
                                             s2-options="opt.id as opt.nombre for opt in lote_clonacion.departamentos_list"
                                             disabled
                                    >
                                    </select3>
                                </div>
                            </td>
                            <td>{{row.descripcion}}</td>
                            <td class="context-control"
                                oncontextmenu="return false;">
                                <ul class="icons-list dragon-action" ng-show="row.mis_actividades || row.mis_indicadores"
                                    style="z-index: 99999; text-align: center;">
                                    <li class="ng-scope" ng-show="row.mis_actividades">
                                        <a title="Mostrar las actividades del producto"
                                           ng-click="lote_clonacion.irActividades(row)">
                                            <i class="icon-gear"></i>
                                        </a>
                                    </li>
                                    <li class="ng-scope" ng-show="row.mis_indicadores">
                                        <a title="Mostrar los indicadores del producto"
                                           ng-click="lote_clonacion.irIndicadoresP(row)">
                                            <i class="icon-gear"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'actividades'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th style="width: 15%">Producto</th>
                            <th>Nombre</th>
                            <th>Fecha Inicio/Fecha Fin</th>
                            <th>Departamento</th>
                            <th>Descripción</th>
                            <th>Presupuesto</th>
                            <th style="width: 20%">Responsable</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatActividades">
                            <td>
                                <div>
                                    <select3 class="form-control" ng-model="row.producto"
                                             s2-options="opt.id as opt.nombre for opt in lote_clonacion.producto_list"
                                             style="max-width: 300px"
                                             title="{{lote_clonacion.get_value_name(row.producto, 'producto')}}"
                                             disabled
                                    >
                                    </select3>
                                </div>
                            </td>
                            <td>{{row.nombre}}</td>
                            <td>{{lote_clonacion.format_date(row.fecha_inicio) + ' - ' + lote_clonacion.format_date(row.fecha_fin)}}</td>
                            <td>
                                <div>
                                    <select3 class="form-control" ng-model="row.departamento"
                                             s2-options="opt.id as opt.nombre for opt in lote_clonacion.departamentos_list"
                                             style="max-width: 300px"
                                             title="{{lote_clonacion.get_value_name(row.departamento, 'departamento')}}"
                                             disabled
                                    >
                                    </select3>
                                </div>
                            </td>
                            <td>{{row.descripcion}}</td>
                            <td>{{lote_clonacion.format_money(row.presupuesto)}}</td>
                            <td>
                                <div>
                                    <select3 class="form-control" ng-model="row.responsable"
                                             s2-options="opt.id as opt.completo for opt in lote_clonacion.usuarios_list"
                                    >
                                    </select3>
                                </div>
                            </td>
                            <td class="context-control"
                                oncontextmenu="return false;">
                                <ul class="icons-list dragon-action" ng-show="row.mis_actividades_apoyo || row.mis_indicadores"
                                    style="z-index: 99999; text-align: center;">
                                    <li class="ng-scope" ng-show="row.mis_actividades_apoyo">
                                        <a title="Mostrar las actividades de apoyo de la actividad"
                                           ng-click="lote_clonacion.irActividades_apoyo(row)">
                                            <i class="icon-gear"></i>
                                        </a>
                                    </li>
                                    <li class="ng-scope" ng-show="row.mis_indicadores">
                                        <a title="Mostrar los indicadores de la actividad"
                                           ng-click="lote_clonacion.irIndicadoresA(row)">
                                            <i class="icon-gear"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'indicadoresP'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th style="width: 15%">Producto</th>
                            <th>Nombre</th>
                            <th>Año línea base</th>
                            <th>Medio de verificación</th>
                            <th>Método de cálculo</th>
                            <th>Fuente</th>
                            <th>Descripcion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatIndicadoresP">
                            <td>
                                <div>
                                    <select3 class="form-control" ng-model="row.producto"
                                             s2-options="opt.id as opt.nombre for opt in lote_clonacion.producto_list"
                                             style="max-width: 300px"
                                             title="{{lote_clonacion.get_value_name(row.producto, 'producto')}}"
                                             disabled
                                    >
                                    </select3>
                                </div>
                            </td>
                            <td>{{row.nombre}}</td>
                            <td>{{row.ano_linea_base}}</td>
                            <td>{{row.medio_verificacion}}</td>
                            <td>{{row.metodo_calculo}}</td>
                            <td>{{row.fuente}}</td>
                            <td>{{row.descripcion}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'actividades_apoyo'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th>Actividad</th>
                            <th>Nombre</th>
                            <th>Fecha Inicio/Fecha Fin</th>
                            <th>Departamento</th>
                            <th>Descripción</th>
                            <th>Presupuesto</th>
                            <th style="width: 20%">Responsable</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatActividades_apoyo">
                            <td>
                                <div>
                                    <select3 class="form-control" ng-model="row.actividades_poa"
                                             s2-options="opt.id as opt.nombre for opt in lote_clonacion.actividades_list"
                                             style="max-width: 300px"
                                             title="{{lote_clonacion.get_value_name(row.actividades_poa, 'actividades')}}"
                                             disabled
                                    >
                                    </select3>
                                </div>
                            </td>
                            <td>{{row.nombre}}</td>
                            <td>{{lote_clonacion.format_date(row.fecha_inicio) + ' - ' + lote_clonacion.format_date(row.fecha_fin)}}</td>
                            <td>
                                <select3 class="form-control" ng-model="row.departamento"
                                         s2-options="opt.id as opt.nombre for opt in lote_clonacion.departamentos_list"
                                         style="max-width: 300px"
                                         title="{{lote_clonacion.get_value_name(row.departamento, 'departamento')}}"
                                         disabled
                                >
                                </select3>
                            </td>
                            <td>{{row.descripcion}}</td>
                            <td>{{lote_clonacion.format_money(row.presupuesto)}}</td>
                            <td>
                                <div>
                                    <select3 class="form-control" ng-model="row.responsable"
                                             s2-options="opt.id as opt.completo for opt in lote_clonacion.usuarios_list"
                                    >
                                    </select3>
                                </div>
                            </td>
                            <td class="context-control"
                                oncontextmenu="return false;">
                                <ul class="icons-list dragon-action" ng-show="row.mis_actividades_apoyo || row.mis_indicadores"
                                    style="z-index: 99999; text-align: center;">
                                    <li class="ng-scope" ng-show="row.mis_actividades">
                                        <a title="Mostrar las actividades de apoyo de la actividad"
                                           ng-click="lote_clonacion.irActividades(row)">
                                            <i class="icon-gear"></i>
                                        </a>
                                    </li>
                                    <li class="ng-scope" ng-show="row.mis_indicadores">
                                        <a title="Mostrar los indicadores de la actividad"
                                           ng-click="lote_clonacion.irActividades(row)">
                                            <i class="icon-gear"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-flat" ng-show="lote_clonacion.currentRepeat == 'indicadoresA'">

                <div style="overflow-x: scroll">
                    <table class=" table table-togglable table-framed sindu-table">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th>Actividad</th>
                            <th>Nombre</th>
                            <th>Año línea base</th>
                            <th>Medio de verificación</th>
                            <th>Método de cálculo</th>
                            <th>Fuente</th>
                            <th>Descripcion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in lote_clonacion.repeatIndicadoresA">
                            <td>{{row.actividades_poa}}</td>
                            <td>{{row.nombre}}</td>
                            <td>{{row.ano_linea_base}}</td>
                            <td>{{row.medio_verificacion}}</td>
                            <td>{{row.metodo_calculo}}</td>
                            <td>{{row.fuente}}</td>
                            <td>{{row.descripcion}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

<div class='col-sm-2 col-md-2' style="margin-top: 20px;">
    <button
            dragonlanguage="" title="clonar"
            style="background-color: #37b8c3 !important; border-color: #37b8c3 !important;"
            type="button" role="button"
            class=" btn bg-<%= COLOR.info %>-800 btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.emigrar_poa()">
        <b><i class="icon-arrow-left8"></i></b>
        <language>clonar</language>
    </button>
</div>
<%- FORM.footer(scope) %>





