<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('programa_id', scope, {
                    //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('programa_nombre', scope, {}) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('descripcion', scope, {
                    //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('observaciones', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('plan_id', scope, {
                    //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('plan_nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('doc_id', scope, {
                    //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('doc_nombre', scope, {}) %>
            </div>

        </div>
    </div>
</div>

<%- FORM.footer(scope) %>

<script>

</script>



