<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <%- FORM.input("nombre", scope, {maxlength: 1000, placeholder:"Nombre"}) %>
            </div>

            <div class="col-sm-12 col-md-8 remove-input-space">
                <%- FORM.textarea("descripcion", scope, {maxlength: 4000, placeholder:"Descripción"}) %>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 form-group-material form-group has-feedback  has-feedback-left">
                <label class="control-label is-visible">Período PEI</label>
                <select ng-model="poa_admin.pei" name="pei">
                    <option value="">Seleccione una Opción</option>
                    <option ng-repeat="value in poa_admin.drp_pei" value="{{value.id}}">{{value.nombre + " " + value.periodo_desde + " - " + value.periodo_hasta}}</option>
                </select>
                <div class="form-control-feedback ng-scope" style="margin-left: 10px;">
                    <i class="icon-archive">
                    </i>
                </div>
                <span ng-if="poa_admin.validate['pei'].messages.length > 0" class="help-block">
                    <p class="text-{{validation.type}}"
                       ng-repeat="(key,validation) in poa_admin.validate['pei'].messages track by key">
                           <i class="{{validation.icon}}"></i> {{validation.message}}
                    </p>
                 </span>
            </div>
            <div class="col-sm-12 col-md-3 form-group-material form-group has-feedback  has-feedback-left">
                <label class="control-label is-visible">Período POA</label>
                <select ng-model="poa_admin.periodo_poa" name="periodo_poa" class="form-control">
                    <option value="">Seleccione</option>
                    <option ng-repeat="value in poa_admin.periodos_poa"  value="{{value}}">{{value}}</option>
                </select>
                <div class="form-control-feedback ng-scope" style="margin-left: 10px;">
                    <i class="icon-archive">
                    </i>
                </div>
                <span ng-if="poa_admin.validate['periodo_poa'].messages.length > 0" class="help-block">
                    <p class="text-{{validation.type}}"
                       ng-repeat="(key,validation) in poa_admin.validate['periodo_poa'].messages track by key">
                           <i class="{{validation.icon}}"></i> {{validation.message}}
                    </p>
                 </span>
            </div>

            <div class="col-sm-12 col-md-3">
                <%- FORM.select("monitoreo", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    column: "nombre",
                    text:"item.nombre",
                    table: "poa_monitoreo",
                    label: "Monitoreo",
                    icon: {class: "cube"},
                    query: {
                        where: [{
                            field: "deleted_at",
                            operator:"",
                            value: "$IS NULL"
                        }],
                        orderby: "cantidad",
                        order: "desc",
                        distinct: false
                    },
                }) %>
            </div>
            <!--<div class="col-sm-12 col-md-3">-->
                <!--<- FORM.select("estado", scope, {-->
                    <!--allownull: false,-->
                    <!--allownew: false,-->
                    <!--allowedit: false,-->
                    <!--allowview: false,-->
                    <!--allowlist: false,-->
                    <!--refresh: false,-->
                    <!--text: "item.nombre",-->
                    <!--table: "poa_estatus",-->
                    <!--icon: {class: "archive"},-->
                    <!--label: "Estatus"-->
                <!--}) >-->
            <!--</div>-->
            <div  ng-if="poa_admin.estado != 5" class="col-sm-12 col-md-2" id="checkDinamic">
                <%- FORM.checkbox("activo", scope, {text: 'Activo?'}) %>
            </div>
        </div>
        <!--<div class="row">-->

        <!--</div>-->
    </div>
</div>

<%- FORM.footer(scope) %>

<script>
    $('[name="pei"]').select2();
    $('[name="periodo_poa"]').select2();
    // $("#refh").val('').trigger('change');
</script>