<style>
    .icon-help {
        cursor: pointer;
        margin-left: 12px;
        color: #989f9369 !important;
    }
</style>
<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row" ng-show="indicador_actividad.showFuente===true">
            <div class="col-sm-6 col-md-6 ">
                <%- FORM.select("ws_connection", scope, {
                    allowedit: false,
                    allownew: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    text: "item.name",
                    table: "ws_connection",
                    icon: {class: "archive"},
                    truelabel: "Base de Datos Externa"
                }) %>
            </div>
            <div class="col-sm-6 col-md-6 ">
                <%- FORM.select("ws_connection_field", scope, {
                    allowedit: false,
                    allownew: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    text: "item.name",
                    table: "ws_connection_field",
                    icon: {class: "archive"},
                    truelabel: "Fuente Externa",
                    condition: "item.ws_connection == indicador_actividad.ws_connection"
                }) %>
            </div>
            <div class="col-sm-6 col-md-6 " ng-show="indicador_actividad.ws_connection_field!=='[NULL]'">
                <h3>{{indicador_actividad.ws_connection_field_object.ws_connection_name}} |
                    {{indicador_actividad.ws_connection_field_object.name}}: {{indicador_actividad.resultExterno}}</h3>
            </div>
        </div>
        <div ng-show="indicador_actividad.showFuente!==true" class="row">
            <div class="col-sm-6 col-md-6 ">
                <%- FORM.input("nombre", scope, {
                    maxlength: 1000,
                    placeholder: "Nombre del Indicador",
                    popover: {
                        title: "Nombre",
                        content: "Captura el nombre"
                    }
                }) %>
            </div>
            <div class="col-sm-12 col-md-6 remove-input-space">
                <%- FORM.textarea("descripcion", scope, {
                    maxlength: 4000,
                    placeholder: "Descripción del Indicador"
                }) %>
            </div>
        </div>
        <div ng-show="indicador_actividad.showFuente!==true" class="row">
            <div ng-show="indicador_actividad.no_trabaja_poa()" class="col-sm-12 col-md-3">
                <%-
                FORM.select("departamento", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    multiple: false,
                    truelabel: "Departamento",
                    text: "item.nombre",
                    table: "vw_presupuesto_departamento",
                    columns: ["nombre"],
                    icon: {class: "archive"},
                    condition: "(item.compania == indicador_actividad.conditionPoa.compania_id && item.estatus == 1 && item.poa==indicador_actividad.conditionPoa.poa_id) && item.active == 1",
                    popover: {
                        title: "Departamento",
                        content: "Captura el departamento"
                    }
                })
                %>
            </div>


            <div ng-if="indicador_actividad.departamento == '0' && indicador_actividad.session.tipo_institucion == 1" class="col-sm-12 col-md-3  remove-input-space">
                <%- FORM.select("producto", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    text: "item.nombre",
                    table: "drp_productos_poa_indi_a",
                    permission: "productos_poa",
                    icon: {class: "archive"},
                    truelabel: "Proyecto/Producto",
                    popover: {
                        title: "Proyecto/Producto",
                        content: "Captura los Proyectos/Productos"
                    },
                    condition: "item.poa == indicador_actividad.conditionPoa.poa_id"
                }) %>
            </div>
            <div ng-if="indicador_actividad.departamento == '0' && indicador_actividad.session.tipo_institucion == 2" class="col-sm-12 col-md-3  remove-input-space">
                <%- FORM.select("producto", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    text: "item.nombre",
                    table: "drp_productos_poa_indi_a",
                    permission: "productos_poa",
                    icon: {class: "archive"},
                    truelabel: "Proyecto/Plan de Acción",
                    popover: {
                        title: "Proyecto/Plan de Acción",
                        content: "Captura los Proyectos/Planes de Acción"
                    },
                    condition: "item.poa == indicador_actividad.conditionPoa.poa_id"
                }) %>
            </div>

            <div ng-if="indicador_actividad.departamento != '0' && indicador_actividad.session.tipo_institucion == 1" class="col-sm-12 col-md-3  remove-input-space">
                <%-
                FORM.select("producto", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    text: "item.nombre",
                    table: "drp_productos_poa_indi_a",
                    icon: {class: "archive"},
                    truelabel: "Proyecto/Producto",
                    permission: "productos_poa",
                    popover: {
                        title: "Proyecto/Producto",
                        content: "Captura los Proyectos/Productos"
                    },
                    condition: "item.departamento == indicador_actividad.departamento && item.poa==indicador_actividad.conditionPoa.poa_id"
                })
                %>
            </div>
            <div ng-if="indicador_actividad.departamento != '0' && indicador_actividad.session.tipo_institucion == 2" class="col-sm-12 col-md-3  remove-input-space">
                <%-
                    FORM.select("producto", scope, {
                        allownew: false,
                        allowedit: false,
                        allowview: false,
                        allowlist: false,
                        text: "item.nombre",
                        table: "drp_productos_poa_indi_a",
                        icon: {class: "archive"},
                        truelabel: "Proyecto/Plan de Acción",
                        permission: "productos_poa",
                        popover: {
                            title: "Proyecto/Plan de Acción",
                            content: "Captura los Proyectos/Planes de Acción"
                        },
                        condition: "item.departamento == indicador_actividad.departamento && item.poa==indicador_actividad.conditionPoa.poa_id"
                    })
                %>
            </div>
            <div class="col-sm-12 col-md-3">
                <%- FORM.daterange("range_date", scope, {
                    from: "fecha_inicio",
                    to: "fecha_fin",
                    disabled: true,
                }) %>
            </div>
            <div class="col-sm-12 col-md-3">
                <%- FORM.select("actividades_poa", scope, {
                    // column: "nombre",
                    text: "item.no2 + ' ' +item.actividad",
                    table: "vw_actividades_poa",
                    icon: {class: "archive"},
                    label: "Actividad",
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    condition: "item.producto==indicador_actividad.form.selected('producto').id"
                }) %>
            </div>
        </div>
        <div ng-show="indicador_actividad.showFuente!==true" class="row">
            <div class="col-sm-3 col-md-3 drp-pt remove-input-space">
                <%- FORM.textarea("fuente", scope, {
                    maxlength: 4000,
                    popover: {
                        title: "Fuente",
                        content: "Captura la fuente"
                    }
                }) %>
            </div>
            <div class="col-sm-3 col-md-3 remove-input-space">
                <%- FORM.textarea("metodo_calculo", scope, {
                    maxlength: 4000,
                    placeholder: "Método Cálculo",
                    popover: {
                        title: "Método de Cálculo",
                        content: "Captura el método de cálculo"
                    }
                }) %>
            </div>
            <div class="col-sm-3 col-md-3 remove-input-space">
                <%- FORM.textarea("desagregacion_demografica_geografia", scope, {
                    trueplaceholder: "Desagregación Demográfica Geográfica",
                    maxlength: 4000
                }) %>
            </div>
            <div class="col-sm-3 col-md-3 remove-input-space">
                <%- FORM.select("caracteristica_indicador", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    text: "item.nombre",
                    table: "caracteristica_indicador",
                    multiple: true,
                    icon: {class: "archive"},
                    label: "Caracteristica",
                    condition: "item.compania == indicador_actividad.session.compania_id && item.active == 1",
                    get: {
                        table: 'caracteristica_indicador_actividad',
                        tableDelete: 'caracteristica_indicador_actividad',
                        fieldFrom: 'id',
                        fieldTo: 'indicador_actividad',
                        field: 'caracteristica'
                    }
                }) %>
            </div>
        </div>
        <div ng-show="indicador_actividad.showFuente!==true" class="row">
            <div class="col-sm-6 col-md-6 remove-input-space">
                <%- FORM.textarea("medio_verificacion", scope, {
                    maxlength: 4000,
                    placeholder: "Medio Verificación",
                    popover: {
                        title: "Medio Verificación",
                        content: "Captura el medio de verificación"
                    }
                }) %>
            </div>
            <div class="col-sm-6 col-md-6 remove-input-space">
                <%- FORM.textarea("observacion", scope, {
                    maxlength: 1000,
                    label: "Observación",
                    label_custom: true
                }) %>
            </div>
        </div>
        <div ng-show="indicador_actividad.showFuente!==true" class="row">
            <div class="col-sm-12 col-md-3" ng-show="false" ng-if="indicador_actividad.session.tipo_institucion == 1">
                <%- FORM.select("indicador_poa", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    traduce: false,
                    text: "item.nombre",
                    table: "indicador_poa",
                    icon: {class: "archive"},
                    label: "Relación Indicador Proyecto/Producto",
                    condition: "indicador_actividad.producto == item.producto && item.tipo_meta!=2"
                }) %>
            </div>
            <div class="col-sm-12 col-md-3" ng-show="false" ng-if="indicador_actividad.session.tipo_institucion == 2">
                <%- FORM.select("indicador_poa", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    traduce: false,
                    text: "item.nombre",
                    table: "indicador_poa",
                    icon: {class: "archive"},
                    label: "Relación Indicador Proyecto/Plan de Acción",
                    condition: "indicador_actividad.producto == item.producto && item.tipo_meta!=2"
                }) %>
            </div>
            <div class="col-sm-12 col-md-3 ">
                <div>
                    <%- FORM.select("tipo_meta", scope, {
                        allowedit: false,
                        allownew: false,
                        allowview: false,
                        allowlist: false,
                        refresh: false,
                        column: "tipo_meta",
                        text: "item.nombre",
                        table: "tipoMeta",
                        icon: {class: "archive"},
                        label: "Tipo Meta",
                        popover: {
                            title: "Tipo Meta",
                            content: "Captura los tipos de metas"
                        },
                    }) %>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 ">
                <%- FORM.select("direccion_meta", scope, {
                    allowedit: false,
                    allownew: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    text: "item.nombre",
                    table: "direccionMeta",
                    icon: {class: "archive"},
                    label: "Dirección Meta",
                    popover: {
                        title: "Dirección Meta",
                        content: "Captura las Direcciónes de la meta"
                    }
                }) %>
            </div>
            <div class="col-sm-2 col-md-2">
                <%- FORM.integer("ano_linea_base", scope, {
                    placeholder: "Año Línea Base",
                    maxlength: 4
                }) %>
            </div>
            <div class="col-sm-12 col-md-2" id="subcontainerLineaBase">
            </div>
        </div>



        <div ng-show="indicador_actividad.form.mode == 'edit' && indicador_actividad.showFuente!==true" class="row" style="margin-bottom: 20px;">
            <div class="subcontainer2 clearHtml">
            </div>
        </div>
        <div ng-show="indicador_actividad.form.mode == 'new' && indicador_actividad.showFuente!==true" class="row" style="margin-bottom: 20px;">
            <div class="subcontainer1 clearHtml">
            </div>
        </div>
    </div>
    <%- FORM.footer(scope) %>
    <script>
        $('[name="indicador_actividad_linea_base"]').css("margin-top", "-6px");
        $('[name="indicador_actividad_fuente"]').css("margin-top", "-6px");
    </script>
