<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.input("nombre", scope, {
                    maxlength: 1000
                }) %>
            </div>
            <div class="col-sm-6 col-md-6" ng-if="drp_estrategia.session.tipo_institucion === 1">
                <%- FORM.select("eje_estrategico", scope, {
                    column: "nombre",
                    text:"item.nombre",
                    table: "drp_eje_estrategico",
                    icon: {class: "archive"},
                    label: "Eje Estratégico",
                    childs: [
                        {
                            model: 'objetivo_estrategico',
                        }
                    ]
                }) %>
            </div>
            <div class="col-sm-6 col-md-6" ng-if="drp_estrategia.session.tipo_institucion !== 1">
                <%- FORM.select("eje_estrategico", scope, {
                    column: "nombre",
                    text:"item.nombre",
                    table: "drp_eje_estrategico",
                    icon: {class: "archive"},
                    label: "Eje Estratégico",
                    childs: [
                        {
                            model: 'objetivo_estrategico',
                        }
                    ]
                }) %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6" ng-if="drp_estrategia.session.tipo_institucion === 1">
                <%- FORM.select("objetivo_estrategico", scope, {
                    column: "nombre",
                    text:"item.nombre",
                    table: "drp_objetivo_estrategico",
                    icon: {class: "archive"},
                    label: "Objetivo Estratégico",
                    parent: {
                        model: 'eje_estrategico',
                        myfield: 'eje_estrategico',
                        sufield: 'id'
                    }
                }) %>
            </div>
            <div class="col-sm-6 col-md-6" ng-if="drp_estrategia.session.tipo_institucion !== 1">
                <%- FORM.select("objetivo_estrategico", scope, {
                    column: "nombre_sin_hijos",
                    text:"item.nombre_sin_hijos",
                    table: "drp_objetivo_estrategico",
                    icon: {class: "archive"},
                    label: "Objetivo Estratégico",
                    parent: {
                        model: 'eje_estrategico',
                        myfield: 'eje_estrategico',
                        sufield: 'id'
                    }
                }) %>
            </div>
        </div>

    </div>
</div>

<div class="panel-body">
    <ul class="nav nav-<%= COLOR.primary %> nav-tabs <%= COLOR.primary %> nav-justified" dragonlanguage="">
        <li class="active">
            <a href="#relation" data-toggle="tab" ng-click="">
                <i class="position-left"></i>
                <language>Resultado Esperado</language>
                <i class="border-white  position-right"></i>
            </a>
        </li>
        <li class="">
            <a href="#foda" data-toggle="tab" ng-click="">
                <i class="position-left"></i>
                <language>FODA</language>
                <i class="border-white  position-right"></i>
            </a>
        </li>
        <li class="">
            <a href="#pesta" data-toggle="tab" ng-click="">
                <i class="position-left"></i>
                <language>PESTAL</language>
                <i class="border-white  position-right"></i>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="relation">
            <%- FORM.relation("resultado", scope, {
                table: "resultado",
                field: "estrategia",
                master: null,
                icon: {class: "archive"}
            }) %>
        </div>
        <div class="tab-pane" id="foda">
            <div class="row" style="padding-left: 9px; padding-right: 9px;">
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>">
                            <h6 class="panel-title">Fortalezas</h6>
                        </div>
                        <div class="panel-body foda">
                            <%- FORM.select("fortaleza", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: true,
                                allownew: false,
                                allowview: false,
                                allowlist: false,
                                column: "estrategia",
                                text:"item.descripcion",
                                // permission: "alineacionoe",
                                value: "id",
                                table: "vw_estrategia_foda",
                                icon: {class: "archive"},
                                label: "Fortalezas",
                                condition:"item.type == 1 && item.pei == drp_estrategia.session.pei_id",
                                get: {table: 'estrategia_foda', fieldFrom: 'id', fieldTo: 'estrategia', field: 'foda'},
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>">
                            <h6 class="panel-title">Oportunidades</h6>
                        </div>
                        <div class="panel-body foda">
                            <%- FORM.select("oportunidad", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: true,
                                allownew: false,
                                allowview: false,
                                allowlist: false,
                                column: "estrategia",
                                text:"item.descripcion",
                                // permission: "alineacionoe",
                                value: "id",
                                table: "vw_estrategia_foda",
                                icon: {class: "archive"},
                                label: "Oportunidades",
                                condition:"item.type == 3 && item.pei == drp_estrategia.session.pei_id",
                                get: {table: 'estrategia_foda', fieldFrom: 'id', fieldTo: 'estrategia', field: 'foda'},
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-left: 9px; padding-right: 9px;">
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>">
                            <h6 class="panel-title">Debilidades</h6>
                        </div>
                        <div class="panel-body foda">
                            <%- FORM.select("debilidad", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: true,
                                allownew: false,
                                allowview: false,
                                allowlist: false,
                                column: "estrategia",
                                text:"item.descripcion",
                                // permission: "alineacionoe",
                                value: "id",
                                table: "vw_estrategia_foda",
                                icon: {class: "archive"},
                                label: "Debilidades",
                                condition:"item.type == 2 && item.pei == drp_estrategia.session.pei_id",
                                get: {table: 'estrategia_foda', fieldFrom: 'id', fieldTo: 'estrategia', field: 'foda'},
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>">
                            <h6 class="panel-title">Amenazas</h6>
                        </div>
                        <div class="panel-body foda">
                            <%- FORM.select("amenaza", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: true,
                                allownew: false,
                                allowview: false,
                                allowlist: false,
                                column: "estrategia",
                                text:"item.descripcion",
                                // permission: "alineacionoe",
                                value: "id",
                                table: "vw_estrategia_foda",
                                icon: {class: "archive"},
                                label: "Amenazas",
                                condition:"item.type == 4 && item.pei == drp_estrategia.session.pei_id",
                                get: {table: 'estrategia_foda', fieldFrom: 'id', fieldTo: 'estrategia', field: 'foda'},
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="pesta">
            <div class="row" style="padding-left: 9px; padding-right: 9px;">
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>">
                            <h6 class="panel-title">Político</h6>
                        </div>
                        <div class="panel-body pesta">
                            <%- FORM.select("politico", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: true,
                                allownew: false,
                                allowview: false,
                                allowlist: false,
                                column: "estrategia",
                                text:"item.descripcion",
                                // permission: "alineacionoe",
                                value: "id",
                                table: "vw_estrategia_pesta",
                                icon: {class: "archive"},
                                label: "Político",
                                condition:"item.type == 1 && item.pei == drp_estrategia.session.pei_id",
                                get: {table: 'estrategia_pesta', fieldFrom: 'id', fieldTo: 'estrategia', field: 'pesta'},
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>">
                            <h6 class="panel-title">Económico</h6>
                        </div>
                        <div class="panel-body pesta">
                            <%- FORM.select("economico", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: true,
                                allownew: false,
                                allowview: false,
                                allowlist: false,
                                column: "estrategia",
                                text:"item.descripcion",
                                // permission: "alineacionoe",
                                value: "id",
                                table: "vw_estrategia_pesta",
                                icon: {class: "archive"},
                                label: "Económico",
                                condition:"item.type == 2 && item.pei == drp_estrategia.session.pei_id",
                                get: {table: 'estrategia_pesta', fieldFrom: 'id', fieldTo: 'estrategia', field: 'pesta'},
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-left: 9px; padding-right: 9px;">
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>">
                            <h6 class="panel-title">Social</h6>
                        </div>
                        <div class="panel-body pesta">
                            <%- FORM.select("social", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: true,
                                allownew: false,
                                allowview: false,
                                allowlist: false,
                                column: "estrategia",
                                text:"item.descripcion",
                                // permission: "alineacionoe",
                                value: "id",
                                table: "vw_estrategia_pesta",
                                icon: {class: "archive"},
                                label: "Social",
                                condition:"item.type == 3 && item.pei == drp_estrategia.session.pei_id",
                                get: {table: 'estrategia_pesta', fieldFrom: 'id', fieldTo: 'estrategia', field: 'pesta'},
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>">
                            <h6 class="panel-title">Tecnológico</h6>
                        </div>
                        <div class="panel-body pesta">
                            <%- FORM.select("tecnologico", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: true,
                                allownew: false,
                                allowview: false,
                                allowlist: false,
                                column: "estrategia",
                                text:"item.descripcion",
                                // permission: "alineacionoe",
                                value: "id",
                                table: "vw_estrategia_pesta",
                                icon: {class: "archive"},
                                label: "Tecnológico",
                                condition:"item.type == 4 && item.pei == drp_estrategia.session.pei_id",
                                get: {table: 'estrategia_pesta', fieldFrom: 'id', fieldTo: 'estrategia', field: 'pesta'},
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-left: 9px; padding-right: 9px;">
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading panel-dashboard bg-<%= COLOR.secundary %>">
                            <h6 class="panel-title">Ambiental</h6>
                        </div>
                        <div class="panel-body pesta">
                            <%- FORM.select("ambiental", scope, {
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                multiple: true,
                                allownew: false,
                                allowview: false,
                                allowlist: false,
                                column: "estrategia",
                                text:"item.descripcion",
                                // permission: "alineacionoe",
                                value: "id",
                                table: "vw_estrategia_pesta",
                                icon: {class: "archive"},
                                label: "Ambiental",
                                condition:"item.type == 5 && item.pei == drp_estrategia.session.pei_id",
                                get: {table: 'estrategia_pesta', fieldFrom: 'id', fieldTo: 'estrategia', field: 'pesta'},
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>

<script>

</script>