<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {trueplaceholder: "Nombre de la Entidad", disabled: true}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.selectsimple("tipo", scope, {
                    label: "Tipo",
                    value: "code",
                    data: [
                        {"code": "IMAGE", "name": "Scan de Imagen"},
                        {"code": "EXCEL", "name": "Documento Excel"},
                    ],
                    icon: {class: "sphere3"}
                }) %>
            </div>
            <div ng-show="documentos_ia.tipo==='EXCEL'" class='col-sm-12 col-md-12'>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row text-center">
                            <div class='col-sm-12 col-md-12'>
                                <%- FORM.file("excel", scope, {
                                    title: 'Adjuntar Documento Excel',
                                    truetext: 'Adjuntar Documento Excel',
                                    maxfiles: 1,
                                    columns: 1,
                                }) %>
                                <button ng-if="documentos_ia.config.exampleImage" ng-click="<%= scope %>.getCrude();"
                                        type="button" class="btn bg-danger btn-xs" style="float: right">
                                    Escanear documento {{!documentos_ia.config.informe_crude.length?'':'Nuevamente' }}
                                </button>
                            </div>
                            <div class='col-sm-12 col-md-12' style="margin-top: 10px;height: 500px;overflow: auto">
                                <table ng-if="documentos_ia.config.exampleImage"
                                       class="table-responsive table table-striped  table-togglable table-framed sindu-table dragon-table"
                                       style="margin-top: 20px">
                                    <thead>
                                    <tr class="bg-<%= COLOR.secundary %>">
                                        <td colspan="100%" class="text-center" style="padding: 0;">
                                            <h5>Datos del Excel Cargado</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Línea</th>
                                        <th>Texto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="documentos_ia.config.informe"
                                        ng-repeat="(ix,item) in documentos_ia.config.informe_crude track by item.id">
                                        <td>{{item.id}}</td>
                                        <td>{{item.text}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-show="documentos_ia.tipo==='IMAGE'" class='col-sm-12 col-md-12'>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row text-center">
                            <div class='col-sm-12 col-md-12'>
                                <button ng-click="<%= scope %>.uploadImage();" type="button"
                                        class="btn bg-primary btn-xs " style="float: left">
                                    {{!documentos_ia.config.exampleImage?'Subir':'Reemplazar' }} documento
                                </button>
                                <button ng-if="documentos_ia.config.exampleImage" ng-click="<%= scope %>.getCrude();"
                                        type="button" class="btn bg-danger btn-xs" style="float: right">
                                    Escanear documento {{!documentos_ia.config.informe_crude.length?'':'Nuevamente' }}
                                </button>
                            </div>
                            <div class='col-sm-6 col-md-6' style="margin-top: 10px; height: 500px;overflow: auto"
                                 ng-if="documentos_ia.config.exampleImage">
                                <img width="100%" ng-src="{{documentos_ia.config.exampleImage}}">
                            </div>
                            <div class='col-sm-6 col-md-6' style="margin-top: 10px;height: 500px;overflow: auto">
                                <table ng-if="documentos_ia.config.exampleImage"
                                       class="table-responsive table table-striped  table-togglable table-framed sindu-table dragon-table"
                                       style="margin-top: 20px">
                                    <thead>
                                    <tr class="bg-<%= COLOR.secundary %>">
                                        <td colspan="100%" class="text-center" style="padding: 0;">
                                            <h5>Información extraída del Documento</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Línea</th>
                                        <th>Texto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="documentos_ia.config.informe"
                                        ng-repeat="(ix,item) in documentos_ia.config.informe_crude track by item.id">
                                        <td>{{item.id}}</td>
                                        <td>{{item.text}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="documentos_ia.tipo==='IMAGE'" class='col-sm-12 col-md-12'
                 ng-if="documentos_ia.config.informe_crude.length">
                <div class="panel panel-default">
                    <div class="panel-heading text-left"
                         style="font-weight: bold;padding: 2px 0 0 8px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                        <h3>Configuración de campos</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table-responsive table table-striped  table-togglable table-framed sindu-table dragon-table">
                            <thead class="bg-<%= COLOR.secundary %>">
                            <tr>
                                <th>#</th>
                                <th>Nombre de Campo</th>
                                <th title="En caso de que el resultado no contenga ningún valor">Valor por Defecto</th>
                                <th>Tipo de Campo</th>
                                <th>Configuración</th>

                                <!--                                <th title="Valor calculado">Script (Alternativa personalizada del campo)</th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(ix,item) in documentos_ia.config.fields track by item.id">
                                <td style="width: 2%;padding: 2px;">
                                    {{ix+1}}
                                </td>
                                <td style="width: 15%;padding: 2px;">
                                    <input type="text" class="form-control" ng-model="item.field">
                                </td>
                                <td style="width: 15%;padding: 2px;">
                                    <input type="text" class="form-control" ng-model="item.defaultValue">
                                </td>
                                <td style="width: 15%;padding: 2px;">
                                    <select class="form-control" ng-model="item.tipo">
                                        <option value="6">Valor por defecto</option>
                                        <option value="1">Rango entre líneas</option>
                                        <option value="2">Rango entre coincidencias</option>
                                        <option value="5">Valor especial</option>
                                        <option value="7">Valor del formulario</option>
                                        <option value="4">Instrucciones</option>
                                        <option value="3">Script (alternativa personalizada del campo)</option>
                                    </select>
                                </td>
                                <td style="width: 55%;padding: 2px;">

                                    <div ng-if="item.tipo==='1'">
                                        <label style="width: 49%">
                                            Desde: <input type="number" class="form-control" ng-model="item.from">
                                        </label>
                                        <label style="width: 49%">
                                            Hasta: <input type="number" class="form-control" ng-model="item.to">
                                        </label>
                                    </div>
                                    <div ng-if="item.tipo==='2'">
                                        <label style="width: 33%">
                                            Desde: <input type="text" class="form-control" ng-model="item.from">
                                        </label>
                                        <label style="width: 33%">
                                            Hasta: <input type="text" class="form-control" ng-model="item.to">
                                        </label>
                                        <label style="width: 33%">
                                            Coincidencia: <input type="number" class="form-control"
                                                                 ng-model="item.idnex">
                                        </label>
                                    </div>
                                    <div ng-if="item.tipo==='3'">
                                        <textarea class="form-control" ng-model="item.script"></textarea>
                                    </div>
                                    <div ng-if="item.tipo==='4'">
                                        <table class="table table-condensed table-striped" style="padding: 0">
                                            <thead>
                                            <tr>
                                                <th style="width: 30%">Instrucción</th>
                                                <th style="width: 60%" colspan="3">Parámetros</th>
                                                <th style="width: 10%">#</th>
                                            </tr>
                                            </thead>
                                            <tbody style="padding: 0">
                                            <tr ng-repeat="(iy,line) in item.codes">
                                                <td style="padding: 0">
                                                    <select ng-model="line.code" class="form-control"
                                                            style="    margin-top: 17px;"
                                                            ng-options="opt.id as opt.nombre for opt in documentos_ia.codes">

                                                    </select>
                                                </td>
                                                <td ng-repeat="(id,num) in [0,1,2]" style="padding: 0">
                                                    <div class='row' ng-if="documentos_ia.elcode(line.code,num)">
                                                        <div class='col-sm-12 col-md-12'>
                                                            <label>{{documentos_ia.elcode(line.code,num).nombre}}</label>
                                                            <input class="form-control" style="margin-top: -15px;"
                                                                   type="text"
                                                                   ng-model="line['param'+(id+1)]">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding: 0">
                                                    <button title="Eliminar instrucción"
                                                            style="width: 23px;padding: 4;margin: 0;"
                                                            ng-click="item.codes.splice(iy,1)"
                                                            type="button" class="btn bg-danger btn-xs">
                                                        <i class="icon-trash"></i>
                                                    </button>
                                                    <button title="Subir" style="width: 23px;padding: 4;margin: 0;"
                                                            ng-click="documentos_ia.movecode(iy,item.codes)"
                                                            type="button" class="btn bg-info btn-xs">
                                                        <i class="icon-arrow-up7"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="100%" class="text-center" style="padding: 0">
                                                    <button ng-click="item.codes.push({code:'L'})" type="button"
                                                            style="margin-top: 2px;padding: 4px;"
                                                            class="btn bg-success btn-xs">
                                                        Agregar Instrucción
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-if="item.tipo==='5'">
                                        <label>Valor</label>
                                        <select ng-model="item.from" class="form-control"
                                                ng-options="opt as opt for opt in documentos_ia.valoresEspecialesList">

                                        </select>
                                    </div>
                                    <div ng-if="item.tipo==='6'">
                                        <label>
                                            <b>El valor de este campo siempre será "{{item.defaultValue}}"</b>
                                        </label>
                                    </div>
                                    <div ng-if="item.tipo==='7'">
                                        <label>Campo Personalizado</label>
                                        <select ng-model="item.from" class="form-control"
                                                ng-options="opt as opt for opt in documentos_ia.customfields">
                                        </select>
                                    </div>
                                </td>
                                <td style="width: 3%">
                                    <button title="Eliminar bloque" ng-click="<%= scope %>.deleteField(ix);"
                                            type="button"
                                            class="btn bg-danger btn-xs">
                                        <i class="icon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="100%" class="text-right">
                                    <button ng-click="<%= scope %>.addField();" type="button"
                                            class="btn bg-success btn-xs">
                                        Agregar nuevo campo
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <table class="table-responsive table table-striped  table-togglable table-framed sindu-table dragon-table">
                            <thead>
                            <tr>
                                <td colspan="100%" class="text-left" style="font-weight: bold">
                                    <h3>Resultados de la configuración con la imagen de prueba</h3>
                                    <button title="Verificar Resultados" ng-click="<%= scope %>.readFile();"
                                            type="button"
                                            class="btn bg-primary btn-xs " style="float: right">
                                        Verificar Resultados
                                    </button>
                                </td>
                            </tr>
                            <tr class="bg-<%= COLOR.secundary %>">
                                <th>Campo</th>
                                <th>Resultado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(ix,item) in documentos_ia.config.informe track by item.field">
                                <td>{{item.field}}</td>
                                <td>{{item.result}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





