<div class="panel panel-white">
    <div class="panel-heading panel-dashboard" style="background-color: #efefef">
        <h6 class="panel-title">Solicitud de Modificación de Documento</h6>
    </div>
    <div class="panel-body" style="padding: 20px 0;">
        <div class="row">
            <div class="col-md-6" style="padding: 0 0 0 10px;">
                <div class="panel panel-white" style="box-shadow: inset 0 0 0 0 rgb(0 0 0); /* border-right: 1px solid lightgrey; */ ">
                    <div class="panel-heading panel-dashboard" style="background-color: #efefef">
                        <h6 class="panel-title">Información del Documento a modificar</h6>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <%- FORM.select("mod_doc_proceso_categoria", scope, {
                                    allownew: false,
                                    allowedit: false,
                                    allowview: false,
                                    allowlist: false,
                                    table: "procesos_categoria",
                                    truelabel: "Macroproceso",
                                    text: "item.nombre",
                                    icon: {class: "archive"},
                                    disabled: true
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-6'>
                                <%- FORM.select('mod_doc_estatus', scope, {
                                    allowedit: false,
                                    allowlist: false,
                                    allownew: false,
                                    allowview: false,
                                    text: "item.permitido",
                                    value: "id",
                                    table: "vw_auditoria_programa_plan_estatus",
                                    icon: {class: "archive"},
                                    truelabel: "Estatus del Documento",
                                    condition: "(item.entidad == 'documentos_asociados' && item.estatus_id != 4)",
                                    disabled:true
                                }) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6" >
                                <%- FORM.select("mod_doc_proceso", scope, {
                                    allownew: false,
                                    allowedit: false,
                                    allowview: false,
                                    allowlist: false,
                                    table: "procesos",
                                    truelabel: "Proceso",
                                    text: "item.nombre",
                                    icon: {class: "archive"},
                                    disabled:true
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-6'>
                                <%- FORM.select('mod_doc_tipo_documento', scope, {
                                    column: 'name',
                                    table: 'tipo_documento',
                                    truelabel: 'Tipo de Documento a solicitar',
                                    text: 'item.nombre',
                                    disabled: true,
                                        //self: true,
                                //allownull: true,
                                //allownew: true,
                                //allowedit: true,
                                //allowview: true,
                                //allowlist: true,
                                //refresh: true,
                                //condition: 'true',
                                //multiple: false,get: {table: "tipo_documento_linked", fieldFrom: "id", fieldTo: "myid(tipo_documento)", field: "theirid"},
                                //disabled: false,
                                //helptext: "",
                                //value: 'id',
                                //query: {
                                //limit: 0,
                                //page: 1,
                                //where: [],
                                //orderby: 'id',
                                //order: 'asc',
                                //distinct: false
                                // join: [
                                //     {
                                //         table: 'ms_category',
                                //         base: 'category',
                                //         field: 'id',
                                //         columns: ['id', 'name']
                                //     },
                                //     {
                                //         table: 'otratable',
                                //         base: 'ms_category_id',
                                //         field: 'id',
                                //         columns: ['id', 'name']
                                //     }
                                // ]
                                //},
                                }) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-12 col-md-4'>
                                <%- FORM.input('mod_doc_codigo', scope, {trueplaceholder: "Código del documento", disabled: true}) %>
                            </div>
                            <div class='col-sm-12 col-md-5'>
                                <%- FORM.input('mod_doc_nombre', scope, {trueplaceholder: "Nombre del documento", disabled: true}) %>
                            </div>

                            <div style="text-align: center;" class="col-sm-3 col-md-3">
                                <%- FORM.checkbox("mod_doc_trabaja_marco_legal", scope, {text: "¿Maneja Marco legal?", disabled: true}) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-12 col-md-12'>
                                <%- FORM.textarea('mod_doc_alcance', scope, {
                                        //maxlength: 200,
                                        trueplaceholder: "Alcance",
                                        disabled: true
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-12'>
                                <%- FORM.textarea('mod_doc_objetivo', scope, {
                                    trueplaceholder: "Objetivo",
                                    disabled: true
                                            //maxlength: 200,
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-12'ng-show="<%= scope%>.mod_doc_trabaja_marco_legal">
                                <%- FORM.textarea('mod_doc_marco_legal', scope, {
                                    trueplaceholder: "Marco Legal",
                                    disabled:true
                                            //maxlength: 200,
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-12'>
                                <%- FORM.textarea('mod_doc_resultado_esperado', scope, {
                                    trueplaceholder: "Resultado Esperado",
                                    disabled: true
                                            //maxlength: 200,
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-12'>
                                <%- FORM.textarea('mod_doc_descripcion', scope, {
                                    trueplaceholder: "Descripción",
                                    disabled: true
                                            //maxlength: 200,
                                }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0 10px 0 0;">
                <div class="panel panel-white" style="box-shadow: inset 0 0 0 0 rgb(0 0 0); border-left: 1px solid lightgrey;">
                    <div class="panel-heading panel-dashboard" style="background-color: #efefef">
                        <h6 class="panel-title">Modificar Documento <sup>(Sólo llene los campos que quiere que se modifiquen)</sup> </h6>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12" ng-if="!solicitud_documento.session.institucion">
                                <%- FORM.select("edit_doc_proceso_categoria", scope, {
                                    allownew: false,
                                    allowedit: false,
                                    allowview: false,
                                    allowlist: false,
                                    table: "procesos_categoria",
                                    truelabel: "Macroproceso",
                                    text: "item.nombre",
                                    icon: {class: "archive"},
                                    condition: "(item.compania == solicitud_documento.session.compania_id && item.institucion == $null)"
                                }) %>
                            </div>
                            <div class="col-sm-12 col-md-12" ng-if="solicitud_documento.session.institucion">
                                <%- FORM.select("edit_doc_proceso_categoria", scope, {
                                    allownew: false,
                                    allowedit: false,
                                    allowview: false,
                                    allowlist: false,
                                    table: "procesos_categoria",
                                    truelabel: "Categoría de Proceso",
                                    text: "item.nombre",
                                    icon: {class: "archive"},
                                    condition: "( item.institucion == solicitud_documento.session.institucion_id)"
                                }) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6" >
                                <%- FORM.select("edit_doc_proceso", scope, {
                                    allownew: false,
                                    allowedit: false,
                                    allowview: false,
                                    allowlist: false,
                                    table: "procesos",
                                    truelabel: "Proceso",
                                    text: "item.nombre",
                                    icon: {class: "archive"},
                                    condition: "(item.procesos_categoria == solicitud_documento.edit_doc_proceso_categoria && item.estatus != '3') && (item.active)"
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-6' ng-if="!solicitud_documento.session.institucion">
                                <%- FORM.select('edit_doc_tipo_documento', scope, {
                                            column: 'name',
                                            table: 'tipo_documento',
                                            truelabel: 'Tipo de Documento a solicitar',
                                            text: 'item.nombre',
                                            condition: "(item.compania == solicitud_documento.session.compania_id && item.institucion == $null)",
                                        //self: true,
                                //allownull: true,
                                //allownew: true,
                                //allowedit: true,
                                //allowview: true,
                                //allowlist: true,
                                //refresh: true,
                                //condition: 'true',
                                //multiple: false,get: {table: "tipo_documento_linked", fieldFrom: "id", fieldTo: "myid(tipo_documento)", field: "theirid"},
                                //disabled: false,
                                //helptext: "",
                                //value: 'id',
                                //query: {
                                //limit: 0,
                                //page: 1,
                                //where: [],
                                //orderby: 'id',
                                //order: 'asc',
                                //distinct: false
                                // join: [
                                //     {
                                //         table: 'ms_category',
                                //         base: 'category',
                                //         field: 'id',
                                //         columns: ['id', 'name']
                                //     },
                                //     {
                                //         table: 'otratable',
                                //         base: 'ms_category_id',
                                //         field: 'id',
                                //         columns: ['id', 'name']
                                //     }
                                // ]
                                //},
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-6' ng-if="solicitud_documento.session.institucion">
                                <%- FORM.select('edit_doc_tipo_documento', scope, {
                                            column: 'name',
                                            table: 'tipo_documento',
                                            truelabel: 'Tipo de Documento a solicitar',
                                            text: 'item.nombre',
                                            condition: "(item.institucion == solicitud_documento.session.institucion_id)",
                                        //self: true,
                                //allownull: true,
                                //allownew: true,
                                //allowedit: true,
                                //allowview: true,
                                //allowlist: true,
                                //refresh: true,
                                //condition: 'true',
                                //multiple: false,get: {table: "tipo_documento_linked", fieldFrom: "id", fieldTo: "myid(tipo_documento)", field: "theirid"},
                                //disabled: false,
                                //helptext: "",
                                //value: 'id',
                                //query: {
                                //limit: 0,
                                //page: 1,
                                //where: [],
                                //orderby: 'id',
                                //order: 'asc',
                                //distinct: false
                                // join: [
                                //     {
                                //         table: 'ms_category',
                                //         base: 'category',
                                //         field: 'id',
                                //         columns: ['id', 'name']
                                //     },
                                //     {
                                //         table: 'otratable',
                                //         base: 'ms_category_id',
                                //         field: 'id',
                                //         columns: ['id', 'name']
                                //     }
                                // ]
                                //},
                                }) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-12 col-md-4'>
                                <%- FORM.input('edit_doc_codigo', scope, {trueplaceholder: "Código del documento"}) %>
                            </div>
                            <div class='col-sm-12 col-md-5'>
                                <%- FORM.input('edit_doc_nombre', scope, {trueplaceholder: "Nombre del documento"}) %>
                            </div>
                            <div style="text-align: center;" class="col-sm-3 col-md-3">
                                <%- FORM.checkbox("edit_doc_trabaja_marco_legal", scope, {text: "¿Maneja Marco legal?"}) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-12 col-md-12' ng-show="<%= scope%>.edit_doc_trabaja_marco_legal">
                                <%- FORM.textarea('edit_doc_marco_legal', scope, {
                                            trueplaceholder: "Marco Legal",
                                        //maxlength: 200,
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-12'>
                                <%- FORM.textarea('edit_doc_alcance', scope, {
                                        //maxlength: 200,
                                        trueplaceholder: "Alcance",
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-12'>
                                <%- FORM.textarea('edit_doc_objetivo', scope, {
                                            trueplaceholder: "Objetivo",
                                        //maxlength: 200,
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-12'>
                                <%- FORM.textarea('edit_doc_resultado_esperado', scope, {
                                            trueplaceholder: "Resultado Esperado",
                                        //maxlength: 200,
                                }) %>
                            </div>
                            <div class='col-sm-12 col-md-12'>
                                <%- FORM.textarea('edit_doc_descripcion', scope, {
                                            trueplaceholder: "Descripción",
                                        //maxlength: 200,
                                }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer dragonformfooter" id="btnformfooter" style="padding-bottom: 10px">
             <span class="label label-white text-secundary-300 label-rounded label-icon">
                <i class="position-right"></i>
            </span>
            <button title="Cancelar" type="button" class="btn bg-warning btn-labeled btn-xs pull-right" ng-click="solicitud_documento.pages.form.close()">
                <b><i class="icon-cross2"></i></b>
                <language>Cancelar</language>
            </button>
            <span class="label label-white text-secundary-300 label-rounded label-icon">
                            <i class="position-right"></i>
                        </span>
            <button title="Eliminar" type="button" class="btn bg-success btn-labeled btn-xs" ng-click="solicitud_documento.mod_doc(solicitud_documento.mod_doc_id)">
                <b><i class="icon-floppy-disk"></i></b>
                <language>guardar</language>
            </button>
        </div>
    </div>
</div>


