<style>
    .icon-help {
        cursor: pointer;
        margin-left: 12px;
        color: #989f9369 !important;
    }
</style>
<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row" ng-show="indicador_producto.showFuente===true">
            <div class="col-sm-4 col-md-4 ">
                <%- FORM.select("ws_connection", scope, {
                    allowedit: false,
                    allownew: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    text: "item.name",
                    table: "ws_connection",
                    icon: {class: "archive"},
                    truelabel: "Base de Datos Externa"
                }) %>
            </div>
            <div class="col-sm-6 col-md-6 ">
                <%- FORM.select("ws_connection_field", scope, {
                    allowedit: false,
                    allownew: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    text: "item.name",
                    table: "ws_connection_field",
                    icon: {class: "archive"},
                    truelabel: "Fuente Externa",
                    condition: "item.ws_connection == indicador_producto.ws_connection"
                }) %>
            </div>
            <div class="col-sm-4 col-md-4 " ng-show="indicador_producto.ws_connection_field!=='[NULL]'">
                <h3>{{indicador_producto.ws_connection_field_object.ws_connection_name}} |
                    {{indicador_producto.ws_connection_field_object.name}}: {{indicador_producto.resultExterno}}</h3>
            </div>
        </div>
        <div ng-show="indicador_producto.showFuente!==true" class="row">
            <div class="col-sm-4 col-md-4 ">
                <%- FORM.input("nombre", scope, {
                    maxlength: 1000,
                    placeholder: "Nombre del Indicador",
                    popover: {
                        title: "Nombre",
                        content: "Captura el nombre"
                    }
                }) %>
            </div>
            <div class="col-sm-4 col-md-4 ">
                <%- FORM.select("actividades_poa", scope, {
                    allowedit: false,
                    allownew: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    text: "item.nombre",
                    table: "vw_proyecto_item",
                    icon: {class: "archive"},
                    truelabel: "Proyecto Especial",
                    condition: "item.compania_id == indicador_producto.session.compania_id",
                }) %>
            </div>
            <div class="col-sm-4 col-md-4" ng-if="indicador_producto.session.tipo_institucion == 1 || indicador_producto.session.maneja_ods">
                <%- FORM.select("indicador_ods", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    text: "item.nombre",
                    table: "indicador_generico",
                    icon: {class: "archive"},
                    label: "Indicador de metas ODS asociado",
                    condition: "item.table_ == 3 && item.compania == indicador_producto.session.compania_id"
                }) %>
            </div>
        </div>
        <div ng-show="indicador_producto.showFuente!==true" class="row">
            <div class="col-sm-12 col-md-12 remove-input-space">
                <%- FORM.textarea("descripcion", scope, {
                    maxlength: 4000,
                    placeholder: "Descripción del Indicador"
                }) %>
            </div>
        </div>
        <div ng-show="indicador_producto.showFuente!==true" class="row">
            <div class="col-sm-3 col-md-3 drp-pt remove-input-space">
                <%- FORM.textarea("fuente", scope, {
                    maxlength: 4000,
                    popover: {
                        title: "Fuente",
                        content: "Captura la fuente"
                    }
                }) %>
            </div>
            <div class="col-sm-3 col-md-3 remove-input-space">
                <%- FORM.textarea("metodo_calculo", scope, {
                    maxlength: 4000,
                    placeholder: "Método Cálculo",
                    popover: {
                        title: "Método de Cálculo",
                        content: "Captura el método de cálculo"
                    }
                }) %>
            </div>
            <div class="col-sm-3 col-md-3 remove-input-space">
                <%- FORM.textarea("desagregacion_demografica_geografia", scope, {
                    trueplaceholder: "Desagregación Demográfica Geográfica",
                    maxlength: 4000
                }) %>
            </div>
            <div class="col-sm-3 col-md-3 remove-input-space">
                <%- FORM.select("caracteristica_indicador", scope, {
                    text: "item.nombre",
                    table: "caracteristica_indicador",
                    multiple: true,
                    icon: {class: "archive"},
                    label: "Caracteristica",
                    condition: "item.compania == indicador_producto.session.compania_id && item.active == 1",
                    get: {
                        table: 'caracteristica_indicador_producto',
                        tableDelete: 'caracteristica_indicador_producto',
                        fieldFrom: 'id',
                        fieldTo: 'indicador_producto',
                        field: 'caracteristica'
                    }
                }) %>
            </div>
        </div>
        <div ng-show="indicador_producto.showFuente!==true" class="row">
            <div class="col-sm-6 col-md-6 remove-input-space">
                <%- FORM.textarea("medio_verificacion", scope, {
                    maxlength: 4000,
                    placeholder: "Medio Verificación",
                    popover: {
                        title: "Medio Verificación",
                        content: "Captura el medio de verificación"
                    }
                }) %>
            </div>
            <div class="col-sm-6 col-md-6 remove-input-space">
                <%- FORM.textarea("observacion", scope, {
                    maxlength: 1000,
                    label: "Observación",
                    label_custom: true
                }) %>
            </div>
        </div>
        <div ng-show="indicador_producto.showFuente!==true" class="row">
            <div class="col-sm-12 col-md-3">
                <%- FORM.select("poa_monitoreo", scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    traduce: false,
                    text: "item.nombre",
                    table: "poa_monitoreo",
                    icon: {class: "archive"},
                    label: "Periodicidad"
                }) %>
            </div>
            <div class="col-sm-12 col-md-2 ">
                <div>
                    <%- FORM.select("tipo_meta", scope, {
                        allowedit: false,
                        allownew: false,
                        allowview: false,
                        allowlist: false,
                        refresh: false,
                        column: "tipo_meta",
                        text: "item.nombre",
                        table: "tipoMeta",
                        icon: {class: "archive"},
                        label: "Tipo Meta",
                        popover: {
                            title: "Tipo Meta",
                            content: "Captura los tipos de metas"
                        },
                    }) %>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 ">
                <%- FORM.select("direccion_meta", scope, {
                    allowedit: false,
                    allownew: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    text: "item.nombre",
                    table: "direccionMeta",
                    icon: {class: "archive"},
                    label: "Dirección Meta",
                    popover: {
                        title: "Dirección Meta",
                        content: "Captura las Direcciónes de la meta"
                    }
                }) %>
            </div>
            <div class="col-sm-2 col-md-2">
                <%- FORM.integer("ano_linea_base", scope, {
                    placeholder: "Año Línea Base",
                    maxlength: 4
                }) %>
            </div>
            <div class="col-sm-12 col-md-2" id="subcontainerLineaBase">
            </div>
        </div>


        <div ng-show="indicador_producto.form.mode == 'edit' && indicador_producto.showFuente!==true" class="row"
             style="margin-bottom: 20px;">
            <div class="subcontainer2 clearHtml">
            </div>
        </div>
        <div ng-show="indicador_producto.form.mode == 'new' && indicador_producto.showFuente!==true" class="row"
             style="margin-bottom: 20px;">
            <div class="subcontainer1 clearHtml">
            </div>
        </div>
    </div>
    <%- FORM.footer(scope) %>
    <script>
        $('[name="indicador_producto_linea_base"]').css("margin-top", "-6px");
        $('[name="indicador_producto_fuente"]').css("margin-top", "-6px");
    </script>
