<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">

            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('ods_localizacion', scope, {
                    column: 'consideraciones',
                    table: 'objetivo_localizacion',
                    truelabel: "ODS",
                    text: 'item.consideraciones'
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('meta_localizacion', scope, {
                    column: 'consideraciones',
                    table: 'meta_localizacion',
                    text: 'item.consideraciones',
                    truelabel: "Meta",
                    condition: "item.ods_compania==valor_inidcador_localizacion.ods_localizacion"
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('inidcador_compania', scope, {
                    column: 'definicion',
                    table: 'inidcador_compania',
                    truelabel: "Indicador",
                    text: 'item.definicion'
                }) %>
            </div>

            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('valor_organizacion', scope, {
                    //length:15
                    trueplaceholder: "Valor de la Organización"
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('valor_referencia', scope, {
                    //length:15
                    trueplaceholder: "Valor de Referencia"
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('consideraciones', scope, {
                    //maxlength: 200,
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





