<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('compania', scope, {
                    //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('institucion', scope, {
                    column: 'name',
                    table: 'institucion',
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "institucion_linked", fieldFrom: "id", fieldTo: "myid(institucion)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                        //limit: 0,
                        //page: 1,
                        //where: [],
                        //orderby: 'id',
                        //order: 'asc',
                        //distinct: false
                        // join: [
                        //     {
                        //         table: 'ms_category',
                        //         base: 'category',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     },
                        //     {
                        //         table: 'otratable',
                        //         base: 'ms_category_id',
                        //         field: 'id',
                        //         columns: ['id', 'name']
                        //     }
                        // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('compania_base', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('entidad', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('factor', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('rid', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('riesgo', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('table_', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('registro', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('pid', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('pid_excel', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('pidx', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('probabilidad', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('iid', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('iidx', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('impacto', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nivel_riesgo', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('nivel_riesgo_v', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.color('color', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('control', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('control_excel', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('responsable', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('efectividad_sum', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('efectividad_sum_excel', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('efectividad', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('efectividad_excel', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.decimal('residual', scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





