<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <div class="page-header-lg page-header-sm page-header">
            <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
            <ul class="breadcrumb-elements visible-elements" style="margin-top: 5px;">
                <li dragonlanguage="" style="margin-right: -10px;" title="Refrescar">
                    <a ng-click="<%= scope %>.getrefresh();"><i class="icon-rotate-cw3"></i></a>
                </li>
                <li dragonlanguage="" style="margin-right: -10px;" title="Exportar">
                    <a ng-click="<%= scope %>.exportXLS();"><i class="icon-file-excel"></i></a>
                </li>
                <li dragonlanguage="" style="margin-right: -10px;" title="PDF">
                    <a ng-click="<%= scope %>.openmodalField('pdf');"><i class="icon-printer2"></i></a>
                </li>
            </ul>
            <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        </div>
        <div class="subcontent" id="miSubcontent">
            <%- include('../filter_ID',{scope:scope}); %>
            <script>
                <%= scope %>.disabledepa = true;
            </script>
            <ul class="nav nav-<%= COLOR.primary %> nav-tabs <%= COLOR.primary %> nav-justified" dragonlanguage="">
                <li class="active" id="active_comment_actividad">
                    <a href="#minusubcontent" data-toggle="tab" ng-click="vw_resultante_proceso.changeTab(false)">
                        <i class="position-left"></i>Riesgos Proyectados<i class="border-white  position-right"></i>
                    </a>
                </li>
                <li class="" id="activ_apoyo_tab">
                    <a href="#" data-toggle="tab" ng-click="vw_resultante_proceso.changeTab(true)">
                        <i class="position-left"></i>Riesgos Monitoreados<i class="border-white  position-right"></i>
                    </a>
                </li>
            </ul>
            <div style="overflow: scroll visible; position: static; zoom: 1;min-height: 400px" id="minusubcontent">
                <table class="table table-bordered" id="report" style="margin-top: 15px;width: 100%">
                    <%- include('table',{scope:scope}); %>
                </table>
            </div>
            <table id="XLS" style="visibility: hidden">
                <thead>
                <tr class="centralizarth">
                    <th ng-repeat="(key,val) in <%= scope %>.exportFields">{{val.label}}</th>
                </tr>
                </thead>
                <tbody>
                <tr style="vertical-align: middle" class="centralizartd"
                    ng-repeat="(key,rows) in <%= scope %>.report">
                    <td ng-repeat="(key,val) in <%= scope %>.exportFields">{{<%= scope %>.xlsPrint(rows,val)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!--end-->
</div>
