<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <ul id="leyendas" class="list-group" style="padding: 24px 0;">
                <li ng-show="module_lan.getStatus(module_lan)==='ia'">
                    <label class="ponerRedondo" style="background-color: #81c784;border: 1px black solid"></label>
                    <label class="labelRedondo" dragonlanguage>
                        <language>MESSAGE.ic("special.ia")</language>
                    </label>
                </li>
                <li ng-show="module_lan.getStatus(module_lan)==='human'">
                    <label class="ponerRedondo" style="background-color: #fcfcfc;border: 1px black solid"></label>
                    <label class="labelRedondo" dragonlanguage>
                        <language>MESSAGE.ic("special.human")</language>
                    </label>
                </li>
                <li ng-show="module_lan.getStatus(module_lan)==='no'">
                    <label class="ponerRedondo" style="background-color: #e57373;border: 1px black solid"></label>
                    <label class="labelRedondo" dragonlanguage>
                        <language>MESSAGE.ic("special.nowork")</language>
                    </label>
                </li>
            </ul>
            <div class='col-sm-12 col-md-5'>
                <%- FORM.input('category', scope, {placeholder: "Categoría", maxlength: 500, readonly: true,}) %>
            </div>
            <div class='col-sm-12 col-md-5'>
                <%- FORM.input('key', scope, {readonly: true, maxlength: 500}) %>
            </div>
            <div class='col-sm-12 col-md-1' ng-show="false">
                <%- FORM.checkbox('ia', scope, {text: "¿Traducido con IA?", maxlength: 500}) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('es', scope, {maxlength: 1000}) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('en', scope, {maxlength: 1000}) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <button title="Traducir con AI" style="float: left"
                        ng-click="module_lan.translateForm();"
                        type="button"
                        class="btn bg-info btn-xs">
                    Traducir con AI
                </button>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





