<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <%- include('../inter_form_c',{scope:scope}); %>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <%- FORM.integer("edt", scope, {maxlength: 5, placeholder: "No. Secuencia"}) %>
            </div>
            <div class="col-sm-3 col-md-3 custom-upload">
                <%- FORM.file("odsimage", scope, {
                    show: 'image',
                    image: 130,
                    title: 'Subir Imagen',
                    maxfiles: 1,
                    columns: 1,
                    truetext: 'Subir Imagen',
                    imagefloat: "right",
                    acceptedFiles: "image/*",
                    acceptedFiles_message: "Sólo se pueden subir archivos de tipo imagen",
                }) %>
            </div>
            <div class='col-sm-2 col-md-2'>
                <%- FORM.color('colorName', scope, {trueplaceholder: "Color"}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 remove-input-space">
                <%- FORM.input("nombre", scope, {maxlength: 1000}) %>
            </div>
            <div class="col-sm-6 col-md-6 remove-input-space">
                <%- FORM.textarea('descripcion', scope, {
                    label: "Descripción",
                    placeholder: "Descripción",
                    maxlength: 4000
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <%- FORM.relation("metas", scope, {
                    text: "item.nombre",
                    table: "mods",
                    field: "ods",
                    master: null,
                    icon: {class: "archive"}
                }) %>
            </div>
        </div>
    </div>
</div>
<%- FORM.footer(scope) %>
<script>
    ods.setPermission("file.upload", true);
    ods.setPermission("file.remove", true);
    ods.refreshAngular();
</script>
<style>
    #inputods_odsimage button {
        width: 175px;
        height: 40px;
    }
</style>
