
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading panel-dashboard">
                    <h6 class="panel-title"></h6>
                </div>
                <div class="panel-body chart-container">
                    <div class="chart has-fixed-height" id="columnsstack"></div>
                </div>
                <%- CHART.columns("columnsstack", scope, {label: "Presupuestos"}) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class=" panel panel-white">
                <div class="panel-heading panel-dashboard">
                    <h6 class="panel-title">Productos / Actividades / Asignaciones Especiales - <strong>POR ESTATUS</strong> </h6>
                </div>
                <div class="panel-body">
                    <div class="col-md-4 col-sm-4 pl-0 pr-20">
                        <div class="panel panel-white">
                            <div class="panel-heading panel-dashboard">
                                <h6 class="panel-title"></h6>
                            </div>
                            <div class="panel-body chart-container">
                                <div class="chart-container">
                                    <div class="chart has-fixed-height" id="pie"></div>
                                </div>
                            </div>
                        </div>
                        <%- CHART.pie("pie", scope, {label: "Proyecto/Producto"}) %>
                    </div>
                    <div class="col-md-4 col-sm-4 pl-0 pr-20">
                        <div class="panel panel-white">
                            <div class="panel-heading panel-dashboard">
                                <h6 class="panel-title"></h6>
                            </div>
                            <div class="panel-body chart-container">
                                <div class=chart-container">
                                    <div class="chart has-fixed-height" id="pie2"></div>
                                </div>
                            </div>
                        </div>
                        <%- CHART.pie("pie2", scope, {label: "Actividades"}) %>
                    </div>
                    <div class="col-md-4 col-sm-4 pl-0 pr-0">
                        <div class="panel panel-white">
                            <div class="panel-heading panel-dashboard">
                                <h6 class="panel-title"></h6>
                            </div>
                            <div class="panel-body chart-container">
                                <div class=chart-container">
                                    <div class="chart has-fixed-height" id="pie3"></div>
                                </div>
                            </div>
                        </div>
                        <%- CHART.pie("pie3", scope, {label: "Asignaciones Especiales"}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading panel-dashboard">
                    <h6 class="panel-title"></h6>
                </div>
                <div class="panel-body chart-container">
                    <div class="chart has-fixed-height" id="area"></div>
                </div>
            </div>
            <%- CHART.columns("area", scope, {label: "Indicadores"}) %>
        </div>
    </div>

