<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('descripcion', scope, {
                    //maxlength: 200,
                }) %>
            </div>
            <div class="col-sm-4 col-md-3">
                <%- FORM.select("estatus_permitido", scope, {
                    allowedit: false,
                    allownew: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    multiple: true,
                    text: "item.nombre",
                    value: "id",
                    table: "auditoria_programa_plan_estatus",
                    icon: {class: "archive"},
                    condition: "item.entidad == auditoria_entidad_flujo.id",
                    truelabel: "Estatus permitidos",
                    get: {
                        table: 'auditoria_programa_plan_function_permitido',
                        fieldFrom: 'id',
                        fieldTo: 'plan_status',
                        field: 'estatus_permitido'
                    }
                }) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.select("rol_permitido", scope, {
                    allowedit: false,
                    allownew: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    multiple: true,
                    text: "item.name",
                    value: "id",
                    table: "a_clone_group",
                    icon: {class: "archive"},
                    truelabel: "Roles permitidos",
                    condition: "auditoria_programa_plan_action.rol_permitido.indexOf(item.id+'')!==-1",
                    get: {
                        table: 'auditoria_programa_plan_function_rol',
                        fieldFrom: 'id',
                        fieldTo: 'plan_status',
                        field: 'rol'
                    }
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('addconditions', scope, {
                    //maxlength: 200,
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





