<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:scope}); %>
        <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:scope}); %>
        </div>
    </div>
</div><!--end-->
<script>
    if (documentos_import.session.groupadmin || documentos_import.session.super) {
        documentos_import.setPermission("add", true);
        documentos_import.setPermission("remove", true);
    } else if (documentos_import.session.groups[0]) {
        if (documentos_import.session.groups[0].name) {
            documentos_import.setPermission("add", false);
            documentos_import.setPermission("remove", false);
        }
    }
</script>