<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <div class="page-header-lg page-header-sm page-header">
            <div class="page-header-lg page-header-sm page-header page-header-default border-bottom-lg border-bottom-<%= COLOR.secundary %>">
                <!--Breadcrumb and Table Options-->
                <div class="breadcrumb-line">

                    <%- include('../../7-plugins/templates/header/rastro',{scope:scope}); %>
                    <ul class="breadcrumb-elements visible-elements">
                        <li dragonlanguage="">
                        </li>
                    </ul>
                    <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
                </div>
                <div class="subcontent">
                    <div class="tab-content">
                        <div class="tab-pane active" id="basic">
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #ddd;">
                                        <label style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: bold">Gestión de Riesgo</label>
                                    </div>
                                    <div class="panel-body" style="padding-bottom: 0;">
                                        <div class="row">
                                            <div class='col-sm-4 col-md-4'  ng-if="<%= scope%>.current_estatus == 3">
                                                <%- FORM.inputview('nombre', scope, {}) %>
                                            </div>
                                            <div class='col-sm-4 col-md-4'  ng-if="<%= scope%>.current_estatus != 3">
                                                <%- FORM.input('nombre', scope, {}) %>
                                            </div>
                                            <div class="col-sm-12 col-md-4 form-group-material form-group has-feedback  has-{{<%= scope %>.validate['ano'].type || <%= scope %>.defaultColor }}  has-feedback-left" ng-if="<%= scope%>.current_estatus != 3">
                                                <label class="control-label is-visible" style="color: black">Año</label>
                                                <select ng-model="<%= scope%>.ano" name="ano" id="ano" class="form-control">
                                                    <option value="[NULL]">Seleccione</option>
                                                    <option ng-repeat="value in <%= scope%>.lista_ano" ng-show="value >= <%= scope%>.current_year " value="{{value}}">{{value}}</option>
                                                </select>
                                                <div class="form-control-feedback ng-scope" style="margin-left: 10px;">
                                                    <i class="icon-archive text-secundary">
                                                    </i>
                                                </div>
                                                <span ng-if="<%= scope%>.validate['ano'].messages.length > 0" class="help-block">
                                                    <p class="text-{{validation.type}}"
                                                       ng-repeat="(key,validation) in <%= scope%>.validate['ano'].messages track by key">
                                                           <i class="{{validation.icon}}"></i> {{validation.message}}
                                                    </p>
                                                </span>
                                            </div>
                                            <div class="col-sm-12 col-md-4" ng-if="<%= scope%>.current_estatus == 3">
                                                <%- FORM.inputview('ano_view', scope, { placeholder: "Año"}) %>
                                            </div>
                                            <div class='col-sm-4 col-md-4 add-class'>
                                                <%- FORM.select('estatus', scope, {
                                                    allownew: false,
                                                    allowedit: false,
                                                    allowview: false,
                                                    allowlist: false,
                                                    allownull: false,
                                                    value: "id",
                                                    text: "item.nombre",
                                                    table: "vw_auditoria_programa_plan_estatus",
                                                    icon: {class: "archive"},
                                                    truelabel: "Estatus",
                                                    condition: "item.plan_status == riesgo_historico.current_estatus && item.entidad == 'riesgo_historico'"
                                                }) %>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class='col-sm-12 col-md-12' ng-if="<%= scope%>.current_estatus != 3">
                                                <%- FORM.textarea('descripcion', scope, {
                                                        //maxlength: 200,
                                                }) %>
                                            </div>
                                            <div class='col-sm-12 col-md-12' ng-if="<%= scope%>.current_estatus == 3">
                                                <%- FORM.textarea('descripcion', scope, {
                                                    disabled: true
                                                            //maxlength: 200,
                                                }) %>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9"></div>
                                            <div class="col-md-3 col-sm-3">
                                                <button
                                                        style="margin-right: 0px; margin-left: 10px"
                                                        dragonlanguage="" title="Cancelar"
                                                        type="button" role="button"
                                                        class="bg-<%= COLOR.warning %> btn btn-labeled btn-xs legitRipple ng-binding pull-right"
                                                        ng-click="<%= scope%>.cancelar();">
                                                    <b><i class="icon-cross2"></i></b>
                                                    Cancelar
                                                </button>
                                                <button
                                                        style="margin-right: 0"
                                                        dragonlanguage="" title="Guardar"
                                                        type="button" role="button"
                                                        class="bg-<%= COLOR.success %>-800 btn btn-labeled btn-xs legitRipple ng-binding pull-right"
                                                        ng-click="<%= scope%>.saveData();">
                                                    <b><i class=" icon-floppy-disk"></i></b>
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel panel-flat">
                                    <%-include('../../7-plugins/templates/table/header',{scope:'riesgo_historico'});%>
                                    <div class="subcontent">
                                        <%-include('../../7-plugins/templates/table/base',{scope:'riesgo_historico'});%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end-->
<style>
    .select2-selection__rendered {
        margin-left: 10px;
        padding-left: 25px;
    }
</style>
<script>
    setTimeout(function(){
        $('[name="ano"]').select2();
    }, 100)
    let select = $('.add-class select')[0];
    let div = document.getElementsByClassName('add-class')[0];
    if(!select.disabled){
        debugger
        div.classList.add('focus-field-group')
        div.classList.remove('add-class')
    }
</script>