<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('ods', scope, {
                    column: 'nombre',
                    table: 'ods',

                    text: "item.edt +' '+item.nombre",

                }) %>
            </div>

            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('descripcion', scope, {
                    //maxlength: 200,

                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('definicion', scope, {
                    //maxlength: 200,
                    trueplaceholder: "Observaciones"
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.relation("meta_compania", scope, {
                    text: "item.definicion",
                    table: "meta_compania",
                    field: "ods",
                    master: null,
                    icon: {class: "archive"}
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





