<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="tab-content">
        <div class="tab-pane active" id="basic">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 0px;padding-top: 5px; background-color: #f4f4f4;">
                    <h3 style="margin-top: 15px;">Información del Fallo</h3>
                </div>
                <script>
                     riesgo_a.view_riesgo_a
                </script>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-4 col-md-4 " ng-show="false">
                            <%- FORM.inputview("id", scope, {
                                placeholder: "id"
                            }) %>
                        </div>
                        <div class="col-sm-3 col-md-3 " ng-if="riesgo.session.institucion">
                            <%- FORM.select("mamfe_elemento", scope, {
                                allownull: false,
                                allownew: false,
                                allowedit: false,
                                allowlist: false,
                                allowview: false,
                                refresh: false,
                                disabled: true,
                                text: "item.nombre",
                                table: "vw_procesos_elemento",
                                icon: {class: "archive"},
                                truelabel: "Elemento del Proceso",
                                condition: "item.institucion == riesgo.session.institucion_id"
                            }) %>
                        </div>
                        <div class="col-sm-3 col-md-3 " ng-if="!riesgo.session.institucion">
                            <%- FORM.select("mamfe_elemento", scope, {
                                allownull: false,
                                allownew: false,
                                allowedit: false,
                                allowlist: false,
                                allowview: false,
                                refresh: false,
                                disabled: true,
                                text: "item.nombre",
                                table: "vw_procesos_elemento",
                                icon: {class: "archive"},
                                truelabel: "Elemento del Proceso",
                                condition: "item.compania == riesgo.session.compania_id && item.institucion == null"
                            }) %>
                        </div>
                        <div class="col-sm-4 col-md-4 " id="registrodiv">
                            <%- FORM.inputview("view_registro", scope, {
                                placeholder: "Nombre"
                            }) %>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-3 col-md-3 ">
                            <%- FORM.inputview("view_riesgo", scope, {
                                placeholder: "Fallo"
                            }) %>
                        </div>

                        <div class='col-sm-12 col-md-12'>
                            <%- FORM.textarea('mamfe_efecto', scope, {
                                trueplaceholder: "Efecto", disabled: true

                            }) %>
                        </div>

                        <div class='col-sm-12 col-md-12'>
                            <%- FORM.textarea('mamfe_causa', scope, {
                                trueplaceholder: "Causa", disabled: true
                            }) %>
                        </div>
                    </div>
                    <div class="row" ng-show="riesgo.todasaccionescorrectivas()">
                        <div class='col-sm-3 col-md-3'>
                            <%- FORM.integer('mamfe_gravedad_current', scope, {
                                trueplaceholder: "Valoración Gravedad (G)"
                            }) %>
                        </div>
                        <div class='col-sm-3 col-md-3'>
                            <%- FORM.integer('mamfe_ocurrencia_current', scope, {
                                trueplaceholder: "Valoración Ocurrencia (O)"
                            }) %>
                        </div>
                        <div class='col-sm-3 col-md-3'>
                            <%- FORM.integer('mamfe_deteccion_current', scope, {
                                trueplaceholder: "Valoración Detección (D)"
                            }) %>
                        </div>

                        <div class='col-sm-3 col-md-3'>
                            <div class="form-group-material form-group has-feedback has-secundary-600  has-feedback-left">
                                <label class="control-label is-visible animate ng-binding"
                                       style="color:#000000 !important;">
                                    Índice de Prioridad de Riesgos (IPR=GxOxD)
                                </label>

                                <input readonly
                                       value="{{(riesgo.mamfe_gravedad_current||0)*(riesgo.mamfe_ocurrencia_current||0)*(riesgo.mamfe_deteccion_current||0)}}"
                                       type="text"
                                       class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                                       style="padding-left: 31px !important;" placeholder="" disabled="disabled">

                                <div class="form-control-feedback ng-scope" style="top: 35px">
                                    <i class="text-secundary icon-lock2">

                                    </i>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="panel panel-default" ng-show="!<%= scope %>.esplan">
                <div class="panel-heading" style="padding-bottom: 0px;padding-top: 5px; background-color: #f4f4f4;">
                    <h3 style="margin-top: 15px;">Trabajar Fallo</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class='col-sm-4 col-md-4' ng-if="!riesgo.session.institucion_id">
                            <%- FORM.select("estrategia", scope, {
                                allownull: false,
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                label: "Estrategia",
                                table: "estrategia_tratamiento",
                                text: "item.nombre",
                                icon: {class: "archive"},
                                condition: "(item.compania == riesgo.session.compania_id && item.institucion == null) && (item.entidad == riesgo.drp_entidad)"
                            }) %>
                        </div>
                        <div class='col-sm-4 col-md-4' ng-if="riesgo.session.institucion_id">
                            <%- FORM.select("estrategia", scope, {
                                allownull: false,
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                label: "Estado",
                                table: "estrategia_tratamiento",
                                text: "item.nombre",
                                icon: {class: "archive"},
                                condition: "(item.institucion == riesgo.session.institucion_id) && (item.entidad == riesgo.drp_entidad)"
                            }) %>
                        </div>
                        <div class='col-sm-4 col-md-4' ng-show="riesgo.fromWhere == 'matriz_riesgo'">
                            <%- FORM.inputview('estado_plan_accion_nombre', scope, {
                                placeholder: "Estado"
                            }) %>
                        </div>
                        <div class='col-sm-4 col-md-4' ng-show="riesgo.fromWhere == 'plan_accion'">
                            <%- FORM.select("estado_plan_accion", scope, {
                                allownull: false,
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                label: "Estado",
                                table: "riesgo_estatus",
                                text: "item.nombre",
                                icon: {class: "archive"},
                            }) %>
                        </div>
                        <div class='col-sm-4 col-md-4'
                             ng-show="riesgo.fromWhere == 'plan_accion' && riesgo.estado_plan_accion == 2">
                            <%- FORM.checkbox("ocurrencia", scope, {text: "Ocurrencia del Siniestro (S/N)"}) %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer dragonformfooter" dragonlanguage="" id="btnformfooter">
                             <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
                                 <i class="position-right"></i>
                             </span>

                            <button

                                    dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
                                    type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
                                    onclick="MODAL.close()">
                                <b><i class="icon-cross2"></i></b>
                                <language>MESSAGE.ic('mono.cancel')</language>
                            </button>
                            <button ng-show="<%= scope %>.form.mode!=='new'"
                                    dragonlanguage="" title="MESSAGE.ic('mono.save')"
                                    type="button" role="button"
                                    class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                                    ng-click="<%= scope %>.work_plan(riesgo.id_matriz)">
                                <b><i class="icon-floppy-disk"></i></b>
                                <language>MESSAGE.ic('mono.save')</language>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="" id="Formutabs" ng-show="!<%= scope %>.esplan">
                <div class="subcontent" style="padding-top: 0px;">
                    <div class="row">
                        <ul class="nav nav-<%= COLOR.primary %> nav-tabs <%= COLOR.primary %> nav-justified"
                            dragonlanguage="">
                            <li class="active" id="control_tab">
                                <a href="#control" data-toggle="tab" ng-click="actividades_poa_monitoreo.make_alert()">
                                    <i class="position-left"></i>
                                    Medidas Control Reales
                                    <i class="border-white  position-right"></i>
                                </a>
                            </li>
                            <li class="" id="comment_tab">
                                <a href="#comment" data-toggle="tab">
                                    <i class="position-left"></i>
                                    Comentarios
                                    <i class="border-white  position-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="control">
                            <div class="row">
                                <div id="<%= 'riesgo_matriz_control' %>"
                                     ng-controller="<%= 'riesgo_matriz_control' %> as <%= 'riesgo_matriz_control' %>">
                                    <div class="panel panel-flat">
                                        <%- include('../../7-plugins/templates/table/header',{scope:'riesgo_matriz_control'}); %>
                                        <div class="subcontent">
                                            <%- include('../../7-plugins/templates/table/base',{scope:'riesgo_matriz_control'}); %>
                                        </div>
                                    </div>
                                    <script>
                                        if (typeof riesgo !== 'undefined') {
                                            if (typeof riesgo !== 'not defined') {
                                                if (riesgo) {
                                                    riesgo_matriz_control.fixFilters = [{
                                                        field: 'riesgo',
                                                        value: Row_id
                                                    }, {field: 'riesgo_control', value: Matriz_id}];
                                                }
                                            }
                                        }

                                        if (typeof vw_riesgo !== 'undefined') {
                                            if (typeof vw_riesgo !== 'not defined') {
                                                if (vw_riesgo) {
                                                    riesgo.entidad = "pei_poa";
                                                    riesgo_matriz_control.fixFilters = [{
                                                        field: 'riesgo',
                                                        value: Row_id
                                                    }, {field: 'riesgo_control', value: Matriz_id}];
                                                }
                                            }
                                        }

                                        if (typeof vw_riesgo_proceso !== 'undefined') {
                                            if (typeof vw_riesgo_proceso !== 'not defined') {
                                                if (vw_riesgo_proceso) {
                                                    riesgo.entidad = "proceso";
                                                    riesgo_matriz_control.fixFilters = [{
                                                        field: 'riesgo',
                                                        value: Row_id
                                                    }, {field: 'riesgo_control', value: Matriz_id}];
                                                }
                                            }
                                        }
                                        riesgo_matriz_control.setPermission("actions", true);
                                        riesgo_matriz_control.setPermission("add", true);
                                        riesgo_matriz_control.setPermission("edit", true);
                                        riesgo_matriz_control.setPermission("remove", true);
                                        // riesgo_control.setPermission("active", false);
                                        riesgo_matriz_control.setPermission("view", true);
                                        // riesgo_control.setPermission("copy", false);
                                        riesgo_matriz_control.setPermission("audit", true);
                                    </script>
                                </div><!--end-->
                            </div>
                        </div>
                        <div class="tab-pane" id="comment">
                            <br>
                            <div class="row">
                                <div class="col-sm-9 col-md-9">
                                    <%- FORM.textarea("comentario_comment", scope, {placeholder: "Comentario"}) %>
                                </div>
                                <div class="col-sm-3 col-md-3" style="margin-top: 23px;">
                                    <div class="modal-footer dragonformfooter" style="padding-right: 0px;"
                                         dragonlanguage="" id="">
                                        <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
                                            <i class="position-right"></i>
                                        </span>
                                        <button ng-show="<%= scope %>.form.mode!=='new'"
                                                dragonlanguage="" title="Guardar Comentario"
                                                type="button" role="button"
                                                class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                                                ng-click="<%= scope %>.SaveComent(riesgo.id_matriz);">
                                            <b><i class="icon-floppy-disk"></i></b>
                                            <language>MESSAGE.ic('mono.saveComment')</language>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div><br/></div>
                            </div>
                            <div class="row">
                                <div id="vw_comentario_plan_accion"
                                     ng-controller="vw_comentario_plan_accion as vw_comentario_plan_accion">
                                    <script>
                                        vw_comentario_plan_accion.fixFilters = [{
                                            "field": "value",
                                            "value": Matriz_id
                                        }];
                                    </script>
                                    <div class="panel panel-flat">
                                        <%- include('../../7-plugins/templates/table/header',{scope:'vw_comentario_plan_accion'}); %>
                                        <div class="subcontent">
                                            <%- include('../../7-plugins/templates/table/base',{scope:'vw_comentario_plan_accion'}); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="<%= scope %>.esplan" class="row">
                <ul class="nav nav-primary nav-tabs primary nav-justified">


                    <li class="active">
                        <a href="#AC" data-toggle="tab" id="tabPEI1" aria-expanded="false">
                            <i class="icon-archive position-left"></i>
                            Acciones Correctivas
                            <i class="border-white  position-right"></i>
                        </a>
                    </li>
                    <li >
                        <a href="#AP" data-toggle="tab" id="tabPEI1" aria-expanded="false">
                            <i class="icon-archive position-left"></i>
                            Acciones Preventivas
                            <i class="border-white  position-right"></i>
                        </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <script>
                        <%= scope %>.form.mode = 'edit';
                    </script>
                    <div class="tab-pane " id="AP">
                        <%- FORM.relation("preventivas", scope, {
                            text: "item.nombre",
                            table: "auditoria_lista_preventiva",
                            field: "riesgo",
                            master: null,
                            icon: {class: "archive"}
                        }) %>
                    </div>
                    <div class="tab-pane active" id="AC">
                        <%- FORM.relation("correctivas", scope, {
                            text: "item.nombre",
                            table: "auditoria_lista_correctiva",
                            field: "riesgo",
                            custombase: 'auditoria_lista_correctiva',
                            master: null,
                            icon: {class: "archive"}
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- FORM.footer(scope) %>

<script>
    riesgo_a.refreshAngular()
</script>

