<!-- Volver a Inicio-->
<div style="margin-top: -10px; margin-left: 5px;">
    <button class="btn btn-primary" dragonlanguage="" ng-show="<%= scope %>.ui" ng-click=" <%= scope %>.ui.goHome();"
            style="float: right">
        <language>Volver al inicio<language>
    </button>
    <button style="float: right" type="button" ng-show="!<%= scope %>.ui" class="btn btn-labeled bg-secundary" onclick="MODAL.close(<%= scope %>)"> <b><i class="icon-cross2"></i></b>Atrás</button>
</div>
<br>

<!-- Leyenda -->
<div class="container" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info text-center" style="    padding: 0;" role="alert">
                <h5 style="color: #000;" ng-bind-html="<%= scope %>.FICHA.leyenda">
                </h5>
            </div>
        </div>
    </div>
</div>

<!--Tabla periodicidad -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered tablaIndicadores" dragonlanguage="">
                <thead>
                <tr>
                    <th class="text-center"
                        style="background-color: #9C282D; color: #FFF;">
                        <strong>{{<%= scope %>.FICHA.periodicidad}}</strong>
                    </th>
                    <th class="text-center"
                        style="background-color: #9C282D; color: #FFF;">
                        <strong><language>META</language></strong>
                    </th>
                    <th class="text-center"
                        style="background-color: #9C282D; color: #FFF;">
                        <strong><language>META ALCANZADA</language></strong>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(index,data) in <%= scope %>.FICHA.periodos"
                    ng-class="[ !data.periodoValid?'disabled': (!data.current&&data.sinMeta?'sinMeta':''),data.current?'currentPeriod':'']">
                    <td><b>{{data.indice}}</b></td>
                    <td><b>{{data.meta}}</b></td>
                    <td><b>{{data.sinMeta?'':data.meta_alcanzada}}</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 card" style="padding-bottom: 25px;">
                <div class="panel panel-default">
                    <div class="col-md-12">
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 grafe" id="graficoIndicador">
                                </div>
                                <h4>{{<%= scope %>.FICHA.grafico.titulo_ponderacion}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Datos del Indicador -->
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-12" dragonlanguage="">
            <table class="table table-bordered tablaIndicadores">
                <thead>
                <tr>
                    <th style="background-color: #9c282d; color: #FFF;"
                        colspan="4"
                        class="text-center"><strong><language>DATOS DEL INDICADOR</language></strong></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(index,data) in <%= scope %>.FICHA.datos_indicador | limitTo: <%= scope %>.totalIndicadorRows">
                    <td><b>{{<%= scope %>.FICHA.datos_indicador[index+index].label}}</b></td>
                    <td>{{<%= scope %>.FICHA.datos_indicador[index+index].value}}</td>
                    <td><b>{{<%= scope %>.FICHA.datos_indicador[index+(index+1)].label}}</b></td>
                    <td>{{<%= scope %>.FICHA.datos_indicador[index+(index+1)].value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Datos Relacionados -->
<script>
    <%= scope %>.totalRows = Math.round(<%= scope %>.FICHA.datos_relacionados.length / 2
    )
    ;
    <%= scope %>.totalIndicadorRows = Math.round(<%= scope %>.FICHA.datos_indicador.length / 2
    )
    ;
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered tablaIndicadores">
                <thead>
                <tr>
                    <th style="background-color: #9c282d; color: #FFF;"
                        colspan="4"
                        class="text-center"><strong>DATOS RELACIONADOS</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(index,data) in <%= scope %>.FICHA.datos_relacionados | limitTo: <%= scope %>.totalRows">
                    <td><b>{{<%= scope %>.FICHA.datos_relacionados[index+index].label}}</b></td>
                    <td>{{<%= scope %>.FICHA.datos_relacionados[index+index].value}}</td>
                    <td><b>{{<%= scope %>.FICHA.datos_relacionados[index+(index+1)].label}}</b></td>
                    <td>{{<%= scope %>.FICHA.datos_relacionados[index+(index+1)].value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    {
        {
            if (<%= scope %>.loadThis)
            <%= scope %>.loadThis('graficoIndicador', <%= scope %>.FICHA.grafico)
            else{
                dibujaGracfico(`graficoIndicador`, <%= scope %>.FICHA.grafico.porcentaje, <%= scope %>.FICHA.grafico.color, 300, 250);
            }
        }
    }
    <%= scope %>.refreshAngular();
</script>
