<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.inputview("nombre",scope,{placeholder: "Nombre"})%>
            </div>
            <div class="col-sm-8 col-md-8">
                <%- FORM.inputview("descripcion",scope,{ placeholder: "Descripción" }) %>
            </div>
        </div>

        <div class="row">
            <div> <br/> </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%-
                FORM.select("departamento_solicitante", scope, {
                    allownull: false,
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    multiple: false,
                    disabled: true,
                    label: "Departamento Solicitante",
                    text: "item.nombre",
                    table: "departamento",
                    columns: ["nombre"],
                    icon: {class:"archive"}
                })
                %>
            </div>
            <div class="col-sm-8 col-md-4">
                <%-
                FORM.select("responsable", scope, {
                    allownull: false,
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    refresh: false,
                    multiple: false,
                    disabled: true,
                    label: "Responsable",
                    text: "item.nombre + ' ' + item.apellido",
                    table: "usuario",
                    columns: ["nombre"],
                    icon: {class:"archive"}
                })
                %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.daterange("range_date",scope, {
                    from: "fecha_inicio",
                    to: "fecha_fin"
                })%>
            </div>
        </div>

        <div class="row">
            <div> <br/> </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.textarea("comentario",scope,{ placeholder: "Comentario" }) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.checkbox("completa",scope,{ text: "Completado?", posttype: "checkbox" }) %>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div> <br/> </div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!---->
        <!--</div>-->

        <div class="row">
            <div> <br/> </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.file("asignacionfile",scope, {title: 'Subir Evidencia',maxfiles:1 , columns:1})%>
            </div>
        </div>

    </div>

</div>
<%- FORM.footer(scope) %>
