<style>
    .scrollit {
        overflow: scroll;
        height: 100%;
    }
</style>

<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <div class="page-header-lg page-header-sm page-header">
            <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
            <ul class="breadcrumb-elements visible-elements">
                <li dragonlanguage="">
                    <a ng-click="resumen_indicador_pei.exportXLS();"><i class="icon-file-excel"></i></a>
                </li>
                <li dragonlanguage="">
                    <a ng-click="resumen_indicador_pei.openmodalField('pdf');"><i class="icon-printer2"></i></a>
                </li>
            </ul>
            <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        </div>

        <div class="subcontent">
            <div class="row scrollit">
                <table class="table table-bordered" style="margin-top: 15px; width: 2500px;">
                    <thead class="">
                    <tr height="20"
                        style="background-color: <%= CONFIG.ui.theme.primary.indexOf("rgb") > -1 ? CONFIG.ui.theme.primary : '#' + CONFIG.ui.theme.primary %>; color: white;"
                        class="centralizarth">
                        <th rowspan="3">Indicadores</th>
                        <th ng-if="resumen_indicador_pei.session.tipo_institucion == 2" rowspan="3">Perspectiva</th>
                        <th rowspan="3">Resultado Esperado</th>
                        <th rowspan="3">Fuente</th>
                        <th rowspan="3">Método Calculo</th>
                        <th rowspan="3">Unidad / Escala de Medición</th>
                        <th rowspan="3">Dirección Meta</th>
                        <th rowspan="3">Medio Verificación</th>
                        <th rowspan="3" height="0">Descripción</th>
                        <th colspan="2">Línea Base</th>
                        <th colspan="{{resumen_indicador_pei.cantidad}}">Metas</th>
                    </tr>

                    <tr class="centralizarth"
                        style="background-color:<%= CONFIG.ui.theme.primary.indexOf("rgb") > -1 ? CONFIG.ui.theme.primary : '#' + CONFIG.ui.theme.primary %>;color: white;">
                        <th rowspan="2">Año</th>
                        <th rowspan="2">Valor</th>
                        <th height="20" ; colspan="{{resumen_indicador_pei.cantidad}}" style="text-align: center;">
                            Projectadas / Alcanzadas / Diferencias
                        </th>
                    </tr>
                    <tr class="centralizarth"
                        style="background-color:<%= CONFIG.ui.theme.primary.indexOf("rgb") > -1 ? CONFIG.ui.theme.primary : '#' + CONFIG.ui.theme.primary %>;color: white;">
                        <th ng-repeat="(column,value) in resumen_indicador_pei.headerBody_list">
                            {{value.name}}
                        </th>
                    </tr>
                    </thead>
                    <tbody class="tb1">
                    <tr ng-repeat="(key,value) in resumen_indicador_pei.resumen_indicador_pei_list">
                        <td rowspan="">{{value.indicadores}}</td>
                        <td ng-if="resumen_indicador_pei.session.tipo_institucion == 2" rowspan="">{{value.perspectiva}}</td>
                        <td rowspan="">{{value.resultado_esperado}}</td>
                        <td rowspan="">{{value.fuente}}</td>
                        <td rowspan="">{{value.metodo_calculo}}</td>
                        <td rowspan="">{{value.tipo_meta}}</td>
                        <td rowspan="">{{value.direccion_meta}}</td>

                        <td rowspan="">{{value.medio_verificacion}}</td>
                        <td rowspan="">{{value.descripcion}}</td>
                        <td class="alinearNumeros" rowspan="">{{value.ano_linea_base}}</td>
                        <td class="alinearNumeros" rowspan="">{{value.linea_base}}</td>
                        <td style="text-align: center; width: 8%;"
                            ng-repeat="(column,valuec) in resumen_indicador_pei.headerBody_list">
                            <span>{{value['ano'+resumen_indicador_pei.headerBody_list[column].ano+'P']}}</span> |
                            <span>{{value['ano'+resumen_indicador_pei.headerBody_list[column].ano+'A']}}</span> |
                            <span style="color: {{value['ano'+resumen_indicador_pei.headerBody_list[column].ano+'color']}}">
                                {{value['ano'+resumen_indicador_pei.headerBody_list[column].ano+'V']}}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="subcontent" ng-show="false">
            <table id="resumen_indicador_peiTable" class="table table-bordered">
                <thead class="">
                <tr class="" style="text-align: center;">
                    <th rowspan="3">Indicadores</th>
                    <th ng-if="resumen_indicador_pei.session.tipo_institucion == 2" rowspan="3">Perspectiva</th>
                    <th rowspan="3">Resultado Esperado</th>
                    <th rowspan="3">Fuente</th>
                    <th rowspan="3">Método Calculo</th>
                    <th rowspan="3">Unidad / Escala de Medición</th>
                    <th rowspan="3">Dirección Meta</th>
                    <th rowspan="3">Línea Base</th>
                    <th rowspan="3">Medio Verificación</th>
                    <th rowspan="3" height="0">Descripción</th>
                    <th colspan="{{resumen_indicador_pei.countSpan}}">Metas</th>
                </tr>
                <tr style="vertical-align: middle;">
                    <th colspan="3" ng-repeat="(column,value) in resumen_indicador_pei.headerBody_list">
                        {{value.name}}
                    </th>
                </tr>
                <tr style="vertical-align: middle;">
                    <th ng-repeat="(key, value) in resumen_indicador_pei.arr_rs">
                        {{resumen_indicador_pei.removeNumbers(value)}}
                    </th>
                </tr>
                </thead>
                <tbody class="">
                <tr style=" vertical-align: middle;"
                    ng-repeat="(key,value) in resumen_indicador_pei.resumen_indicador_pei_list">
                    <td>{{value.indicadores}}</td>
                    <td ng-if="resumen_indicador_pei.session.tipo_institucion == 2">{{value.perspectiva}}</td>
                    <td>{{value.resultado_esperado}}</td>
                    <td>{{value.fuente}}</td>
                    <td>{{value.metodo_calculo}}</td>
                    <td>{{value.tipo_meta}}</td>
                    <td>{{value.direccion_meta}}</td>
                    <td class="alinearNumeros" rowspan="">{{value.linea_base}}</td>
                    <td>{{value.medio_verificacion}}</td>
                    <td>{{value.descripcion}}</td>
                    <td class="" style="text-align: center; vertical-align: middle;"
                        ng-repeat="(column,valuec) in value.ano track by $index">
                        {{valuec}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--end-->
