<table class="table table-togglable table-framed">
    <tbody>
    <tr ng-repeat="(keycolum, value) in <%= scope %>.columns() track by keycolum" ng-show="value.visibleDetail!=false">
        <td ng-if="value.label != 'metas'" class="text-white bg-<%= COLOR.secundary %>">
            <span ng-bind-html="<%= scope %>.columnLabel(value,keycolum)"></span>
        </td>
        <td ng-if="value.label != 'metas'">
        <span
                ng-bind-html="<%= scope %>.cellValue(keycolum,value,<%= scope %>.dataForView)"
                ng-click="<%= scope %>.cell.click(keycolum,value,<%= scope %>.dataForView)"
                ng-dblclick="<%= scope %>.cell.dblclick(keycolum,value,<%= scope %>.dataForView)"

        >

        </span>
        </td>
    </tr>
    </tbody>
</table>
<!--Table List-->
<script>
    <%= scope %>.refreshAngular();
    setTimeout(function () {
        <%= scope %>.refreshAngular();
    },100);

</script>