<%- FORM.tabs(scope, [
    {id: "basic", text: "Datos Básicos", icon: "icon-list3"},
    {id: "template", text: "Plantilla", icon: "icon-html5"},
    {id: "fixsend", text: "Envíos Fijos", icon: "icon-mail5"},
    {id: "keys", text: "Configuración", icon: "icon-key"},
    {id: "advance", text: "Configuración Avanzada", icon: "icon-cog2"}
]) %>
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">

    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active" id="basic">
                <div class="row">
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.input('nombre', scope, {}) %>
                    </div>
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.selectsimple("view", scope, {
                            value: "code",
                            data: models.filter(d => d).filter(d => d.indexOf('mdn_') !== -1).map(d => {
                                return {code: d, name: params.capitalize(d.replace('mdn_', '').replaceAll('_', ' '))}
                            }),
                            icon: {class: "sphere3"}
                        }) %>
                    </div>
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.checkbox('active', scope, {}) %>
                    </div>
                    <div class='col-sm-12 col-md-12' ng-show="modulo_notificacion.view">
                        <%- FORM.input('descripcion', scope, {}) %>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="template">
                <div class="row" ng-show="modulo_notificacion.view!=='[NULL]'">
                    <div class='col-sm-12 col-md-12 '>
                        <div class="remove-input-space form-group-material form-group">
                            <label class="control-label is-visible animate"
                                   style="color:#000000 !important;">Variables:</label>
                            <div>
                                <p> {{modulo_notificacion.strFieldsByTable()}}</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-12 col-md-12'>
                        <%- FORM.input('subject', scope, {
                        }) %>
                    </div>
                    <div class='col-sm-12 col-md-12'>
                        <%- FORM.html('template', scope, {
                        }) %>
                    </div>
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.checkbox('masterpage', scope, {
                        }) %>
                    </div>
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.checkbox('tambienpush', scope, {
                        }) %>
                    </div>
                    <div class='col-sm-12 col-md-12' ng-show="modulo_notificacion.tambienpush">
                        <%- FORM.html('template_push', scope, {
                        }) %>
                    </div>
                </div>
                <div class="row" ng-show="modulo_notificacion.view==='[NULL]'">
                    <div class="col-sm-12 col-md-12">
                        <div class="alert bg-warning border-warning alert-styled-left mt-10">
                            <b>Debe elegir la entidad con la cual trabajará esta notificación para poder configurar la
                                plantilla.</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="fixsend">
                <div class="row">
                    <div class="col-sm-10 col-md-10">
                        <%- FORM.select("roles", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            multiple: true,
                            disabled: false,
                            text: "item.name",
                            value: "id",
                            table: "a_clone_group",
                            icon: {class: "users4"},
                            get: {
                                table: 'modulo_notificacion_group',
                                fieldFrom: 'id',
                                fieldTo: 'modulo_notificacion',
                                field: 'a_clone_group'
                            }
                        }) %>
                    </div>
                    <div class='col-sm-2 col-md-2'>
                        <%- FORM.selectsimple("destiny_roles", scope, {
                            value: "code",
                            data: [
                                {"code": "TO", "name": "Para (To)"},
                                {"code": "CC", "name": "Copia (CC)"}
                            ],
                            icon: {class: "sphere3"}
                        }) %>
                    </div>
                    <div class="col-sm-10 col-md-10">
                        <%- FORM.select("usuario", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            multiple: true,
                            disabled: false,
                            text: "item.nombre+' '+item.apellido",
                            value: "id",
                            table: "usuario",
                            icon: {class: "user"},
                            get: {
                                table: 'modulo_notificacion_usuario',
                                fieldFrom: 'id',
                                fieldTo: 'modulo_notificacion',
                                field: 'usuario'
                            },
                            condition: "item.compania==modulo_notificacion.session.compania_id"
                        }) %>
                    </div>
                    <div class='col-sm-2 col-md-2'>
                        <%- FORM.selectsimple("destiny_usuario", scope, {
                            value: "code",
                            data: [
                                {"code": "TO", "name": "Para (To)"},
                                {"code": "CC", "name": "Copia (CC)"}
                            ],
                            icon: {class: "sphere3"}
                        }) %>
                    </div>
                    <div class="col-sm-10 col-md-10">
                        <%- FORM.tags("direct_emails", scope, {
                        }) %>
                    </div>
                    <div class='col-sm-2 col-md-2'>
                        <%- FORM.selectsimple("destiny_fix", scope, {
                            value: "code",
                            data: [
                                {"code": "TO", "name": "Para (To)"},
                                {"code": "CC", "name": "Copia (CC)"}
                            ],
                            icon: {class: "sphere3"}
                        }) %>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="keys">
                <div class="row" ng-show="modulo_notificacion.view!=='[NULL]'">
                    <div class="col-sm-6 col-md-6">
                        <%- FORM.select("field_code", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.column_name",
                            value: "column_name",
                            table: "vw_mdnfields",
                            icon: {class: "key"},
                            condition: "item.table_name==modulo_notificacion.view"
                        }) %>
                    </div>
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.selectsimple("disparo_type", scope, {
                            value: "code",
                            data: [
                                {"code": "fecha", "name": "Por Fecha"},
                                {"code": "vigencia", "name": "Por Vigencia"},
                                {"code": "estimado", "name": "Por Tiempo Estimado de Estatus"},
                                {"code": "code", "name": "Acción en SYPLANS"}
                            ],
                            icon: {class: "sphere3"}
                        }) %>
                    </div>
                </div>

                <div class="row" ng-show="modulo_notificacion.view!=='[NULL]'">
                    <div class='col-sm-6 col-md-6' ng-show="modulo_notificacion.disparo_type==='code'">
                        <%- FORM.selectsimple("field_action", scope, {
                            value: "code",
                            data: [
                                {"code": "GASNC", "name": "Gestión de Escalamiento - Salidas no Conforme"},
                                {"code": "CSNC", "name": "Creación de Plan de acción - Acciones de mejora"},
                                {"code": "PAVSNC", "name": "Vencimiento de Plan de acción - Acciones de mejora"},
                                {"code": "PDCEP", "name": "Cambio de POA departamental a pendiente"},
                                {"code": "PDCET", "name": "Cambio de POA departamental a trabajado"},
                                {"code": "PDCEA", "name": "Cambio de POA departamental a autorizado"},
                                {"code": "PDCEA", "name": "Cambio de POA departamental a autorizado"},
                                {"code": "PPCED", "name": "Cambio de producto a detenido"},
                                {"code": "APCED", "name": "Cambio de actividad a detenida"},
                                {"code": "APCEC", "name": "Cambio de actividad a Cancelada"},
                                {"code": "APCA", "name": "Creación de una actividad de POA"},
                                {"code": "APCAP", "name": "Creación de una actividad de apoyo"}
                            ],
                            icon: {class: "sphere3"}
                        }) %>
                    </div>
                    <div class="col-sm-3 col-md-3" ng-show="modulo_notificacion.disparo_type==='estimado'">
                        <%- FORM.select("field_entidad", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.nombre",
                            value: "id",
                            table: "auditoria_entidad_flujo",
                            icon: {class: "list"},
                        }) %>
                    </div>
                    <div class="col-sm-4 col-md-4" ng-show="modulo_notificacion.disparo_type==='estimado'">
                        <%- FORM.select("field_estatus", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.nombre + ' ('+ item.tiempo_estimado +')'",
                            value: "id",
                            table: "auditoria_programa_plan_estatus",
                            icon: {class: "list"},
                            condition: "item.entidad==modulo_notificacion.field_entidad && item.tiempo_estimado"
                        }) %>
                    </div>
                    <div class="col-sm-4 col-md-4" ng-show="modulo_notificacion.disparo_type==='estimado'">
                        <%- FORM.select("field_estimado", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.column_name",
                            value: "column_name",
                            table: "vw_mdnfields",
                            icon: {class: "calendar"},
                            condition: "item.table_name==modulo_notificacion.view"
                        }) %>
                    </div>
                    <div class="col-sm-4 col-md-4" ng-show="modulo_notificacion.disparo_type==='vigencia'">
                        <%- FORM.select("field_vigencia", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.column_name",
                            value: "column_name",
                            table: "vw_mdnfields",
                            icon: {class: "calendar"},
                            condition: "item.table_name==modulo_notificacion.view"
                        }) %>
                    </div>
                    <div class="col-sm-4 col-md-4" ng-show="modulo_notificacion.disparo_type==='vigencia'">
                        <%- FORM.select("field_tiempo", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.column_name",
                            value: "column_name",
                            table: "vw_mdnfields",
                            icon: {class: "calendar"},
                            condition: "item.table_name==modulo_notificacion.view"
                        }) %>
                    </div>
                    <div class='col-sm-4 col-md-4' ng-show="modulo_notificacion.disparo_type==='vigencia'">
                        <%- FORM.selectsimple("field_tiempocondition", scope, {
                            value: "code",
                            data: [
                                {"code": "igual", "name": "Cuando sea Igual"},
                                {"code": "mayor", "name": "Cuando sea Mayor"},
                                {"code": "menor", "name": "Cuando sea Menor"},
                                {"code": "mayorigual", "name": "Cuando sea Mayor o Igual"},
                                {"code": "menorigual", "name": "Cuando sea Menor o Igual"}
                            ],
                            icon: {class: "time"}
                        }) %>
                    </div>
                    <div class="col-sm-4 col-md-4" ng-show="modulo_notificacion.disparo_type==='fecha'">
                        <%- FORM.select("field_date", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.column_name",
                            value: "column_name",
                            table: "vw_mdnfields",
                            icon: {class: "calendar"},
                            condition: "item.table_name==modulo_notificacion.view"
                        }) %>
                    </div>
                    <div class='col-sm-4 col-md-4' ng-show="modulo_notificacion.disparo_type==='fecha'">
                        <%- FORM.selectsimple("field_fechacondition", scope, {
                            value: "code",
                            data: [
                                {"code": "igual", "name": "Cuando sea Igual"},
                                {"code": "mayor", "name": "Cuando sea Mayor"},
                                {"code": "menor", "name": "Cuando sea Menor"},
                                {"code": "mayorigual", "name": "Cuando sea Mayor o Igual"},
                                {"code": "menorigual", "name": "Cuando sea Menor o Igual"}
                            ],
                            icon: {class: "time"}
                        }) %>
                    </div>
                    <div class='col-sm-4 col-md-4' ng-show="modulo_notificacion.disparo_type==='fecha'">
                        <%- FORM.checkbox('date_strict', scope, {
                        }) %>
                    </div>
                </div>
                <div class='row' ng-show="modulo_notificacion.view!=='[NULL]'">
                    <div class="col-sm-6 col-md-6">
                        <%- FORM.select("field_email", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.column_name",
                            value: "column_name",
                            table: "vw_mdnfields",
                            icon: {class: "mail5"},
                            condition: "item.table_name==modulo_notificacion.view"
                        }) %>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <%- FORM.select("field_email_cc", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.column_name",
                            value: "column_name",
                            table: "vw_mdnfields",
                            icon: {class: "mail5"},
                            condition: "item.table_name==modulo_notificacion.view"
                        }) %>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <%- FORM.select("field_email_cco", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.column_name",
                            value: "column_name",
                            table: "vw_mdnfields",
                            icon: {class: "mail5"},
                            condition: "item.table_name==modulo_notificacion.view"
                        }) %>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <%- FORM.select("field_email_exc", scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: false,
                            text: "item.column_name",
                            value: "column_name",
                            table: "vw_mdnfields",
                            icon: {class: "list"},
                            condition: "item.table_name==modulo_notificacion.view"
                        }) %>
                    </div>
                    <div class='col-sm-4 col-md-4' ng-show="modulo_notificacion.disparo_type!=='code'">
                        <%- FORM.checkbox('send_one', scope, {
                        }) %>
                    </div>
                </div>
                <div class="row" ng-show="modulo_notificacion.view==='[NULL]'">
                    <div class="col-sm-12 col-md-12">
                        <div class="alert bg-warning border-warning alert-styled-left mt-10">
                            <b>Debe elegir la entidad con la cual trabajará esta notificación para poder configurar las
                                claves</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="advance">
                <div class="row" ng-show="modulo_notificacion.view!=='[NULL]'">
                    <div class="col-sm-12 col-md-12">
                        <div class="panel-heading text-left"
                             style="font-weight: bold;padding: 2px 0 0 8px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                            <h3>Condiciones necesarias para ejecutar envío aparte de la fecha</h3>
                        </div>
                        <table class="table-responsive table table-striped  table-togglable table-framed sindu-table dragon-table mt-10">
                            <thead>
                            <tr class="bg-<%= COLOR.secundary %>">
                                <th style="width: 20%">Variable</th>
                                <th style="width: 20%">Tipo</th>
                                <th style="width: 20%">Operador</th>
                                <th style="width: 20%">Valor</th>
                                <th style="width: 15%">Conjunción</th>
                                <th style="width: 5%">.</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(ix,item) in modulo_notificacion.code.conditions track by item.id">
                                <td style="padding: 2px;">
                                    <select class="form-control" ng-model="item.variable"
                                            ng-options="opt.column_name as opt.column_name for opt in modulo_notificacion.FieldsByTablePure()">
                                    </select>
                                </td>
                                <td style="padding: 2px;">
                                    <select class="form-control" ng-model="item.tipo"
                                            ng-options="opt as opt for opt in modulo_notificacion.types">
                                    </select>
                                </td>
                                <td style="padding: 2px;">
                                    <select class="form-control" ng-model="item.operador"
                                            ng-options="opt as opt for opt in modulo_notificacion.operators[item.tipo]">
                                    </select>
                                </td>
                                <td style="padding: 2px;">
                                    <div ng-show="item.operador.indexOf('-')===-1">
                                        <input type="text" class="form-control"
                                               ng-if="['Cadena'].indexOf(item.tipo)!==-1"
                                               ng-model="item.valor">

                                        <input type="text" class="form-control"
                                               ng-if="['Numero'].indexOf(item.tipo)!==-1"
                                               ng-model="item.valor">

                                        <input type="date" class="form-control"
                                               ng-if="['Fecha'].indexOf(item.tipo)!==-1"
                                               ng-model="item.valor">

                                        <select class="form-control" ng-if="['Booleano'].indexOf(item.tipo)!==-1"
                                                ng-model="item.valor"
                                                ng-options="opt as opt for opt in ['Si','No']">
                                        </select>
                                        <select class="form-control" ng-model="item.valor"
                                                ng-if="['Campo'].indexOf(item.tipo)!==-1"
                                                ng-options="opt.column_name as opt.column_name for opt in modulo_notificacion.FieldsByTablePure()">
                                        </select>
                                    </div>
                                </td>
                                <td style="padding: 2px;">
                                    <div ng-show="ix<(modulo_notificacion.code.conditions.length-1)">
                                        <select class="form-control" ng-model="item.conjucion"
                                                ng-options="opt as opt for opt in ['Y','O']">
                                        </select>
                                    </div>

                                </td>
                                <td style="width: 3%">
                                    <button title="Eliminar condición"
                                            ng-click="modulo_notificacion.deleteField(ix)"
                                            type="button"
                                            class="btn bg-danger btn-xs">
                                        <i class="icon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="100%" class="text-right">
                                    <button ng-click="modulo_notificacion.addField()"
                                            type="button"
                                            class="btn bg-success btn-xs">
                                        Agregar nueva condición
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" ng-show="modulo_notificacion.view==='[NULL]'">
                    <div class="col-sm-12 col-md-12">
                        <div class="alert bg-warning border-warning alert-styled-left mt-10">
                            <b>Debe elegir la entidad con la cual trabajará esta notificación para poder utilizar el
                                modo
                                avanzado</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





