<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {}) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-6 col-md-6'>
                <%- FORM.input('descripcion_before', scope, {trueplaceholder: "Descripci贸n Anterior"}) %>
            </div>
            <div class='col-sm-6 col-md-6'>
                <%- FORM.input('descripcion', scope, { trueplaceholder: "Descripci贸n Siguiente" }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-6 col-md-6'>
                <%- FORM.textarea('descripcion_larga_before', scope, {
                    placeholder: "Descripci贸n Larga Anterior"
                            //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-6 col-md-6'>
                <%- FORM.textarea('descripcion_larga', scope, {
                    placeholder: "Descripci贸n Larga Siguiente"
                //maxlength: 200,
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <%- FORM.select("status_before", scope, {
                    allowedit:false,
                    allownew: false,
                    allowview:false,
                    allowlist: false,
                    refresh: false,
                    multiple: true,
                    column: "pacc_departamento_status",
                    text:"item.nombre + '(' + item.descripcion_before + ')'",
                    value: "id",
                    table: "pacc_departamento_status",
                    icon: {class: "archive"},
                    truelabel: "Estatus anteriores",
                    miplaceholder: "Seleccione los objetivos que desea alinear",
                    condition:"((item.active == 1 && item.id != pacc_departamento_status.id) && (pacc_departamento_status.status_next.indexOf(item.id + '') === -1))",
                    get: {table: 'pacc_departamento_status_before', fieldFrom: 'id', fieldTo: 'pacc_departamento_status', field: 'pacc_departamento_status_before'},
                    // parent: {
                        //     model: 'eje_estrategico',
                        //     myfield: 'id',
                        //     sufield: 'id'
                    // },
                })%>
            </div>
            <div class="col-sm-3 col-md-3">
                <%- FORM.select("status_next", scope, {
                            allowedit:false,
                            allownew: false,
                            allowview:false,
                            allowlist: false,
                            refresh: false,
                            multiple: true,
                            column: "pacc_departamento_status",
                            text:"item.nombre + '(' + item.descripcion + ')'",
                            value: "id",
                            table: "pacc_departamento_status",
                            icon: {class: "archive"},
                            truelabel: "Estatus siguientes",
                            miplaceholder: "Seleccione los objetivos que desea alinear",
                            condition:"((item.active == 1 && item.id != pacc_departamento_status.id) && (pacc_departamento_status.status_before.indexOf(item.id + '') === -1))",
                            get: {table: 'pacc_departamento_status_next', fieldFrom: 'id', fieldTo: 'pacc_departamento_status', field: 'pacc_departamento_status_next'},
                        // parent: {
                //     model: 'eje_estrategico',
                //     myfield: 'id',
                //     sufield: 'id'
                // },
                })%>
            </div>
            <div class='col-sm-3 col-md-3'>
                <%- FORM.color('color', scope, {
                    trueplaceholder: "Color Anterior"
                }) %>
            </div>
            <div class='col-sm-3 col-md-3'>
                <%- FORM.color('color_next', scope, {
                    placeholder: "Color Siguiente"
                }) %>
            </div>
        </div>
    </div>
</div>
<br>
<%- FORM.footer(scope) %>

<script>
    pacc_departamento_status.refreshAngular();
</script>



