<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-2 col-md-2'>
                <%- FORM.integer('orden', scope, {
                    length:15
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-3 col-md-3'>
                <div>
                    <%- FORM.select("tipo_meta", scope, {
                        allowedit: false,
                        allownew: false,
                        allowview: false,
                        allowlist: false,
                        refresh: false,
                        column: "tipo_meta",
                        text: "item.nombre",
                        table: "tipoMeta",
                        icon: {class: "archive"},
                        label: "Tipo de meta",
                        condition: "item.ocultar!=='1'"
                    }) %>
                </div>
            </div>
            <div class='col-sm-3 col-md-3'>
                <%- FORM.color('color', scope, {}) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-4 col-md-2'>
                <%- FORM.integer('from', scope, {
                    maxlength:3
                }) %>
            </div>
            <div class='col-sm-4 col-md-2'>
                <%- FORM.integer('to', scope, {
                    maxlength:3
                }) %>
            </div>
            <div class='col-sm-4 col-md-8'>
                <%- FORM.input('titulo', scope, {
                    maxlength: 255,
                    placeholder: "Título",
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





