<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('plan', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('precio', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('cantidad', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('descuento_porcentaje', scope, {
                        //length:15
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('descuento_upgrade', scope, {
                        //length:15
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





