<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4' ng-if="proyecto_item_actividad.paso">
                <%- FORM.select('proyecto_item', scope, {
                    column: 'name',
                    table: 'vw_proyecto_item',
                    truelabel: "Proyecto",
                    condition: "item.pei== vw_dashboard_proyecto.session.pei_id",
                    text: 'item.nombre',
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "departamento_linked", fieldFrom: "id", fieldTo: "myid(departamento)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                    //limit: 0,
                    //page: 1,
                    //where: [],
                    //orderby: 'id',
                    //order: 'asc',
                    //distinct: false
                    // join: [
                    //     {
                    //         table: 'ms_category',
                    //         base: 'category',
                    //         field: 'id',
                    //         columns: ['id', 'name']
                    //     },
                    //     {
                    //         table: 'otratable',
                    //         base: 'ms_category_id',
                    //         field: 'id',
                    //         columns: ['id', 'name']
                    //     }
                    // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4' ng-if="proyecto_item_actividad.paso">
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4' ng-if="proyecto_item_actividad.paso">
                <%- FORM.select('estatus', scope, {
                    column: 'name',
                    text: "item.nombre",
                    table: 'proyecto_actividad_estatus'
                            //self: true,
                //allownull: true,
                //allownew: true,
                //allowedit: true,
                //allowview: true,
                //allowlist: true,
                //refresh: true,
                //condition: 'true',
                //multiple: false,get: {table: "responsable_linked", fieldFrom: "id", fieldTo: "myid(responsable)", field: "theirid"},
                //disabled: false,
                //helptext: "",
                //value: 'id',
                //text: 'item.name',
                //query: {
                //limit: 0,
                //page: 1,
                //where: [],
                //orderby: 'id',
                //order: 'asc',
                //distinct: false
                // join: [
                //     {
                //         table: 'ms_category',
                //         base: 'category',
                //         field: 'id',
                //         columns: ['id', 'name']
                //     },
                //     {
                //         table: 'otratable',
                //         base: 'ms_category_id',
                //         field: 'id',
                //         columns: ['id', 'name']
                //     }
                // ]
                //},
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-9 col-md-9' ng-if="!proyecto_item_actividad.paso">
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class='col-sm-3 col-md-3' ng-if="!proyecto_item_actividad.paso">
                <%- FORM.select('estatus', scope, {
                    column: 'name',
                    text: "item.nombre",
                    table: 'vw_auditoria_programa_plan_estatus',
                    disabled: true,
                    condition: "item.entidad == 'proyecto_item_actividad'"
                            //self: true,
                //allownull: true,
                //allownew: true,
                //allowedit: true,
                //allowview: true,
                //allowlist: true,
                //refresh: true,
                //condition: 'true',
                //multiple: false,get: {table: "responsable_linked", fieldFrom: "id", fieldTo: "myid(responsable)", field: "theirid"},
                //disabled: false,
                //helptext: "",
                //value: 'id',
                //text: 'item.name',
                //query: {
                //limit: 0,
                //page: 1,
                //where: [],
                //orderby: 'id',
                //order: 'asc',
                //distinct: false
                // join: [
                //     {
                //         table: 'ms_category',
                //         base: 'category',
                //         field: 'id',
                //         columns: ['id', 'name']
                //     },
                //     {
                //         table: 'otratable',
                //         base: 'ms_category_id',
                //         field: 'id',
                //         columns: ['id', 'name']
                //     }
                // ]
                //},
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('departamento', scope, {
                    column: 'name',
                    table: 'departamento',
                    truelabel: "Departamento",
                    condition: "item.compania==" + scope + ".session.compania_id && (" + scope + ".session.institucion_id?(" + scope + ".session.institucion_id==item.institucion):(item.institucion==$null))",
                    text: 'item.nombre',
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false
                    //self: true,
                    //allownull: true,
                    //allownew: true,
                    //allowedit: true,
                    //allowview: true,
                    //allowlist: true,
                    //refresh: true,
                    //condition: 'true',
                    //multiple: false,get: {table: "departamento_linked", fieldFrom: "id", fieldTo: "myid(departamento)", field: "theirid"},
                    //disabled: false,
                    //helptext: "",
                    //value: 'id',
                    //text: 'item.name',
                    //query: {
                    //limit: 0,
                    //page: 1,
                    //where: [],
                    //orderby: 'id',
                    //order: 'asc',
                    //distinct: false
                    // join: [
                    //     {
                    //         table: 'ms_category',
                    //         base: 'category',
                    //         field: 'id',
                    //         columns: ['id', 'name']
                    //     },
                    //     {
                    //         table: 'otratable',
                    //         base: 'ms_category_id',
                    //         field: 'id',
                    //         columns: ['id', 'name']
                    //     }
                    // ]
                    //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('responsable', scope, {
                    column: 'name',
                    text: "item.completo",
                    table: 'vw_usuario',
                    condition: "item.departamento==proyecto_item_actividad.departamento",
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false
                            //self: true,
                //allownull: true,
                //allownew: true,
                //allowedit: true,
                //allowview: true,
                //allowlist: true,
                //refresh: true,
                //condition: 'true',
                //multiple: false,get: {table: "responsable_linked", fieldFrom: "id", fieldTo: "myid(responsable)", field: "theirid"},
                //disabled: false,
                //helptext: "",
                //value: 'id',
                //text: 'item.name',
                //query: {
                //limit: 0,
                //page: 1,
                //where: [],
                //orderby: 'id',
                //order: 'asc',
                //distinct: false
                // join: [
                //     {
                //         table: 'ms_category',
                //         base: 'category',
                //         field: 'id',
                //         columns: ['id', 'name']
                //     },
                //     {
                //         table: 'otratable',
                //         base: 'ms_category_id',
                //         field: 'id',
                //         columns: ['id', 'name']
                //     }
                // ]
                //},
                }) %>
            </div>
            <div class='col-sm-4 col-md-4' >
                <%- FORM.daterange('range_date', scope, {
                    from: "from",
                    to: "to"
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-{{(proyecto_item.session.tipo_institucion == 1 || proyecto_item_actividad.session.maneja_ods) ? "12" : "9"}}'>
                <%- FORM.textarea('descripcion', scope, {
                    //maxlength: 200,
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <%- FORM.money("presupuesto", scope, {trueplaceholder: "Presupuesto asignado a la Actividad", maxlength: 15}) %>
            </div>
            <div class="col-sm-3 col-md-3">
                <%- FORM.inputview("presupuesto_disponible", scope, {trueplaceholder: "Presupuesto restante del Proyecto", maxlength: 15, disabled: true, icon: { class: "cash", style: "margin-top: -3px" } }) %>
            </div>
            <div class="col-sm-4 col-md-6" ng-if="(proyecto_item.session.tipo_institucion == 1 || proyecto_item_actividad.session.maneja_ods)">
                <%- FORM.select("mods", scope, {
                    allownew: false,
                    allowedit: false,
                    allowlist: false,
                    allowview: false,
                    multiple: true,
                    text: "item.nombre",
                    table: "vw_mods",
                    icon: {class: "archive"},
                    truelabel: "Metas de Objetivos de Desarrollo Sostenibles",
                    get: {
                        table: 'proyecto_actividad_mods',
                        tableDelete: 'proyecto_actividad_mods',
                        fieldFrom: 'id',
                        fieldTo: 'proyecto_actividad',
                        field: 'mods'
                    }
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.relation("actividades_apoyo", scope, {
                    text: "item.nombre",
                    table: "proyecto_actividad_apoyo",
                    field: "proyecto_actividad",
                    master: null,
                    icon: {class: "archive"},
                    custombase: "proyecto_actividad_apoyo"
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>




