<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.integer('no_secuencia', scope, {
                    maxlength: 5,
                    placeholder: "No. Secuencia",
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%-FORM.select("impacto_denominacion", scope, {
                    allowedit: false,
                    allownew: false,
                    allowlist: false,
                    allowview: false,
                    refresh: false,
                    multiple: true,
                    column: "impacto_politica",
                    text: "item.nombre_sec",
                    value: "id",
                    table: "vw_impacto_politica",
                    icon: {class: "archive"},
                    truelabel: "Impactos de la política",
                    condition: "item.compania == denominacion_pnpsp.session.compania_id",
                    get: {
                        table: 'politica_denominacion_pnpsp',
                        fieldFrom: 'id',
                        fieldTo: 'denominacion_pnpsp',
                        field: 'impacto_politica'
                    },
                // parent: {
                //     model: 'eje_estrategico',
                //     myfield: 'id',
                //     sufield: 'id'
                // },
                })
                %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('descripcion', scope, {
                //maxlength: 200,
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





