<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <%- include('../inter_form_c',{scope:scope}); %>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <%- FORM.integer("edt", scope, {maxlength: 5}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 remove-input-space">
                <%- FORM.textarea("nombre", scope, {maxlength: 1000}) %>
            </div>
            <div class="col-sm-6 col-md-6 remove-input-space">
                <%- FORM.textarea('descripcion',scope,{label:"Descripción", maxlength: 4000}) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.relation('denominacion_pnpsp', scope, {
                    text: "item.nombre",
                    table: "denominacion_pnpsp",
                    field: "pnpsp",
                    master: null,
                    icon: {class: "archive"}
                }) %>
            </div>
        </div>
    </div>
</div>
<%- FORM.footer(scope) %>
