<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <div class="page-header-lg page-header-sm page-header">
            <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
            <ul class="breadcrumb-elements visible-elements" style="margin-top: 5px;">
                <!--                <li dragonlanguage="" style="margin-right: -10px;">-->
                <!--                    <a ng-click="vw_eje_estrategico_ods3.exportXLS();"><i class="icon-file-excel"></i></a>-->
                <!--                </li>-->
                <!--                <li dragonlanguage="" style="margin-right: -10px;">-->
                <!--                    <a ng-click="vw_eje_estrategico_ods3.openmodalField('pdf');"><i class="icon-printer2"></i></a>-->
                <!--                </li>-->
                <li dragonlanguage="" style="margin-right: -10px;" title="Modo Barra">
                    <a ng-click="vw_eje_estrategico_ods3.modoBarra()"><i class=" icon-stats-bars3"></i></a>
                </li>
                <li dragonlanguage="" style="margin-right: -10px;" title="Modo Gráfico">
                    <a ng-click="vw_eje_estrategico_ods3.modoGrafico()"><i class="icon-chart"></i></a>
                </li>
                <li dragonlanguage="" style="margin-right: -10px;" title="Refrescar">
                    <a ng-click="<%= scope %>.vw_eje_estrategico_ods3_get();"><i class="icon-rotate-cw3"></i></a>
                </li>
            </ul>
            <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        </div>
        <div class="subcontent">
            <%- include('../filter_ID',{scope:scope}); %>
            <script>
                <%= scope %>.disabledepa = true;
            </script>
            <h4 style="text-align: center">
                CUMPLIMIENTO OBJETIVOS DE DESARROLLO SOSTENIBLES
            </h4>
            <div>
                <table class="table table-bordered"
                       style="font-size: 16px"
                       ng-style="{'margin-top': parent.compania_nombre!=vw_eje_estrategico_ods3.companiaeje[kp-1].compania_nombre?'40px':'0px' }"
                       ng-repeat="(kp,parent) in vw_eje_estrategico_ods3.companiaeje">

                    <tbody>

                    <tr ng-if=" parent.compania_nombre!=vw_eje_estrategico_ods3.companiaeje[kp-1].compania_nombre"
                        style="background-color: {{parent.color}};color: white">

                        <th colspan="100%" style="padding: 0">
                            <div>
                                <img style="float: left"
                                     ng-src="{{vw_eje_estrategico_ods3.odsimages[parent.compania_nombre]}}">
                            </div>
                            <div>
                                <label style="font-size: 30px;margin: 36px;">{{parent.compania_nombre}}, Cumplimiento:
                                    {{parent.OP}}%</label>
                            </div>
                        </th>
                    </tr>
                    <tr height="15" class="centralizarth"
                        ng-if=" parent.compania_nombre!=vw_eje_estrategico_ods3.companiaeje[kp-1].compania_nombre"
                        style="background-color: {{parent.color}} !important; color: white !important;font-size: 22px;font-weight: bold;    filter: brightness(1.1);">
                        <th style="color: white !important">Proyectos</th>
                        <th style="color: white !important">Actividades</th>
                        <th style="color: white !important">Estatus</th>
                        <th style="color: white !important">Cumplimiento</th>
                    </tr>
                    <tr style="vertical-align: middle" class="centralizartd"
                        ng-repeat="(key,row) in parent.records">
                        <td style="width: 30%" ng-if="key===0" rowspan="{{parent.records.length}}">
                            {{parent.eje_estrategico}}
                            <a class="ng-binding" ng-click="vw_eje_estrategico_ods3.verProducto(parent.pid)"
                               title="Ver Detalle" data-action="Ver" style="    float: right;">
                                <i class="icon-eye "></i>
                            </a> ({{parent.pnombre}})
                        </td>
                        <td style="width: 50%">
                            {{row.odsdif}}
                            <a class="ng-binding" ng-click="vw_eje_estrategico_ods3.verActividad(row.actividad_id)"
                               title="Ver Detalle" data-action="Ver" style="    float: right;">
                                <i class="icon-eye "></i>
                            </a>
                        </td>
                        <td style="width: 10%">
                            {{row.anombre}}
                        </td>
                        <td style="text-align: right;vertical-align: middle;width: 10%">
                            {{row.FA}}%
                        </td>
                    </tr>
                    <tr style="background-color: {{parent.color}} !important; color: white !important;font-size: 22px;font-weight: bold;    filter: brightness(1.1);"
                        ng-if="parent.index>0||parent.proyectos===1">
                        <td colspan="3" style="text-align: right;vertical-align: middle;">Total
                            Cumplimiento:
                        </td>
                        <td style="text-align: right;vertical-align: middle;">{{parent.OP}}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <table id="vw_eje_estrategico_ods3Table" class="table table-bordered" style="visibility: hidden">
                <thead class="">
                <tr class="centralizarth">
                    <th>Objetivos de Desarrollo Sostenible:</th>
                    <th>Resultado Esperado</th>
                    <th>Productos</th>
                    <th>Actividades</th>
                </tr>
                </thead>
                <tbody>
                <tr style="vertical-align: middle" class="centralizartd"
                    ng-repeat="(key,row) in vw_eje_estrategico_ods3.vw_eje_estrategico_ods3_list">
                    <td rowspan="">
                        {{row.compania_nombre}}
                    </td>
                    <td rowspan="">
                        {{row.eje_estrategico}}
                    </td>
                    <td rowspan="">
                        {{row.resultado}}
                    </td>
                    <td rowspan="">
                        {{row.odsdif}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--end-->
