<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-9 col-md-9'>
                <%- FORM.input('nombre', scope, {trueplaceholder: "Modo de fallo"}) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('mamfe_efecto', scope, {
                    trueplaceholder: "Efecto"
                }) %>
            </div>

            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('mamfe_causa', scope, {
                    trueplaceholder: "Causa"
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-3 col-md-3' ng-if="!riesgo_a.session.institucion">
                <%- FORM.select("mamfe_gravedad", scope, {
                    allownew: false,
                    allowview: false,
                    allowedit: false,
                    allowlist: false,
                    text: "item.valor",
                    value: "valor",
                    table: "vw_riesgo_impacto_mamfe",
                    icon: {class: "archive"},
                    label: "Gravedad (G)",
                    condition: "(item.compania == riesgo_a.session.compania_id && item.institucion == null) && (item.entidad == 'proceso' && item.mamfe == 1)"
                }) %>
            </div>
            <div class='col-sm-3 col-md-3' ng-if="riesgo_a.session.institucion">
                <%- FORM.select("mamfe_gravedad", scope, {
                    allownew: false,
                    allowview: false,
                    allowedit: false,
                    allowlist: false,
                    text: "item.valor",
                    value: "valor",
                    table: "vw_riesgo_impacto_mamfe",
                    icon: {class: "archive"},
                    label: "Gravedad (G)",
                    condition: "(item.institucion  == riesgo_a.session.institucion_id) && (item.entidad == 'proceso' && item.mamfe == 1)"
                }) %>
            </div>
            <div class='col-sm-3 col-md-3' ng-if="!riesgo_a.session.institucion">
                <%- FORM.select("mamfe_ocurrencia", scope, {
                    allownew: false,
                    allowview: false,
                    allowedit: false,
                    allowlist: false,
                    text: "item.valor",
                    value: "valor",
                    table: "vw_riesgo_probabilidad_mamfe",
                    icon: {class: "archive"},
                    label: "Ocurrencia (O)",
                    condition: "(item.compania == riesgo_a.session.compania_id && item.institucion == null) && (item.entidad == 'proceso' && item.mamfe == 1)"
                }) %>
            </div>
            <div class='col-sm-3 col-md-3' ng-if="riesgo_a.session.institucion">
                <%- FORM.select("mamfe_ocurrencia", scope, {
                    allownew: false,
                    allowview: false,
                    allowedit: false,
                    allowlist: false,
                    text: "item.valor",
                    value: "valor",
                    table: "vw_riesgo_probabilidad_mamfe",
                    icon: {class: "archive"},
                    label: "Ocurrencia (O)",
                    condition: "(item.institucion  == riesgo_a.session.institucion_id) && (item.entidad == 'proceso' && item.mamfe == 1)"
                }) %>
            </div>
            <div class='col-sm-3 col-md-3' ng-if="!riesgo_a.session.institucion">
                <%- FORM.select("mamfe_deteccion", scope, {
                    allownew: false,
                    allowview: false,
                    allowedit: false,
                    allowlist: false,
                    text: "item.valor",
                    value: "valor",
                    table: "riesgo_resultado",
                    icon: {class: "archive"},
                    label: "Detección (D)",
                    condition: "(item.compania == riesgo_a.session.compania_id && item.institucion == null) && (item.entidad == 'proceso' && item.mamfe == 1)"
                }) %>
            </div>
            <div class='col-sm-3 col-md-3' ng-if="riesgo_a.session.institucion">
                <%- FORM.select("mamfe_deteccion", scope, {
                    allownew: false,
                    allowview: false,
                    allowedit: false,
                    allowlist: false,
                    text: "item.valor",
                    value: "valor",
                    table: "riesgo_resultado",
                    icon: {class: "archive"},
                    label: "Detección (D)",
                    condition: "(item.institucion  == riesgo_a.session.institucion_id) && (item.entidad == 'proceso' && item.mamfe == 1)"
                }) %>
            </div>
            <div class='col-sm-3 col-md-3'>
                <div class="form-group-material form-group has-feedback has-secundary-600  has-feedback-left">
                    <label class="control-label is-visible animate ng-binding" style="color:#000000 !important;">
                        Índice de Prioridad de Riesgos (IPR=GxOxD)
                    </label>

                    <input readonly
                           value="{{<%= scope %>.currentNivel().nombre}} ({{(riesgo_a.mamfe_gravedad||0)*(riesgo_a.mamfe_ocurrencia||0)*(riesgo_a.mamfe_deteccion||0) || 0}})"
                           type="text"
                           class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                           style="padding-left: 31px !important;" placeholder="" disabled="disabled">


                    <div class="form-control-feedback ng-scope" style="top: 32px;width: 25px;">
                        <label ng-if="<%= scope %>.currentNivel()" title="Alerta: Porcentaje menor a 75%"
                               class="ponerRedondo"
                               style="background-color: {{<%= scope %>.currentNivel().color}};margin: -6px 0px 0px 0px;width: 100px;">
                        </label>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('descripcion', scope, {
                    //maxlength: 200,
                    trueplaceholder: "Descripción del modo de fallo",
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <%- FORM.relation("riesgo_control", scope, {
                    text: "item.nombre",
                    table: "riesgo_control",
                    field: "riesgo",
                    master: null,
                    icon: {class: "archive"}
                }) %>
            </div>
        </div>
    </div>
</div>
<script>
    riesgo_control.setPermission("actions", true);
    riesgo_control.setPermission("add", true);
    riesgo_control.setPermission("edit", true);
    riesgo_control.setPermission("remove", true);
    // riesgo_control.setPermission("active", true);
    riesgo_control.setPermission("view", true);
    // riesgo_control.setPermission("copy", true);
    riesgo_control.setPermission("audit", true);
    $('#riesgo_controlTable').css('display', 'inline-table')
</script>
<%- FORM.footer(scope) %>





