<div class="row"></div>
<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="tab-content">
        <div class="tab-pane active" id="basic">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 0px;padding-top: 5px; background-color: #f4f4f4;">
                    <h3 style="margin-top: 15px;">Información del Riesgo</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 " ng-show="false">
                            <%- FORM.inputview("id", scope, {
                                placeholder: "id"
                            }) %>
                        </div>
                        <div class="col-sm-3 col-md-3 ">
                            <%- FORM.inputview("view_entidad", scope, {
                                placeholder: "Entidad"
                            }) %>
                        </div>
                        <div class="col-sm-3 col-md-3 " id="registrodiv">
                            <%- FORM.inputview("view_registro", scope, {
                                placeholder: "Nombre"
                            }) %>
                        </div>
                        <div class="col-sm-3 col-md-3 ">
                            <%- FORM.inputview("view_riesgo_a", scope, {
                                placeholder: "Riesgo"
                            }) %>
                        </div>
                        <div class="row" ng-show="false">
                            <div class='col-sm-3 col-md-3'>
                                <%- FORM.checkbox('fin_plan_accion', scope, {
                                    truetext: "¿Fin del plan de acción?"
                                }) %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-4 col-md-4' ng-show="false">
                            <%- FORM.inputview('view_nombre', scope, {trueplaceholder: "Nombre"}) %>
                        </div>
                        <div class='col-sm-4 col-md-4'>
                            <%- FORM.inputview('view_causa_debilidad', scope, {
                                placeholder: "Causa o Debilidad"
                            }) %>
                        </div>
                        <div class='col-sm-4 col-md-4'>
                            <%- FORM.inputview('view_consecuencia', scope, {placeholder: "Efecto"}) %>
                        </div>
                        <div class='col-sm-4 col-md-4'>
                            <%- FORM.inputview('view_factor_riesgo', scope, {placeholder: "Factor de Riesgo"}) %>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-6 col-md-6'>
                            <%- FORM.inputview('view_probabilidad', scope, {
                                placeholder: "Probabilidad Ponderada",
                            }) %>
                        </div>
                        <div class='col-sm-6 col-md-6'>
                            <%- FORM.inputview('view_impacto', scope, {
                                placeholder: "Impacto Ponderado"
                            }) %>
                        </div>

                    </div>
                    <div class="row">
                        <div class='col-sm-6 col-md-6'>
                            <%- FORM.textarea('view_supuestos', scope, {
                                trueplaceholder: "Supuestos",
                                disabled: true,
                            }) %>
                        </div>
                        <div class='col-sm-6 col-md-6'>
                            <%- FORM.textarea('view_descripcion', scope, {
                                trueplaceholder: "Descripción",
                                disabled: true,
                            }) %>
                        </div>
                    </div>
                    <div class="row" ng-show="riesgo_a.todasaccionescorrectivas()">
                        <div class="panel panel-default">
                            <div class="panel-heading"
                                 style="padding-bottom: 0px;padding-top: 5px; background-color: #f4f4f4;">
                                <h3 style="margin-top: 15px;">Actualizar Valores</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">

                                    <div class='col-sm-6 col-md-6' ng-if="!riesgo_a.session.institucion_id">
                                        <%- FORM.select('probabilidad_current', scope, {
                                            label:"Probabilidad",
                                            label_custom:true,
                                            table: 'riesgo_probabilidad',
                                            value: 'id',
                                            text: "item.nombre+' - '+item.valor+'%'",
                                            condition: '(item.compania == riesgo_a.session.compania_id && item.institucion == null) && (!item.mamfe)',
                                            query: {
                                                limit: 0,
                                                page: 1,
                                                where: [],
                                                orderby: "valor",
                                                order: "asc",
                                                distinct: false

                                            }
                                        }) %>
                                    </div>
                                    <div class='col-sm-6 col-md-6' ng-if="riesgo_a.session.institucion_id">
                                        <%- FORM.select('probabilidad_current', scope, {
                                            label:"Probabilidad",
                                            label_custom:true,
                                            column: 'name',
                                            table: 'riesgo_probabilidad',
                                            value: 'id',
                                            text: "item.nombre+' - '+item.valor+'%'",
                                            condition: '(item.institucion == riesgo_a.session.institucion_id) && (!item.mamfe)',
                                            query: {
                                                limit: 0,
                                                page: 1,
                                                where: [],
                                                orderby: "valor",
                                                order: "asc",
                                                distinct: false

                                            }
                                        }) %>
                                    </div>
                                    <div class='col-sm-6 col-md-6' ng-if="!riesgo_a.session.institucion_id">
                                        <%- FORM.select('impacto_current', scope, {
                                            label:"Impacto",
                                            label_custom:true,
                                            table: 'riesgo_impacto',
                                            value: 'id',
                                            text: "item.nombre+' - '+item.valor+''",
                                            condition: '(item.compania == riesgo_a.session.compania_id && item.institucion == null) && (!item.mamfe)',
                                            query: {
                                                limit: 0,
                                                page: 1,
                                                where: [],
                                                orderby: "valor",
                                                order: "asc",
                                                distinct: false

                                            }
                                        }) %>
                                    </div>
                                    <div class='col-sm-6 col-md-6' ng-if="riesgo_a.session.institucion_id">
                                        <%- FORM.select('impacto_current', scope, {
                                            label:"Impacto",
                                            label_custom:true,
                                            column: 'name',
                                            table: 'riesgo_impacto',
                                            value: 'id',
                                            text: "item.nombre+' - '+item.valor+''",
                                            condition: '(item.institucion == riesgo_a.session.institucion_id) && (!item.mamfe)',
                                            query: {
                                                limit: 0,
                                                page: 1,
                                                where: [],
                                                orderby: "valor",
                                                order: "asc",
                                                distinct: false

                                            }
                                        }) %>
                                    </div>
                                    <div class='col-sm-12 col-md-12'>
                                        <%- FORM.textarea('observacion', scope, {
                                            trueplaceholder: "Observación Final"
                                        }) %>
                                    </div>
                                    <div class='col-sm-12 col-md-12' ng-show="<%= scope %>.esplan">
                                        <button
                                                title="Guardar"
                                                type="button" role="button"
                                                class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                                                ng-click="<%= scope %>.saveImprovisadoVaR()">
                                            <b><i class="icon-floppy-disk"></i></b>
                                            Guardar
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="panel panel-default" ng-show="!<%= scope %>.esplan">
                <div class="panel-heading" style="padding-bottom: 0px;padding-top: 5px; background-color: #f4f4f4;">
                    <h3 style="margin-top: 15px;">Trabajar Respuesta al Riesgo</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class='col-sm-4 col-md-4' ng-if="!riesgo_a.session.institucion_id">
                            <%- FORM.select("estrategia", scope, {
                                allownull: false,
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                label: "Estrategia",
                                table: "estrategia_tratamiento",
                                text: "item.nombre",
                                icon: {class: "archive"},
                                condition: "(item.compania == riesgo_a.session.compania_id && item.institucion == null) && (item.entidad == riesgo_a.drp_entidad)"
                            }) %>
                        </div>
                        <div class='col-sm-4 col-md-4' ng-if="riesgo_a.session.institucion_id">
                            <%- FORM.select("estrategia", scope, {
                                allownull: false,
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                refresh: false,
                                label: "Estado",
                                table: "estrategia_tratamiento",
                                text: "item.nombre",
                                icon: {class: "archive"},
                                condition: "(item.institucion == riesgo_a.session.institucion_id) && (item.entidad == riesgo_a.drp_entidad)"
                            }) %>
                        </div>
                        <div class='col-sm-4 col-md-4 add-class'>
                            <%- FORM.select("estado_plan_accion", scope, {
                                allownull: false,
                                allownew: false,
                                allowedit: false,
                                allowview: false,
                                allowlist: false,
                                text: "item.permitido",
                                value: "id",
                                table: "vw_auditoria_programa_plan_estatus",
                                icon: {class: "archive"},
                                truelabel: "Estado",
                                condition: "item.plan_status == riesgo_a.my_true_estatus && item.entidad == 'riesgo'"
                            }) %>
                        </div>
                        <div class='col-sm-4 col-md-4'
                             ng-show="riesgo_a.estado_plan_accion == 2">
                            <%- FORM.checkbox("ocurrencia", scope, {text: "Ocurrencia del Siniestro (S/N)"}) %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer dragonformfooter" dragonlanguage="" id="btnformfooter">
                             <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
                                 <i class="position-right"></i>
                             </span>

                            <button

                                    dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
                                    type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
                                    onclick="MODAL.close()">
                                <b><i class="icon-cross2"></i></b>
                                <language>MESSAGE.ic('mono.cancel')</language>
                            </button>
                            <button ng-show="<%= scope %>.form.mode!=='new'"
                                    dragonlanguage="" title="MESSAGE.ic('mono.save')"
                                    type="button" role="button"
                                    class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                                    ng-click="<%= scope %>.work_plan(riesgo_a.id_matriz)">
                                <b><i class="icon-floppy-disk"></i></b>
                                <language>MESSAGE.ic('mono.save')</language>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="" id="Formutabs" ng-show="!<%= scope %>.esplan">
                <div class="subcontent" style="padding-top: 0px;">
                    <div class="row">
                        <ul class="nav nav-<%= COLOR.primary %> nav-tabs <%= COLOR.primary %> nav-justified"
                            dragonlanguage="">
                            <li class="active" id="control_tab">
                                <a href="#control" data-toggle="tab" ng-click="actividades_poa_monitoreo.make_alert()">
                                    <i class="position-left"></i>
                                    Controles de Riesgo Reales
                                    <i class="border-white  position-right"></i>
                                </a>
                            </li>
                            <li class="" id="comment_tab">
                                <a href="#comment" data-toggle="tab">
                                    <i class="position-left"></i>
                                    Comentarios
                                    <i class="border-white  position-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="control">
                            <div class="row">
                                <div id="<%= 'riesgo_matriz_control' %>"
                                     ng-controller="<%= 'riesgo_matriz_control' %> as <%= 'riesgo_matriz_control' %>">
                                    <div class="panel panel-flat">
                                        <%- include('../../7-plugins/templates/table/header',{scope:'riesgo_matriz_control'}); %>
                                        <div class="subcontent">
                                            <%- include('../../7-plugins/templates/table/base',{scope:'riesgo_matriz_control'}); %>
                                        </div>
                                    </div>
                                    <script>
                                        if (typeof riesgo !== 'undefined') {
                                            if (typeof riesgo !== 'not defined') {
                                                if (riesgo) {
                                                    riesgo_matriz_control.fixFilters = [{
                                                        field: 'riesgo',
                                                        value: Row_id
                                                    }, {field: 'riesgo_control', value: Matriz_id}];
                                                }
                                            }
                                        }

                                        if (typeof vw_riesgo !== 'undefined') {
                                            if (typeof vw_riesgo !== 'not defined') {
                                                if (vw_riesgo) {
                                                    riesgo_a.entidad = "pei_poa";
                                                    riesgo_matriz_control.fixFilters = [{
                                                        field: 'riesgo',
                                                        value: Row_id
                                                    }, {field: 'riesgo_control', value: Matriz_id}];
                                                }
                                            }
                                        }

                                        if (typeof vw_riesgo_proceso !== 'undefined') {
                                            if (typeof vw_riesgo_proceso !== 'not defined') {
                                                if (vw_riesgo_proceso) {
                                                    riesgo_a.entidad = "proceso";
                                                    riesgo_matriz_control.fixFilters = [{
                                                        field: 'riesgo',
                                                        value: Row_id
                                                    }, {field: 'riesgo_control', value: Matriz_id}];
                                                }
                                            }
                                        }
                                        riesgo_matriz_control.setPermission("actions", true);
                                        riesgo_matriz_control.setPermission("add", true);
                                        riesgo_matriz_control.setPermission("edit", true);
                                        riesgo_matriz_control.setPermission("remove", true);
                                        // riesgo_control.setPermission("active", false);
                                        riesgo_matriz_control.setPermission("view", true);
                                        // riesgo_control.setPermission("copy", false);
                                        riesgo_matriz_control.setPermission("audit", true);
                                    </script>
                                </div><!--end-->
                            </div>
                        </div>
                        <div class="tab-pane" id="comment">
                            <br>
                            <div class="row">
                                <div class="col-sm-9 col-md-9">
                                    <%- FORM.textarea("comentario_comment", scope, {placeholder: "Comentario"}) %>
                                </div>
                                <div class="col-sm-3 col-md-3" style="margin-top: 23px;">
                                    <div class="modal-footer dragonformfooter" style="padding-right: 0px;"
                                         dragonlanguage="" id="">
                                        <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
                                            <i class="position-right"></i>
                                        </span>
                                        <button ng-show="<%= scope %>.form.mode!=='new'"
                                                dragonlanguage="" title="Guardar Comentario"
                                                type="button" role="button"
                                                class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
                                                ng-click="<%= scope %>.SaveComent(riesgo_a.id_matriz);">
                                            <b><i class="icon-floppy-disk"></i></b>
                                            <language>MESSAGE.ic('mono.saveComment')</language>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div><br/></div>
                            </div>
                            <div class="row">
                                <div id="vw_comentario_plan_accion"
                                     ng-controller="vw_comentario_plan_accion as vw_comentario_plan_accion">
                                    <script>
                                        vw_comentario_plan_accion.fixFilters = [{
                                            "field": "value",
                                            "value": Matriz_id
                                        }];
                                    </script>
                                    <div class="panel panel-flat">
                                        <%- include('../../7-plugins/templates/table/header',{scope:'vw_comentario_plan_accion'}); %>
                                        <div class="subcontent">
                                            <%- include('../../7-plugins/templates/table/base',{scope:'vw_comentario_plan_accion'}); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="<%= scope %>.esplan" class="row">
                <ul class="nav nav-primary nav-tabs primary nav-justified">
                    <li class="active">
                        <a href="#AC" data-toggle="tab" id="tabPEI1" aria-expanded="false">
                            <i class="icon-archive position-left"></i>
                            Acciones Correctivas
                            <i class="border-white  position-right"></i>
                        </a>
                    </li>
                    <li ng-if="false">
                        <a href="#AP" data-toggle="tab" id="tabPEI1" aria-expanded="false">
                            <i class="icon-archive position-left"></i>
                            Acciones Preventivas
                            <i class="border-white  position-right"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <script>
                        <%= scope %>.form.mode = 'edit';
                    </script>
                    <div class="tab-pane" id="AP" ng-if="false">
                        <%- FORM.relation("preventivas", scope, {
                            text: "item.nombre",
                            table: "auditoria_lista_preventiva",
                            field: "riesgo",
                            master: null,
                            icon: {class: "archive"}
                        }) %>
                    </div>
                    <div class="tab-pane active" id="AC">
                        <%- FORM.relation("correctivas", scope, {
                            text: "item.nombre",
                            table: "auditoria_lista_correctiva",
                            custombase: 'auditoria_lista_correctiva',
                            field: "riesgo",
                            master: null,
                            icon: {class: "archive"}
                        }) %>
                    </div>
                </div>
                <div class="modal-footer dragonformfooter" id="btnformfooter_plan" ng-show="<%= scope %>.esplan">
                    <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
                        <i class="position-right"></i>
                    </span>

                    <button title="Continuar"
                            type="button" class="btn bg-primary btn-labeled btn-xs pull-right"
                            ng-click="riesgo_a.updateAndContinue()">
                        <b><i class="icon-check"></i></b>
                        Continuar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $( function (){
        setTimeout(() => {
            $('.icon-plus-circle2 ').parent().hide();
            if ($(".dragonformfooter").length < 4) {
                let btnformfooter_plan = $('#btnformfooter_plan');
                $('.modal-body').prepend(riesgo_a.returnBuild(btnformfooter_plan.clone()));
            }
        }, 1000);
        if (riesgo_a.esplan){
            BASEAPI.list('auditoria_lista_correctiva',{
                limit: 0,
                order: "desc",
                where: [
                    {
                        field: "riesgo",
                        value: Matriz_id
                    }
                ]
            },function(result){
                riesgo_a.list_acciones_correctivas = result.data;
            });
        }
    })
</script>





