<div id="ficha_indicador" ng-controller="ficha_indicador  as ficha_indicador">
</div>
<div id="vw_comentarios_indicadores" ng-controller="vw_comentarios_indicadores  as vw_comentarios_indicadores">
</div>
<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <div class="page-header-lg page-header-sm page-header">
            <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
            <ul class="breadcrumb-elements visible-elements" style="margin-top: 5px;">
                <li dragonlanguage="" style="margin-right: -10px;">
                    <a ng-click="monitoreo_producto.monitoreo_producto_get();"><i class="icon-rotate-cw3"></i></a>
                </li>
                <li dragonlanguage="" style="margin-right: -10px;">
                    <a title="Exportar/Imprimir" ng-click="monitoreo_producto.openmodalField('pdf');"><i
                                class="icon-file-download2"></i></a>
                </li>
            </ul>
            <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
        </div>
        <div class="subcontent">
            <script>
                <%= scope %>.quieroeje = true;
                <%= scope %>.searchbutton = "<%= scope %>.monitoreo_producto_get()";
                <%= scope %>.indicadores = "poa";
                <%= scope %>.ifdepartamento = true;

            </script>
            <%- include('../filter_IDSinimportarmultiple',{scope:scope}); %>


            <div class="" style="display: flow-root; margin-top: 10px" ng-show="monitoreo_producto.show_me_btn" dragonlanguage="">
                <button class="btn btn-primary" ng-click="baseController.abrirPonderaciones()" style="float: left">
                    <language>Ver Detalles de las Ponderaciones</language>
                </button>
                <br>
            </div>

            <script>
                <%= scope %>.disabledins = true;

            </script>
            <div style="overflow: scroll visible; position: static; zoom: 1;min-height: 400px" id="minusubcontent">
                <tr>
                    <td style="text-align: left"
                        colspan="{{<%= scope %>.colspaninit}}">
                        <h5 ng-show="<%= scope %>.anos.length===0" dragonlanguage=""><language>No se han encontrado datos en este reporte o no a solicitado ninguna búsqueda.</language></h5>
                    </td>
                </tr>
                <table class="table table-bordered" id="monitoreo_productoTable" style="margin-top: 15px;" dragonlanguage="">
                    <tbody ng-repeat="(key,item) in monitoreo_producto.anos"
                           ng-show="monitoreo_producto.cumplen(item.records)">

                    <tr>
                        <td colspan="{{monitoreo_producto.colspaninit}}"
                            style="text-align: center;border-bottom-color: white;padding: 0">
                            <b ng-if="<%= scope %>.session.tipo_institucion == 1"><language>MONITOREO Y SEGUIMIENTO DE
                                PROYECTO/PRODUCTO</language></b>
                            <b ng-if="<%= scope %>.session.tipo_institucion == 2"><language>MONITOREO Y SEGUIMIENTO DE
                                PROYECTO/PLAN DE ACCIÓN</language></b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_producto.colspaninit}}"
                            style="text-align: center;border-bottom-color: white;padding: 0">
                            <b><language>PLAN OPERATIVO ANUAL</language> {{item.periodo_poa}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_producto.colspaninit}}" style="text-align: center;padding: 0">
                            <b>{{item.compania_nombre}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_producto.colspaninit}}" style="text-align: left">
                            <b>{{item.entidad}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_producto.colspaninit}}" style="text-align: left"><b><language>Eje Estratégico:</language>
                                {{item.eje_estrategico}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_producto.colspaninit}}" style="text-align: left"><b><language>Objetivo
                                Estratégico:</language> {{item.objetivo_estrategico}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_producto.colspaninit}}" style="text-align: left">
                            <b><language>Estrategia:</language> {{item.estrategia}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{{monitoreo_producto.colspaninit}}" style="text-align: left">
                            <b><language>Resultado Esperado:</language> {{item.resultado}}</b>
                        </td>
                    </tr>
                    <tr height="20" class="centralizarth"
                        style="background-color: <%= CONFIG.ui.theme.primary.indexOf("rgb") > -1 ? CONFIG.ui.theme.primary : '#' + CONFIG.ui.theme.primary %> !important; color: white; ">
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Departamento</language></td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Proyecto/Producto</language></td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Estatus de Proyecto/Producto</language>
                        </td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Indicador</language></td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Fórmula Indicador</language></td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Unidad de Medida</language></td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Medio Verificación</language></td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Dirección Meta</language></td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Año Línea Base</language></td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Valor Línea Base</language></td>
                        <td style="text-align: center;vertical-align: middle" rowspan="2"><language>Cumplimiento</language></td>
                        <td style="text-align: center" colspan="{{monitoreo_producto.capi}}"
                            ng-repeat="(ka,ra ) in monitoreo_producto.poa_anos">
                            {{item.records[0].indicador_data.monitoreo_nombre}} {{ra}}<br>
                            <language>(P-Proyectado | A-Alcanzado)</language>
                        </td>
                    </tr>
                    <tr height="20" class="centralizarth"
                        style="background-color: <%= CONFIG.ui.theme.primary.indexOf("rgb") > -1 ? CONFIG.ui.theme.primary : '#' + CONFIG.ui.theme.primary %> !important; color: white; ">
                        <td style="text-align: center" ng-if="ra.value!=='D' && ra.value!=='%'" colspan="{{ra.value==='Alerta'?3:1}}" ng-repeat="(ka,ra ) in monitoreo_producto.poa_valor">
                            {{ra.value}}
                        </td>
                    </tr>
                    <tr style="vertical-align: middle" class="centralizartd filas"

                        ng-if="
                            (monitoreo_producto.institucion!='[NULL]'? monitoreo_producto.institucion==(row.institucion||row.compania):true)
                            "


                        ng-repeat="(i,row) in item.records">
                        <td rowspan="{{<%= scope %>.rowspanme('departamento',row.departamento,item.records)}}"
                            ng-if="<%= scope %>.seeme('departamento',row.departamento,i,item.records)">
                            {{row.departamento}}
                        </td>
                        <td rowspan="{{monitoreo_producto.rowspanme('producto',row.producto,item.records)}}"
                            ng-if="monitoreo_producto.seeme('producto',row.producto,i,item.records)">


                            <table style="width: 100%">
                                <tr>
                                    <td>



                                        <a style="float: left;margin-bottom: 20px; font-size: 11px"
                                           ng-click="monitoreo_producto.openProductoComment('productos poa',row.producto_id,row.cond,row.estatus)"
                                           title="Ver o hacer comentarios">Comentarios</a>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        {{row.producto}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td rowspan="{{monitoreo_producto.rowspanme('producto',row.producto,item.records)}}"
                            style="background-color: {{monitoreo_producto.statusColor(row.cond,row.estatus)}};color: {{monitoreo_producto.statusColorFont(row.cond,row.estatus)}}"
                            ng-if="monitoreo_producto.seeme('producto',row.producto,i,item.records)">
                            {{monitoreo_producto.statusText(row.cond,row.estatus)}}
                        </td>
                        <td class="{{(row.indicador||'').trim()?'':'noindicador'}}"
                            style="padding: 7px !important;vertical-align: top !important;">
                            <table style="width: 100%">
                                <tr>
                                    <td>

                                        <a style="float: left;margin-bottom: 20px; font-size: 11px"
                                           dragonlanguage=""
                                           ng-click="monitoreo_producto.openIndicadorComment('indicador poa',row.indicador_id,true)"
                                           title="Ver o hacer oservaciones"><language>Observaciones</language></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {{row.indicador}}
                                        <div sy title="En Revisión" class="shape_element"
                                             style="border-radius: 0;margin-top: 10px;background: {{monitoreo_producto.indicadorColor(row)}}"></div>

                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{row.formula}}
                        </td>
                        <td class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{monitoreo_producto.tipometa(row.unidad_medida).nombre}}
                        </td>
                        <td class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{row.medio_verificacion}}
                        </td>
                        <td class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{monitoreo_producto.direccionmeta(row.indicador_data.dir)}}
                        </td>
                        <td class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{row.ano_linea_base}}
                        </td>
                        <td class="{{(row.indicador||'').trim()?'':'noindicador'}}">
                            {{row.linea_base}}
                        </td>
                        <td>
	<span  ng-click="monitoreo_producto.nuevaFicha(row.indicador_data)" title="{{(<%=scope%>.pequenoHistorial[row.indicador_data.indicador_id]||{}).ponderacion.titulo}}" style="cursor: pointer;padding: 10px;border-radius: 20px;color:white;font-weight: bold;background-color: {{(<%=scope%>.pequenoHistorial[row.indicador_data.indicador_id]||{}).ponderacion.color}}">
		{{(<%=scope%>.pequenoHistorial[row.indicador_data.indicador_id]||{}).cumplimiento||0}}%
	</span>
                        </td>
                        <td class="{{(row.indicador||'').trim()?'':'noindicador'}}"
                            ng-if="ra.value!=='D' && ra.value!=='%'" colspan="{{ra.value==='Alerta'?3:1}}" ng-repeat="(ka,ra ) in monitoreo_producto.poa_valor"
                            style="{{ra.value==='Alerta'? (monitoreo_producto.permissionNormal(row.indicador_id,ra.id).condition==1?'border: #ea7481 outset;':''  ):'' }}">
                            <span ng-if="ra.value==='P'">
                               {{monitoreo_producto.ano_single(row.indicador_data.anos,ra.id,row.indicador_data.tipo_meta)}}
                            </span>
                            <span ng-if="ra.value==='A'">
                                   {{monitoreo_producto.ano_single(row.indicador_data.anos_a,ra.id,row.indicador_data.tipo_meta)}}
                               </span>
                            <span ng-if="ra.value==='Dedo'" style="display:none">
                                   {{monitoreo_producto.dif(row,ra)}}
                            </span>
                            <span ng-if="ra.value==='%'">
                                   {{monitoreo_producto.percent(row,ra)}}%
                            </span>
                            <span ng-if="ra.value==='Alerta'" ng-show="monitoreo_producto.pasado(row,ra)"
                                  ng-dblclick="<%= scope %>.alertme('warning',<%= scope %>.permissionNormal(row.indicador_id,ra.id).debug||'Es posible que se pueda modificar ya que no posee valor alcanzado.')"
                            >
                                <table style="width: 100%"
                                       ng-if="monitoreo_producto.permissionNormal(row.indicador_id,ra.id).sinllegar!=1">
                                <tr>
                                    <td colspan="2" style="height: 50px;text-align: center" dragonlanguage="">

                                          <a style="float: left;margin-bottom: 20px; font-size: 15px;"
                                             ng-click="monitoreo_producto.verLosFile('poa',row.indicador_id,ra.id)"
                                             title="Ver posibles evidencias"><language>Evidencias</language></a>

                                        <a style="margin-bottom: 20px; font-size: 15px;{{monitoreo_producto.permissionNormal(row.indicador_id, ra.id).allow==1?'text-decoration: underline; color: blue !important':''}}"
                                           ng-click="monitoreo_producto.openIndicadorComment('indicador poa',row.indicador_id,true,ra.id)"
                                           title="Ver o hacer observaciones al {{item.records[0].indicador_data.monitoreo_nombre}} {{ra.id}}"><language>Observaciones</language></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div title="{{monitoreo_producto.alert_tootip(row,ra)}}" class="shape_element"
                                             style="background: {{(<%=scope%>.pequenoHistorial[row.indicador_data.indicador_id]||{}).ponderacion.color}};"> </div>
                                    </td>
                                </tr>
                                     <tr>
                                    <td style="text-align: center">
                                        <button
                                                ng-if="monitoreo_producto.permissionNormal(row.indicador_id, ra.id).condition==1"
                                                style="margin-top: 10px;" title="Validar" type="button"
                                                class="btn bg-success btn-xs mr-0"
                                                ng-click="monitoreo_producto.validar(row,ra.id)">
                                            <b><i class="icon-check"></i></b>
                                        </button>
                                    </td>
                                         <td>
                                        <button title="Devolver" type="button" class="btn bg-danger btn-xs mr-0"
                                                style="margin-top: 10px;margin-left: 10px"
                                                ng-if="monitoreo_producto.permissionNormal(row.indicador_id, ra.id).condition!=1"
                                                ng-click="monitoreo_producto.devolver(row,ra.id)">
                                            <b><i class="icon-rotate-ccw2"></i></b>
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            </span>
                        </td>

                    </tr>
                    <tr style="background-color: #cccccc">
                        <td colspan="{{monitoreo_producto.colspaninit}}" style="text-align: center">
                            ---
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>


        </div>
    </div>
</div><!--end-->
<script>

</script>
