<div class="subcontent">
    <div class="tab-pane active" id="basic">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="tab-pane active" id="basic">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="padding: 5px">
                                <h6 style="margin-left: 10px">Datos de la auditoría</h6>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <label class="control-label is-visible animate ng-binding" style="margin-bottom: 0px">Nombre</label>
                                        <input id="nombre" disabled="true" class="form-control" ng-model="auditoria_programa_plan.dataForWork.nombre">
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <label class="control-label is-visible animate ng-binding" style="margin-bottom: 0px">Tipo de Auditoría</label>
                                        <input id="nombre" disabled="true" class="form-control" ng-model="auditoria_programa_plan.dataForWork.tipo_auditoria_nombre">
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <label class="control-label is-visible animate ng-binding" style="margin-bottom: 0px">Estatus</label>
                                        <input id="nombre" disabled="true" class="form-control" ng-model="auditoria_programa_plan.dataForWork.estatus_nombre">
                                    </div>
                                    <div class="col-sm-12 col-md-4" style="margin-top: 16px">
                                        <ol ng-show="auditoria_programa_plan.auditoria_auditores.length > 0" style="display: none">
                                            <li ng-repeat="(key,row) in auditoria_programa_plan.auditoria_auditores" class="" style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px;">
                                                {{row.usuario_nombre}} {{row.lider ? '(Líder)' : '' }}
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="vw_documentos_asociados_view" ng-controller="vw_documentos_asociados_view as vw_documentos_asociados_view">
                        <div class="panel panel-flat">
                            <%- include('../../7-plugins/templates/table/header',{scope:'vw_documentos_asociados_view'}); %>
                            <div class="subcontent">
                                <%- include('../../5-views/vw_documentos_asociados_view/base',{scope:'vw_documentos_asociados_view'}); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <button
                        dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
                        type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
                        onclick="MODAL.close()">
                    <b><i class="icon-cross2"></i></b>
                    <language>MESSAGE.ic('mono.cancel')</language>
                </button>
                <button
                        ng-show="auditoria_programa_plan.allow_autorize_audit_view()"
                        dragonlanguage="" title="Notificar a calidad"
                        type="button" class="btn bg-<%= COLOR.primary %> btn-labeled btn-xs pull-right"
                        onclick="MODAL.close()">
                    <b><i class="icon-envelop3"></i></b>
                    <language>Notificar a calidad</language>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    <%= scope %>.refreshAngular();
    if (auditoria_programa_plan.viewSoyLider){
        vw_documentos_asociados_view.fixFilters = [{
            "field": "auditoria",
            "value": auditoria_programa_plan.mi_id
        }];
    }else{
        BASEAPI.list('vw_auditoria_programa_plan_documentos_asociados_responsables',{
            limit:0,
            where:[
                {
                    field: "programa_plan",
                    value: auditoria_programa_plan.mi_id
                },
                {
                    field: "usuario",
                    value: auditoria_programa_plan.session.id
                }
            ]
        },function(result){
            if (result.data.length > 0){
                let documentos_asoc_id = [];
                for (var i of result.data){
                    documentos_asoc_id.push(i.documento_asociado)
                };
                vw_documentos_asociados_view.fixFilters = [
                    {
                        "field": "auditoria",
                        "value": auditoria_programa_plan.mi_id
                    },
                    {
                        "field": "id",
                        "value":  documentos_asoc_id
                    },
                    {
                        "field": "usuario",
                        "value":  auditoria_programa_plan.session.id
                    },
                ];
                setTimeout(function(){
                    vw_documentos_asociados_view.refresh();
                },100)

            }
        })
    }
</script>
<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<textarea style="overflow: hidden; overflow-wrap: break-word;" ng-disabled="!indicador_producto_poa.edit" ng-model="indicador_producto_poa.commentValue" class="form-control comment_result"></textarea>-->
    <!--</div>-->
<!--</div>-->
<!--<script>-->
    <!--setTimeout(function () {-->
        <!--autosize($('.comment_result'));-->
    <!--},100);-->

    <!--$('#btnS').on('click',function () {-->
        <!--$(`[name=${indicador_producto_poa.commentName}]`).val($('.comment_result').val());-->
        <!--var comment = $('.comment_result').val();-->
        <!--SWEETALERT.loading({message: MESSAGE.ic('mono.procesing')});-->
        <!--BASEAPI.updateall('indicador_poa_periodo', {-->
            <!--"comentario": comment,-->
            <!--"updated_at":  new date().now(),-->
            <!--'updated_by': indicador_producto_poa.usuario_id,-->
            <!--where: [{-->
                <!--"field": "id",-->
                <!--"value": indicador_producto_poa.ids-->
            <!--}]-->
        <!--}, function (result) {-->

        <!--});-->
        <!--SWEETALERT.stop();-->
        <!--MODAL.close();-->
    <!--});-->
<!--</script>-->
