<div class="row"></div>
<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                <label style="font-family: 'Arial Narrow'; font-size: 21px;">Información</label>
            </div>
            <div class="panel-body" style="padding-bottom: 0;">
                <div class="row">
                    <div class='col-sm-3 col-md-3'>
                        <%- FORM.inputview('nombre', scope, {}) %>
                    </div>
                    <div class='col-sm-3 col-md-3'>
                        <%- FORM.daterange('range_date', scope, {
                            from: "fecha_inicio",
                            to: "fecha_fin",
                            disabled: true
                        }) %>
                    </div>
                    <div class='col-sm-2 col-md-2'>
                        <%- FORM.select('tipo_auditoria', scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: true,
                            text: "item.nombre",
                            value: "id",
                            table: "tipo_auditorias",
                            icon: {class: "archive"},
                            truelabel: "Tipo de Auditoría"
                        }) %>
                    </div>
                    <div class='col-sm-2 col-md-2'>
                        <%- FORM.select('prioridad', scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: true,
                            text: "item.nombre",
                            value: "id",
                            table: "auditoria_programa_plan_prioridad",
                            icon: {class: "archive"},
                            truelabel: "Prioridad"
                        }) %>
                    </div>
                    <div class='col-sm-2 col-md-2'>
                        <%- FORM.select('estatus_view', scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: true,
                            text: "item.nombre",
                            value: "id",
                            table: "vw_auditoria_programa_plan_estatus",
                            condition: "item.entidad == 'auditoria_programa_plan'",
                            icon: {class: "archive"},
                            truelabel: "Estatus",
                        }) %>
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.textarea('descripcion', scope, {
                            disabled: true
                            //maxlength: 200,
                        }) %>
                    </div>
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.textarea('objetivo', scope, {
                            trueplaceholder: "Objetivo",
                            disabled: true
                            //maxlength: 200,
                        }) %>
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.textarea('criterio', scope, {
                            disabled: true,
                            trueplaceholder: "Criterio de Auditoría"
                            //maxlength: 200,
                        }) %>
                    </div>

                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.textarea('alcance', scope, {
                            disabled: true,
                            //maxlength: 200,
                        }) %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-4" style="margin-top: 0px">
                        <div ng-show="false">
                            <%- FORM.select("auditoria_plan_departamento", scope, {
                                allowedit: false,
                                allowlist: false,
                                allownew: false,
                                allowview: false,
                                multiple: true,
                                text: "item.nombre",
                                value: "id",
                                table: "departamento",
                                icon: {class: "archive"},
                                truelabel: "Departamentos Auditados",
                                condition: "(item.compania == auditoria_programa_plan.session.compania_id && item.institucion == $null) && (item.active)",
                                get: {
                                    table: 'auditoria_programa_plan_departamento',
                                    fieldFrom: 'id',
                                    fieldTo: 'programa_plan',
                                    field: 'departamento'
                                },
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                        <label class="control-label is-visible animate ng-binding"
                               style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; color:#000000 !important;">
                            Departamentos Auditados
                        </label>
                        <ol ng-show="auditoria_programa_plan.departamento_list.data.length > 0" style="">
                            <li ng-repeat="(key,row) in auditoria_programa_plan.departamento_list.data" class=""
                                style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; color: #888888 !important">
                                {{row.nombre}}
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-12 col-md-4" style="margin-top: 0px">
                        <div ng-show="false">
                            <%- FORM.select("auditoria_plan_participantes", scope, {
                                allowedit: false,
                                allowlist: false,
                                allownew: false,
                                allowview: false,
                                multiple: true,
                                text: "item.nombre + ' ' + item.apellido",
                                value: "id",
                                table: "usuario",
                                icon: {class: "archive"},
                                truelabel: "Participantes",
                                get: {
                                    table: 'auditoria_programa_plan_participantes',
                                    fieldFrom: 'id',
                                    fieldTo: 'programa_plan',
                                    field: 'usuario',
                                },
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                        <label style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px;">
                            Participantes Departamentales del Plan de Auditoría</label>
                        <ol ng-show="auditoria_programa_plan.real_participantes_list.data.length > 0" style="">
                            <li ng-repeat="(key,row) in auditoria_programa_plan.real_participantes_list.data" class=""
                                style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; color: #888888 !important">
                                {{row.nombre + ' ' + row.apellido}} ({{row.departamento}})
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-12 col-md-4" style="margin-top: 0px">
                        <div ng-show="false">
                            <%- FORM.select("auditoria_plan_responsable", scope, {
                                allowedit: false,
                                allowlist: false,
                                allownew: false,
                                allowview: false,
                                multiple: true,
                                text: "item.nombre + ' ' + item.apellido",
                                value: "id",
                                table: "usuario",
                                icon: {class: "archive"},
                                truelabel: "Participantes",
                                get: {
                                    table: 'auditoria_programa_plan_equipotrabajo',
                                    fieldFrom: 'id',
                                    fieldTo: 'programa_plan',
                                    field: 'usuario',
                                    where_delete: {
                                        field: "esresponsable",
                                        operator: "is",
                                        value: "$null"
                                    }
                                },
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            }) %>
                        </div>
                        <label class="control-label is-visible animate ng-binding"
                               style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; color:#000000 !important;">
                            Auditores Participantes
                        </label>
                        <ol ng-show="auditoria_programa_plan.participantes_list.data.length > 0" style="">
                            <li ng-repeat="(key,row) in auditoria_programa_plan.participantes_list.data" class=""
                                style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; color: #888888 !important">
                                {{row.nombre + ' ' + row.apellido}} {{auditoria_programa_plan.get_rol(row.id)}}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12" style="padding-left: 0; margin-top: -15px">
            <div ng-show="false"><%- FORM.select("auditoria_plan_documentos_asociados", scope, {
                    allowedit: false,
                    allowlist: false,
                    allownew: false,
                    allowview: false,
                    multiple: true,
                    text: "item.nombre_drp",
                    value: "id",
                    table: "vw_documentos_asociados_pv",
                    icon: {class: "archive"},
                    truelabel: "Documentos Asociados",
                    get: {
                        table: 'auditoria_programa_plan_documentos_asociados',
                        fieldFrom: 'id',
                        fieldTo: 'programa_plan',
                        field: 'documento_asociado',
                        where_delete: {
                            field: "trabajado",
                            operator: "!=",
                            value: 1
                        }
                    },
                    // parent: {
                    //     model: 'eje_estrategico',
                    //     myfield: 'id',
                    //     sufield: 'id'
                    // },
                }) %></div>
            <div class="panel panel-default" style="margin-left: 10px; margin-bottom: 0px;">
                <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                    <label style="font-family: 'Arial Narrow'; font-size: 18px;">Procesos y Documentos a Auditar</label>
                </div>
                <div class="panel-body">
                    <table class=" table table-bordered"
                           ng-show="auditoria_programa_plan.documentos_asociados_list.data.length > 0"
                           style="margin-top: -15px;">
                        <thead class="">
                        <tr class="bg-secundary">
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    Proceso
                                </a>
                            </th>
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    Responsable del proceso
                                </a>
                            </th>
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    Código - Nombre del Documento
                                </a>
                            </th>
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    Auditor Responsable de Auditar Documento
                                </a>
                            </th>
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    Punto de Verificación
                                </a>
                            </th>
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    ¿Cumple?
                                </a>
                            </th>
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    Tipo de No Conformidad
                                </a>
                            </th>
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    Observación
                                </a>
                            </th>
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    Evidencia
                                </a>
                            </th>
                            <th style="text-align: center; vertical-align: middle" height="0">
                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                   class="ng-binding ng-scope">
                                    Comentario final de la auditoría
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,row) in auditoria_programa_plan.documentos_asociados_list_view.data"
                            repeat-end="auditoria_programa_plan.get_files()" class=""
                            style="font-family: 'Arial Narrow';font-size: 15px; text-align: center; vertical-align: middle">
                            <td
                                rowspan="{{<%= scope %>.sp_('d.nombre_proceso',key,auditoria_programa_plan.documentos_asociados_list_view.data)}}"
                                ng-if="<%= scope %>.sm_('d.nombre_proceso',key,auditoria_programa_plan.documentos_asociados_list_view.data)">
                                {{row.nombre_proceso}}
                            </td>
                            <td
                                rowspan="{{<%= scope %>.sp_('d.nombre_proceso+d.responsable_proceso',key,auditoria_programa_plan.documentos_asociados_list_view.data)}}"
                                ng-if="<%= scope %>.sm_('d.nombre_proceso+d.responsable_proceso',key,auditoria_programa_plan.documentos_asociados_list_view.data)">
                                {{row.responsable_proceso}}
                            </td>
                            <td
                                rowspan="{{<%= scope %>.sp_('d.nombre_proceso+d.responsable_proceso + d.codigo ',key,auditoria_programa_plan.documentos_asociados_list_view.data)}}"
                                ng-if="<%= scope %>.sm_('d.nombre_proceso+d.responsable_proceso + d.codigo',key,auditoria_programa_plan.documentos_asociados_list_view.data)">
                                {{row.codigo}} - {{row.nombre}}
                            </td>
                            <td rowspan="{{<%= scope %>.sp_('d.nombre_proceso+d.responsable_proceso + d.codigo + d.responsable_ducumento',key,auditoria_programa_plan.documentos_asociados_list_view.data)}}"
                                ng-if="<%= scope %>.sm_('d.nombre_proceso+d.responsable_proceso + d.codigo + d.responsable_ducumento',key,auditoria_programa_plan.documentos_asociados_list_view.data)">
                                {{row.responsable_ducumento}}
                            </td>
                            <td>
                                {{row.punto_verificacion}}
                            </td>
                            <td>
                                {{row.cumple == 1 ? 'Sí' : row.cumple == 0 ? 'No' : '' }}
                            </td>
                            <td>
                                {{row.tipo_inconformidad}}
                            </td>
                            <td>
                                {{row.observaciones}}
                            </td>
                            <td>
                                <a title='Ver imagen' ng-click="auditoria_programa_plan.verFile('archivo','',row);"><i
                                            class='icon-files-empty'
                                            ng-show="auditoria_programa_plan.check_file(row)"></i>
                                </a>
                            </td>
                            <td     rowspan="{{<%= scope %>.sp_('d.nombre_proceso+d.responsable_proceso + d.codigo',key,auditoria_programa_plan.documentos_asociados_list_view.data)}}"
                                    ng-if="<%= scope %>.sm_('d.nombre_proceso+d.responsable_proceso + d.codigo',key,auditoria_programa_plan.documentos_asociados_list_view.data)">
                                {{row.comentfinal}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-sm-6 col-md-6' style="padding-right: 0">
            <div class="tab-pane active">
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                        <label style="font-family: 'Arial Narrow'; font-size: 18px;">Recomendaciones de Mejora,
                            Sugerencias y Comentarios Finales de los Auditores</label>
                    </div>
                    <div class="panel-body" style="max-height: 500px; overflow: auto;">
                        <div ng-bind-html="auditoria_programa_plan.recomendaciones"
                             ng-if="auditoria_programa_plan.recomendaciones"
                             style="border: solid 1px lightgrey; margin-bottom: 10px; padding: 10px; text-align: justify;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-sm-6 col-md-6' style="padding-left: 0">
            <div class="tab-pane active">
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                        <label style="font-family: 'Arial Narrow'; font-size: 18px;">Puntos de Vista de los
                            participantes departamentales</label>
                    </div>
                    <div class="panel-body" style="max-height: 500px; overflow: auto;">
                        <div ng-repeat="(key, row) in auditoria_programa_plan.informes_auditoria.data"
                             style="border: solid 1px lightgrey; margin-bottom: 10px; padding: 10px">
                            <div style="margin-bottom: 0; text-align: justify;">
                                <p ng-bind-html="row.recomendaciones"></p>
                                <strong style="float: right; margin-top: -20px"> - {{row.creadopor_nombre}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="modal-footer dragonformfooter" dragonlanguage="" id="btnformfooter" style="padding-right: 0">
     <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
            <i class="position-right"></i>
     </span>
    <button

            dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
            type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.closeModal()">
        <b><i class="icon-cross2"></i></b>
        <language>MESSAGE.ic('mono.cancel')</language>
    </button>
    <button ng-show="<%= scope %>.estatus > 6 || <%= scope %>.estatus == 5"

            dragonlanguage="" title="Exportar informe Preliminar"
            type="button" class="btn bg-<%= COLOR.primary %> btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.openmodalField()">
        <b><i class="icon-printer2"></i></b>
        <language>Imprimir informe Preliminar</language>
    </button>
</div>





