<div class="row"></div>
<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                <label style="font-family: 'Arial Narrow'; font-size: 21px;">Datos Principales</label>
            </div>
            <div class="panel-body" style="margin-bottom: 0;">
                <div class="row">
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.inputview('nombre', scope, {}) %>
                    </div>
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.select('estatus', scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            text: "item.permitido",
                            value: "id",
                            table: "vw_auditoria_programa_plan_estatus",
                            icon: {class: "archive"},
                            truelabel: "Estatus",
                            condition: "item.plan_status == auditoria_programa_plan.my_true_estatus && item.entidad == 'auditoria_programa_plan'"
                        }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                <label ng-show="!auditoria_programa_plan.change_message()" style="font-family: 'Arial Narrow'; font-size: 21px;">Trabajar Lista de Verificación <span style="font-size: 18px">(Ir a la columna de Acciones)</span></label>
                <label ng-show="auditoria_programa_plan.change_message()" style="font-family: 'Arial Narrow'; font-size: 21px;">Trabajar Lista de Verificación <span style="font-size: 18px">(Ir a la columna de marcar como revisado)</span></label>

            </div>
            <div class="panel-body" style="padding: 30px 0 0 0;">
                <div class="row">
                    <div class="col-sm-12 col-md-6" style="padding-right: 0; margin-top: -15px">
                        <div ng-show="false"> <%- FORM.select("auditoria_plan_proceso", scope, {
                                allowedit: false,
                                allowlist: false,
                                allownew: false,
                                allowview: false,
                                multiple: true,
                                text: "item.nombre_drp",
                                value: "id",
                                table: "vw_procesos",
                                icon: {class: "archive"},
                                truelabel: "Procesos a Auditar",
                                get: {
                                    table: 'auditoria_programa_plan_proceso',
                                    fieldFrom: 'id',
                                    fieldTo: 'programa_plan',
                                    field: 'proceso',
                                    where_delete: {
                                        field: "revisado",
                                        operator: "is",
                                        value: "$null"
                                    }
                                },
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            })%></div>
                        <div class="panel panel-default" style="margin-bottom: 0;">
                            <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                                <label style="font-family: 'Arial Narrow'; font-size: 18px;">Lista de Procesos a Auditar</label>
                                <ul class="breadcrumb-elements visible-elements">
                                    <li>
                                        <a id="add-proceso" ng-click="auditoria_programa_plan.add_proceso()" class="legitRipple" style="margin-top: -5px;">
                                            <i title="Añadir" class="icon-plus-circle2"></i>&nbsp;
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <table class=" table table-togglable table-framed sindu-table"  ng-show="auditoria_programa_plan.procesos_list.data.length > 0 && auditoria_programa_plan.my_true_estatus > 3" style="margin-top: -15px;">
                                    <thead class="">
                                    <tr class="bg-secundary">
                                        <th style="text-align: center; vertical-align: middle" height="0">
                                            <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                               class="ng-binding ng-scope">
                                                Nombre
                                            </a>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle" height="0">
                                            <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                               class="ng-binding ng-scope">
                                                Responsable
                                            </a>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle" height="0">
                                            <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                               class="ng-binding ng-scope">
                                                ¿Revisado?
                                            </a>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle" height="0">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key,row) in auditoria_programa_plan.procesos_list.data" class=""
                                        style="font-family: 'Arial Narrow';font-size: 15px; text-align: center; vertical-align: middle">
                                        <td>
                                            {{row.nombre}}
                                        </td>
                                        <td>
                                            {{row.responsable_nombre}}
                                        </td>
                                        <td>
                                            {{ auditoria_programa_plan.check_proceso(row.id) ? 'Sí' : 'No' }}
                                        </td>
                                        <td class="context-control"
                                            oncontextmenu="return false;">
                                            <ul class="icons-list dragon-action"
                                                style="z-index: 99999; text-align: center;">
                                                <li class="ng-scope" ng-show="auditoria_programa_plan.done_proceso(row.id) && auditoria_programa_plan.my_true_estatus > 3">
                                                    <a title="Marcar este Proceso como revisado"
                                                       ng-click="<%= scope %>.revisar_proceso(row)">
                                                        <i class=" icon-checkmark-circle2"></i>
                                                    </a>
                                                </li>
                                                <li class="ng-scope" ng-show="<%= scope %>.permitir_borrar(row.id)">
                                                    <a title="Eliminar este proceso"
                                                       ng-click="<%= scope %>.eliminar_proceso(row)">
                                                        <i class="icon-bin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" style="padding-left: 0; margin-top: -15px">
                        <div ng-show="false"><%- FORM.select("auditoria_plan_documentos_asociados", scope, {
                                allowedit: false,
                                allowlist: false,
                                allownew: false,
                                allowview: false,
                                multiple: true,
                                text: "item.nombre_drp",
                                value: "id",
                                table: "vw_documentos_asociados_drp",
                                icon: {class: "archive"},
                                truelabel: "Documentos Asociados",
                                get: {
                                    table: 'auditoria_programa_plan_documentos_asociados',
                                    fieldFrom: 'id',
                                    fieldTo: 'programa_plan',
                                    field: 'documento_asociado',
                                    dont_insert: true,
                                    where_delete: {
                                        field: "trabajado",
                                        operator: "!=",
                                        value: 1
                                    }
                                },
                                // parent: {
                                //     model: 'eje_estrategico',
                                //     myfield: 'id',
                                //     sufield: 'id'
                                // },
                            })%></div>
                        <div class="panel panel-default" style="margin-bottom: 0;">
                            <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                                <label style="font-family: 'Arial Narrow'; font-size: 18px;">Documentos a Auditar</label>
                                <ul class="breadcrumb-elements visible-elements">
                                    <li>
                                        <a ng-click="auditoria_programa_plan.add_documento()" class="legitRipple" style="margin-top: -5px;">
                                            <i title="Añadir" class="icon-plus-circle2 custom"></i>&nbsp;
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <table class=" table table-togglable table-framed sindu-table" ng-show="auditoria_programa_plan.documentos_asociados_list.data.length > 0" style="margin-top: -15px;">
                                    <thead class="">
                                        <tr class="bg-secundary">
                                            <th style="text-align: center; vertical-align: middle" height="0">
                                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                                   class="ng-binding ng-scope">
                                                    Proceso
                                                </a>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle" height="0">
                                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                                   class="ng-binding ng-scope">
                                                    Código
                                                </a>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle" height="0">
                                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                                   class="ng-binding ng-scope">
                                                    Nombre
                                                </a>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle" height="0">
                                                <a style="cursor: pointer;color: #FFF !important;text-decoration: underline"
                                                   class="ng-binding ng-scope">
                                                    Estatus
                                                </a>
                                            </th>
                                            <th style="text-align: center; vertical-align: middle" ng-show="auditoria_programa_plan.my_true_estatus <= 3" height="0">Agregar Lista de Verificación</th>
                                            <th style="text-align: center; vertical-align: middle" title="Dar click sobre el registro deseado" ng-show="auditoria_programa_plan.my_true_estatus > 3" height="0">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key,row) in auditoria_programa_plan.documentos_asociados_list.data" class=""
                                        style="font-family: 'Arial Narrow';font-size: 15px; text-align: center; vertical-align: middle">
                                        <td>
                                            {{row.nombre_proceso}}
                                        </td>
                                        <td>
                                            {{row.codigo}}
                                        </td>
                                        <td>
                                            {{row.nombre}}
                                        </td>
                                        <td ng-show="auditoria_programa_plan.my_true_estatus <= 3">
                                            {{'Abierto'}}
                                        </td>
                                        <td ng-show="auditoria_programa_plan.my_true_estatus > 3">
                                            {{ !auditoria_programa_plan.hide_work_documento(row.id) ? 'Abierto' : 'Trabajado' }}
                                        </td>
                                        <td class="context-control"
                                            oncontextmenu="return false;">
                                            <ul class="icons-list dragon-action"
                                                style="z-index: 99999; text-align: center;">
                                                <li class="ng-scope" ng-show="auditoria_programa_plan.my_true_estatus <= 3 || <%= scope %>.permitir_crear_eliminar(row.id)">
                                                    <a title="Agregar lista de verificación"
                                                       ng-click="<%= scope %>.add_work_list(row)">
                                                        <i class="icon-file-plus2"></i>
                                                    </a>
                                                </li>
                                                <li class="ng-scope" ng-show="auditoria_programa_plan.check_responsable_documento(row) && auditoria_programa_plan.tiene_listaverificacion(row.id)">
                                                    <a ng-show="(auditoria_programa_plan.my_true_estatus > 3 && !auditoria_programa_plan.hide_work_documento(row.id))"
                                                       style="color: black"
                                                       title="Trabajar Lista de Verificación"
                                                       ng-click="<%= scope %>.work_documento(row)">
                                                        <i class="icon-hammer-wrench"></i>
                                                    </a>
                                                </li>
                                                <li class="ng-scope" ng-show="(auditoria_programa_plan.my_true_estatus > 3 && auditoria_programa_plan.check_responsable_documento(row) ) && auditoria_programa_plan.tiene_listaverificacion(row.id)">
                                                    <a ng-show="(auditoria_programa_plan.done_documento(row.id) && !auditoria_programa_plan.hide_work_documento(row.id))"
                                                       style="color: black"
                                                       title="Marcar como Trabajado"
                                                       ng-click="auditoria_programa_plan.work_doc_estatus(row)">
                                                        <i class="icon-check"></i>
                                                    </a>
                                                </li>
                                                <li class="ng-scope" ng-show="auditoria_programa_plan.my_true_estatus > 3 && auditoria_programa_plan.tiene_listaverificacion(row.id)">
                                                    <a ng-show="(!auditoria_programa_plan.done_documento(row.id) && !auditoria_programa_plan.check_responsable_documento(row))"
                                                       style="color: black"
                                                       title="Ver puntos trabajados"
                                                       ng-click="auditoria_programa_plan.view_doc(row)">
                                                        <i class="icon-eye"></i>
                                                    </a>
                                                </li>
                                                <li class="ng-scope" ng-show="auditoria_programa_plan.my_true_estatus > 3 && auditoria_programa_plan.tiene_listaverificacion(row.id)">
                                                    <a ng-show="(auditoria_programa_plan.done_documento(row.id))"
                                                       style="color: black"
                                                       title="Ver puntos trabajados"
                                                       ng-click="auditoria_programa_plan.view_doc(row)">
                                                        <i class="icon-eye"></i>
                                                    </a>
                                                </li>
                                                <li class="ng-scope" ng-show="<%= scope %>.permitir_crear_eliminar(row.id)">
                                                    <a title="Eliminar este proceso"
                                                       ng-click="<%= scope %>.eliminar_documento(row)">
                                                        <i class="icon-bin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                <label style="font-family: 'Arial Narrow'; font-size: 21px;">Datos Generales</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.select('prioridad', scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: true,
                            text: "item.nombre",
                            value: "id",
                            table: "auditoria_programa_plan_prioridad",
                            icon: {class: "archive"},
                            truelabel: "Prioridad"
                        }) %>
                    </div>
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.select('tipo_auditoria', scope, {
                            allowedit: false,
                            allowlist: false,
                            allownew: false,
                            allowview: false,
                            disabled: true,
                            text: "item.nombre",
                            value: "id",
                            table: "tipo_auditorias",
                            icon: {class: "archive"},
                            truelabel: "Tipo de Auditoría"
                        }) %>
                    </div>
                    <div class='col-sm-4 col-md-4'>
                        <%- FORM.daterange('range_date', scope, {
                            from: "fecha_inicio",
                            to: "fecha_fin",
                            disabled: true
                        }) %>
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.textarea('descripcion', scope, {
                            disabled: true
                                    //maxlength: 200,
                        }) %>
                    </div>
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.textarea('objetivo', scope, {
                            trueplaceholder: "Objetivo",
                            disabled: true
                                    //maxlength: 200,
                        }) %>
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.textarea('criterio', scope, {
                            disabled: true,
                            trueplaceholder: "Criterio de Auditoría"
                                    //maxlength: 200,
                        }) %>
                    </div>
                    <div class='col-sm-6 col-md-6'>
                        <%- FORM.textarea('alcance', scope, {
                                    disabled: true,
                                //maxlength: 200,
                        }) %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4" style="margin-top: 16px">
                        <div ng-show="false">
                            <%- FORM.select("auditoria_plan_departamento", scope, {
                                        allowedit: false,
                                        allowlist: false,
                                        allownew: false,
                                        allowview: false,
                                        multiple: true,
                                        text: "item.nombre",
                                        value: "id",
                                        table: "departamento",
                                        icon: {class: "archive"},
                                        truelabel: "Departamentos Auditados",
                                        condition: "(item.compania == auditoria_programa_plan.session.compania_id && item.institucion == $null) && (item.active)",
                                        get: {
                                            table: 'auditoria_programa_plan_departamento',
                                            fieldFrom: 'id',
                                            fieldTo: 'programa_plan',
                                            field: 'departamento'
                                        },
                                    // parent: {
                            //     model: 'eje_estrategico',
                            //     myfield: 'id',
                            //     sufield: 'id'
                            // },
                            })%>
                        </div>
                        <label style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px;">Departamentos Auditados</label>
                        <ol ng-show="auditoria_programa_plan.departamento_list.data.length > 0" style="">
                            <li ng-repeat="(key,row) in auditoria_programa_plan.departamento_list.data" class="" style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; color: #888888 !important">
                                {{row.nombre}}
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-12 col-md-4" style="margin-top: 16px">
                        <div ng-show="false">
                            <%- FORM.select("auditoria_plan_participantes", scope, {
                                allowedit: false,
                                allowlist: false,
                                allownew: false,
                                allowview: false,
                                multiple: true,
                                text: "item.nombre + ' ' + item.apellido",
                                value: "id",
                                table: "usuario",
                                icon: {class: "archive"},
                                truelabel: "Participantes",
                                get: {
                                    table: 'auditoria_programa_plan_participantes',
                                    fieldFrom: 'id',
                                    fieldTo: 'programa_plan',
                                    field: 'usuario',
                                },
                                    // parent: {
                            //     model: 'eje_estrategico',
                            //     myfield: 'id',
                            //     sufield: 'id'
                            // },
                            })%>
                        </div>
                        <label style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px;"> Participantes del Plan de Auditoría</label>
                        <ol ng-show="auditoria_programa_plan.real_participantes_list.data.length > 0" style="">
                            <li ng-repeat="(key,row) in auditoria_programa_plan.real_participantes_list.data" class="" style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; color: #888888 !important">
                                {{row.nombre}}
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-12 col-md-4" style="margin-top: 16px">
                        <div ng-show="false">
                            <%- FORM.select("auditoria_plan_responsable", scope, {
                                        allowedit: false,
                                        allowlist: false,
                                        allownew: false,
                                        allowview: false,
                                        multiple: true,
                                        text: "item.nombre + ' ' + item.apellido",
                                        value: "id",
                                        table: "usuario",
                                        icon: {class: "archive"},
                                        truelabel: "Participantes",
                                        get: {
                                            table: 'auditoria_programa_plan_equipotrabajo',
                                            fieldFrom: 'id',
                                            fieldTo: 'programa_plan',
                                            field: 'usuario',
                                            where_delete: {
                                                field: "esresponsable",
                                                operator: "is",
                                                value: "$null"
                                            }
                                        },
                                    // parent: {
                            //     model: 'eje_estrategico',
                            //     myfield: 'id',
                            //     sufield: 'id'
                            // },
                            })%>
                        </div>
                        <label style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px;">Auditores Participantes</label>
                        <ol ng-show="auditoria_programa_plan.participantes_list.data.length > 0" style="">
                            <li ng-repeat="(key,row) in auditoria_programa_plan.participantes_list.data" class="" style="font-family: 'Outfit',Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; color: #888888 !important">
                                {{row.nombre + ' ' + row.apellido}} {{auditoria_programa_plan.get_rol(row.id)}}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="modal-footer dragonformfooter" dragonlanguage="" id="btnformfooter" style="padding-right: 0">
     <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
            <i class="position-right"></i>
        </span>

    <button

            dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
            type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.closeModal()">
        <b><i class="icon-cross2"></i></b>
        <language>MESSAGE.ic('mono.cancel')</language>
    </button>
    <button ng-show="<%= scope %>.form.mode!=='new'"
            dragonlanguage="" title="MESSAGE.ic('mono.save')"
            type="button" role="button" class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.pages.form.save()">
        <b><i class="icon-floppy-disk"></i></b>
        <language>MESSAGE.ic('mono.save')</language>
    </button>
    <div class="btn-group dropup " ng-show="<%= scope %>.form.mode==='new'">
        <button
                style="margin-right: 1px !important;"
                dragonlanguage="" title="MESSAGE.ic('mono.save')"
                type="button" role="button" class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs"
                ng-click="<%= scope %>.pages.form.save()">
            <b><i class="icon-floppy-disk"></i></b>
            <language>MESSAGE.ic('mono.save')</language>
        </button>
        <button style="height: 34px;" type="button" class="btn bg-<%= COLOR.success %>-600 dropdown-toggle btn-xs"
                data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left">
            <li>
                <a ng-click="<%= scope %>.pages.form.save(undefined,undefined,false)" dragonlanguage="">
                    <i class="icon-floppy-disks"></i>
                    <language>MESSAGE.ic('mono.saveAndContinue')</language>
                </a>
            </li>
        </ul>
    </div>
</div>





