<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-3'>
                <%- FORM.color('color', scope, {}) %>
            </div>
            <div class='col-sm-2 col-md-2'>
                <%- FORM.integer('valor', scope, {
                    trueplaceholder: "Rango Desde",
                    maxlength: 18
                }) %>
            </div>
            <div class='col-sm-2 col-md-2'>
                <%- FORM.integer('valor_to', scope, {
                    trueplaceholder: "Rango Hasta",
                    maxlength: 18
                }) %>
            </div>
            <div style="text-align: center;" class="col-sm-1 col-md-1">
                <%- FORM.checkbox("proceso", scope, {truetext: "¿De proceso?"}) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('descripcion', scope, {
                    //maxlength: 200,
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





