<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat" id="tabsComment">
        <ul class="nav nav-<%= COLOR.primary %> nav-tabs <%= COLOR.primary %> nav-justified" dragonlanguage="">
            <li class="active" id="active_nivel_salida">
                <a href="#" data-toggle="tab" ng-click="<%= scope %>.change_filters_salida()">
                    <i class="position-left"></i>No Viculados a Proceso<i class="border-white  position-right"></i>
                </a>
            </li>
            <li class="" id="nivel_proceso">
                <a href="#" data-toggle="tab" ng-click="<%= scope %>.change_filters_proceso()">
                    <i class="position-left"></i>Viculados a Proceso<i class="border-white  position-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:scope}); %>
        <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:scope}); %>
        </div>
    </div>
</div><!--end-->